<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>header</title>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- 외부 css -->
<link href="/resources/css/common/header-footer-style.css" rel="stylesheet">
<!-- 외부 폰트 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
</head>
<body>
<!--<script src="/resources/js/admin/menuHeight.js"></script>-->

    <!-- header -->
    <div class="header">
        <header>
        <div class="sidebar-menu"></div>
       </header>
       
          <section id="menu-section">
            <ul class="sidebar-list">
              <li class="sidebar"><a href="/search/camp">캠핑장 검색</a></li>
              
              <th:block sec:authorize="hasRole('MEMBER')">
             	<li class="sidebar"><a href="/mypage/mypageGuestReserve">예약 확인</a></li>
              </th:block>
              <th:block sec:authorize="hasRole('COMPANY')">
              	<li class="sidebar"><a href="/mypage/mypageHostReserve">예약 확인</a></li>
              </th:block>
              
              <li class="sidebar"><a th:href="@{/board/list}">자유게시판</a></li>
              <li class="sidebar"><a href="/company/csCenter">고객센터</a></li>
            </ul>
          </section>
        <div class="main-logo">
          <a href="/main"><img src="/resources/images/common/header_footer/logo.png"> </a>
        </div>
        
    	<th:block sec:authorize="isAuthenticated()">
    	<div class="join-icon">
    	  <a href="/member/logout"><img src="/resources/images/member/logoutBtn.png"></a>
    	</div>
    	</th:block>
    	
    	<th:block sec:authorize="isAnonymous()">
        <div class="join-icon">
          <a href="/member/login"><img src="/resources/images/common/header_footer/join.png"></a>
        </div>
        </th:block>
    
    	<th:block sec:authorize="isAuthenticated()">
        <div class="mypage-icon">
        
			<th:block sec:authorize="hasAnyRole('MEMBER', 'COMPANY', 'ADMIN')">
			
				<a th:if="${#authorization.expression('hasRole(''MEMBER'')')}" href="/mypage">
					<img src="/resources/images/common/header_footer/member.png">
				</a>
				
				<a th:if="${#authorization.expression('hasRole(''COMPANY'')')}" href="/mypage">
					<img src="/resources/images/common/header_footer/member.png">
				</a>
				
				<a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" href="/admin/member">
					<img src="/resources/images/common/header_footer/member.png">
				</a>
				
			</th:block>
        
        </div>
    	</th:block>
      </div>

    
    
    <!-- 사이드 메뉴 효과 스크립트 -->
    <script>
      const menuToggle = document.querySelector('.sidebar-menu');
      const menuBar = document.getElementById('menu-section');

     menuToggle.addEventListener('click', () => {
      menuToggle.classList.toggle('close');
      menuBar.classList.toggle('close');
    });

  </script>
  
</body>
</html>