@charset "UTF-8";


.calculate_area{
    margin-top: 200px;
    margin-left: 30px;
}

.admin_outer {
    width: 1000px;
    margin: auto;
}

.admin_wrap {
    width: 980px;
}

ul, li {
	margin: 0;
	padding: 0;
}
/* 숙소신청 헤더 */
.calculate_title{
    padding-left: 20px;
    border-bottom: 1px solid black;
}
.calculate_title h2 {
    margin: 10px auto;
}

.calculate_list{
    min-height: 700px;
}
.calculate_list>ul {
    min-height: 60px;
	display: flex;
	justify-content: space-around;
	list-style: none;
    text-align: center;
    border-bottom: 1px solid rgb(213, 213, 213);
}
.calculate_list>ul>li {
    padding: 5px;
    /* white-space: pre-wrap; */
    /* overflow: visible; */
    word-break: break-all;
}
.calculate_header{
    min-height: 60px;
    /* flex에서 수직 정렬 */
    align-items: center;
}
.calculate_list .calcul_num {
    width: 10%;
}
.calculate_list .business_name {
    width: 13%;
}
.calculate_list .account_num {
    width: 15%;
}
.calculate_list .bank {
    width: 35%;
}
.calculate_list .sales_amount {
    width: 10%;
}

.calculate_list .settlement_amount {
    width: 10%;
}


.calculate_list .calculate {
    width: 10%;
}


/* 버튼 */
.calculate button {
    width: 4em;
    height: 2.3em;
    border: rgb(239, 239, 239);
    border-radius: 8px
}

.calculate button:hover,
.input_area + button:hover {
    cursor: pointer;
}

/* 페이징 */
.accomd_pages {
    margin: 10px;
}
.accomd_paging {
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    width: 480px;
    margin: auto;
    align-items: center;
}
.accomd_paging a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
}
.accomd_paging li{
    width: 45px;
}
.accomd_paging .current_page {
    background-color: black;
    border-radius: 100%;
    margin: 17px auto;
    width: 25px;
    height: 25px;
    color: white;
}
.accomd_paging .current_page a{
    color: white;
}

/* select 설정 */
.search_area select{
    -webkit-appearance: none;
    /* 네이티브 외형 감추기 */
    -moz-appearance: none; 
    appearance: none;
    /* label 여백 주기 */
    padding-left: 0.6em;;
    border: 1px solid #dadada;
}
.select_wrap{ /* 화살표 대체 */
    display: inline-block;
    position: relative;
}
.select_wrap:before{
    content:'';
    display: block;
    position: absolute;
    top: 55%;
    right: 8px;
    transform: translate(0,-50%);
    width: 0;
    height: 0;
    border:9px solid darkgray;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-bottom:none;
}

/* 검색 영역 */
.search_area {
    text-align: center;
    padding: 10px;
}
#searchCondition {
    width: 90px;
    height: 39px;
}
.input_area {
    width: 180px;
    height: 35px;
	border: solid 1px #dadada;
	padding: 8px 0;
	margin-right: 5px;
}
.conditionWrap {
   bottom: 2px;
}
.input_area input {
	width: 180px;
    height: 30px;
	border: 0px;
    padding: 0 .8em;
}

.input_area + button {
    width: 4em;
    height: 2.8em;
    border: rgb(239, 239, 239);
    border-radius: 8px;
}

.input_area input:focus,
.search_area select:focus {
	outline: none;
}