@charset "UTF-8";

.admin_outer {
    width: 1080px;
    margin: auto;
    font-family: 'Noto Sans KR', sans-serif;
}

.admin_wrap {
    width: 1080px;
}

ul, li {
    margin: 0;
	padding: 0;
}
.report_title{
    padding: 20px;
    border-bottom: 1px solid black;
}
.report_title h2 {
	display: inline;
    margin: 10px auto;
}
.report_title h2:hover {
	cursor: pointer;
}
.report_list{
    min-height: 700px;
}

.report_list>ul>li { /* 신고 사유 text */
    padding: 5px;
    word-break: break-all;
}

.report_list>ul {
    min-height: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
    text-align: center;
    border-bottom: 1px solid rgb(213, 213, 213);
}
.report_header{
    min-height: 60px;
}
.report_header .report_id:hover,
.report_header .report_reason:hover {
    cursor: default;
    text-decoration: none;
}
.report_list .report_pk {
    width: 9%;
}
.report_list .report_id {
    width: 12%;
}
.report_list .report_reporter {
    width: 12%;
}
.report_list .reporter_nickname {
    width: 12%;
}
.report_list .report_reason {
    width: 36%;
}
.report_list .report_date {
    width: 10%;
}
.report_list .report_type {
    width: 10%;
}
.report_list .report_update {
    width: 9%;
}

.report_list .delete {
    width: 36%;
    text-decoration: line-through;
}
.report_list .report_reason {
    width: 36%;
}
/* 신고 사유 */
.report_list .report_reason a{
	color: black;
    text-decoration: none;
}
.report_id:hover,
.report_reason a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* 완료 버튼 */
.report_update button {
    width: 4em;
    height: 2.3em;
    border: rgb(239, 239, 239);
    border-radius: 8px
}
.report_update button:hover {
    cursor: pointer;
}

/* 페이징 */
.admin_pages {
    margin: 10px;
}
.admin_paging {
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    width: 480px;
    margin: auto;
    align-items: center;
}
.admin_paging a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
}
.admin_paging li{
    width: 45px;
}
.admin_paging .current_page {
    background-color: black;
    border-radius: 100%;
    margin: auto;
    width: 28px;
    height: 28px;
}
.admin_paging .current_page a{
    color: white;
    font-weight: bold;
}