<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>정산 관리</title>
	<link href="/resources/css/admin/calculate.css" rel="stylesheet" type="text/css"></head>
	<link href="/resources/css/common/header-footer-style.css" rel="stylesheet" type="text/css">
<body>
<div th:replace="common/adminHeader.html"></div>

<div class="admin_outer">
        <div class="admin_wrap">

            <!-- 1. 정산 관리 -->
            <div class="calculate_area">
                <div class="calculate_title">
                    <h2>정산 관리</h2>
                </div>
                <div class="calculate_list">
                    <ul class="calculate_header">
                        <li class="calcul_num">속소번호</li>
                        <li class="business_name">사업자명</li>
                        <li class="account_num">계좌번호</li>
                        <li class="bank">은행</li>
                        <li class="sales_amount">월별 판매금액</li>
                        <li class="settlement_amount">월별 정산금액</li>
                        <li class="calculate">정산</li>
                    </ul>
                    <ul class="calculate_header">
                        <li class="calcul_num">0001</li>
                        <li class="business_name">김사업</li>
                        <li class="account_num">1234567</li>
                        <li class="bank">국민</li>
                        <li class="sales_amount">500000</li>
                        <li class="settlement_amount">450000</li>
                        <li class="calculate">
                            <button type="submit">정산하기</button>
                        </li>
                    </ul>
                </div>
	
	
	       <!--          2. 페이징 처리
                <div class="admin_pages">
                    <ul class="admin_paging">


                     맨 처음으로 이동하는 버튼(<<)
                     <li><a href="/admin/reportPage?page=1">&lt;&lt;</a></li>

                     이전 페이지로(<)
                     <li th:if="${ pi.page > 1 }"><a th:href="@{/admin/reportPage(page=${pi.page-1})}">&lt;</a></li>
                     <li th:unless="${ pi.page > 1 }"><a href="#">&lt;</a></li>

                     최대 10개의 페이지 목록
                     <li th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}">
                         <div class="current_page" th:if="${ p == pi.page }">
                             <a href="#" th:text="${ p }"></a>
                         </div>
                         <div th:if="${ p != pi.page }">
                             <a th:href="@{/admin/reportPage(page=${p})}" th:text="${ p }"></a>
                         </div>
                     </li>

                     다음 페이지로(>)
                     <li th:if="${ pi.page < pi.maxPage }"><a th:href="@{/admin/reportPage(page=${pi.page+1})}">&gt;</a></li>
                     <li th:unless="${ pi.page < pi.maxPage }"><a href="#">&gt;</a></li>
         

                     맨 끝으로 이동하는 버튼(>>)
                     <li><a th:href="@{/admin/reportPage(page=${pi.maxPage})}">&gt;&gt;</a></li>
                   </ul>
               </div>
 -->
	
	
	        </div>
	    </div>
   </div>
</body>
</html>