<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>정산 관리</title>
	<link href="/resources/css/admin/calculate.css" rel="stylesheet" type="text/css"></head>
	<link href="/resources/css/common/header-footer-style.css" rel="stylesheet" type="text/css">
<body>
<div th:replace="common/adminHeader.html"></div>

<div class="admin_outer">
        <div class="admin_wrap">

            <!-- 1. 정산 관리 -->
            <div class="calculate_area">
                <div class="calculate_title">
                    <h2>정산 관리</h2>
                </div>
                <div class="calculate_list">
                    <ul class="calculate_header">
                        <li class="calcul_num">속소번호</li>
                        <li class="business_name">사업자명</li>
                        <li class="account_num">계좌번호</li>
                        <li class="bank">은행</li>
                        <li class="month">월</li>
                        <li class="sales_amount">월별 판매금액</li>
                        <li class="settlement_amount">월별 정산금액</li>
                    </ul>
                    <ul class="calculate_header" th:each="calculate : ${ calculateList }">
                        <li id="campNo" class="calcul_num" th:text="${ calculate.campNo}"></li>
                        <li class="business_name" th:text="${ calculate.userName}"></li>
                        <li class="account_num"  th:text="${ calculate.accountNum}"></li>
                        <li class="bank" th:text="${ calculate.bank}"></li>
                        <li class="monInq">  
                        	<div class="select_wrap">                <!-- th:onchange="|monthLoad(this, ${calculate.campNo})|"  -->
		                        <select id="monInq" name="monInq" th:onchange="'monthLoad(this, '+${calculate.campNo}+')'">
									<option value="1" th:selected="${#strings.equals(param.month, '1')}">1</option>        	
									<option value="2" th:selected="${#strings.equals(param.month, '2')}">2</option>        	
									<option value="3" th:selected="${#strings.equals(param.month, '3')}">3</option>        	
									<option value="4" th:selected="${#strings.equals(param.month, '4')}">4</option>        	
									<option value="5" th:selected="${#strings.equals(param.month, '5')}">5</option>        	
									<option value="6" th:selected="${#strings.equals(param.month, '6')}">6</option>        	
						 			<option value="7" th:selected="${#strings.equals(param.month, '7')}">7</option>        	
									<option value="8" th:selected="${#strings.equals(param.month, '8')}">8</option>        	
									<option value="9" th:selected="${#strings.equals(param.month, '9')}">9</option>        	
									<option value="10" th:selected="${#strings.equals(param.month, '10')}">10</option>        	
									<option value="11" th:selected="${#strings.equals(param.month, '11')}">11</option>        	
									<option value="12" th:selected="${#strings.equals(param.month, '11')}">12</option>        	
		                        </select>
                        	</div>
                        </li>
                        <li class="sales_amount">500000</li>
                        <li class="settlement_amount">450000</li>
                    </ul>
					<div align="center"><p th:text="${noResult}"></p></div>
                </div>
	
	
	           <!--  2. 페이징 처리 -->
                <div class="admin_pages" th:if="${#strings.isEmpty(noResult)}">
                    <ul class="admin_paging">

                     <!-- 맨 처음으로 이동하는 버튼(<<) -->
                     <li><a href="/admin/calculate?page=1">&lt;&lt;</a></li>

                     <!-- 이전 페이지로(<) -->
                     <li th:if="${pi.page > 1}"><a th:href="@{/admin/calculate(page=${pi.page-1})}">&lt;</a></li>
                     <li th:unless="${ pi.page > 1 }"><a href="#">&lt;</a></li>

                   <!--   최대 10개의 페이지 목록(페이지바)-->
                     <li th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}">
                         <div class="current_page" th:if="${ p == pi.page }">
                             <a href="#" th:text="${ p }"></a>
                         </div>
                         <div th:unless="${ p == pi.page}">
                         	<a th:href="@{/admin/calculate(pageValue=${p})}" th:text="${p}"></a>
                         </div>
                     </li>

                    <!--  다음 페이지로(>) -->
                     <li th:if="${ pi.page < pi.maxPage }"><a th:href="@{/admin/calculate(page=${pi.page+1})}">&gt;</a></li>
                     <li th:unless="${ pi.page < pi.maxPage }"><a href="#">&gt;</a></li>
         

                    <!--  맨 끝으로 이동하는 버튼(>>) -->
                     <li><a th:href="@{/admin/calculate(page=${pi.maxPage})}">&gt;&gt;</a></li>
                   </ul>
               </div>
	        </div>
	    </div>
   </div>
   
   <script>
    function monthLoad(m, campNo){
    	
	   let month = $(m).val();

	   console.log("location.href=/admin/calculate?month="+month+"&campNo="+campNo);
	   
	   location.href="/admin/calculate?month="+month+"&campNo="+campNo;
	   //?month"+month+"&campNo="+campNo,
	   
	   
   }
    
   </script>
   
</body>
</html>