<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>숙소 관리</title>
<script>
	const successMessage = '[[${ successMessage }]]';
	
	if(successMessage) {
		alert(successMessage);
	}
</script>
<!-- css -->
<link href="/resources/css/admin/camp.css" rel="stylesheet" type="text/css">
<!-- css -->
<link href="/resources/css/common/header-footer-style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="common/adminHeader.html"></div>

    <div class="admin_outer">
        <div class="admin_wrap">


            <!-- 1. 숙소 관리 -->
            <div class="accomd_area">
                <div class="accomd_title">
                    <h2 onclick="location.href='/admin/camp'">숙소 관리</h2>
                </div>
                <div class="accomd_list">
                    <ul class="accomd_header">
                        <li class="accomd_pk">번호</li>
                        <li class="accomd_id">작성자</li>
                        <li class="accomd_date">신청일</li>
                        <li class="accomd_name">숙소명</li>
                        <li class="accomd_status">승인상태</li>
                        <li class="accomd_request">요청구분</li>
                        <li class="accomd_update">관리</li>
                    </ul>
                    <ul class="accomd_header" th:each="camp : ${ campList }">
                        <li class="accomd_pk" th:text="${ camp.campNo }"></li>
                        <li class="accomd_id" th:text="${ camp.userId }"></li>
                        <li class="accomd_date" th:each="cr : ${ camp.campRecordList }">
                        	<span th:text="${ #dates.format(cr.recordDate, 'yyyy-MM-dd') }"></span>
                        </li>
                        <li class="accomd_name" th:text="${ camp.campName }"></li>
                        <li class="accomd_request" th:each="cr : ${ camp.campRecordList }">
                        	<span th:text="${ cr.record.recordName }"></span>
                        </li>
                        <li class="accomd_status" th:if="${ camp.campStatus } == 'Y'">등록</li>
                        <li class="accomd_status" th:if="${ camp.campStatus } == 'N'">대기</li>
                        <li class="accomd_update" th:each="cr : ${ camp.campRecordList }">
                            <button th:if="${ cr.recordNo } == '1' OR ${ cr.recordNo } == '2'" 
                            th:onclick="|location.href='@{/admin/camp/detail(campNo=${camp.campNo})}'|">보기</button>
                            <button th:if="${ cr.recordNo } == '3'" 
                            th:onclick="|location.href='@{/admin/camp/delete(campNo=${camp.campNo}, userNo=${camp.userNo})}'|">삭제</button>
                        </li>
                    </ul>
                    <div align="center"><p th:text="${noResult}"></p></div>
                </div>


                <!-- 2. 페이징 처리 -->
                <!-- 페이징 처리 -->
                <div class="admin_pages" th:if="${#strings.isEmpty(noResult)}">
                	<!-- 2_1. 일반 페이징바 -->
                    <ul class="admin_paging" th:if="${#strings.isEmpty(param.searchCondition)}">
                        <!-- 맨 처음으로 이동하는 버튼(<<) -->
                        <li><a th:href="@{/admin/camp/search?page=1}">&lt;&lt;</a></li>
                        


                        <!-- 이전 페이지로(<) -->
                        <li th:if="${ pi.page > 1 }"><a th:href="@{/admin/campPage(page=${pi.page-1})}">&lt;</a></li>
                        <li th:unless="${ pi.page > 1 }"><a href="#">&lt;</a></li>
                        


                        <!-- 최대 10개의 페이지 목록 -->
                        <li th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage)}">
                            <div class="current_page" th:if="${ p == pi.page }">
                                <a href="#" th:text="${ p }"></a>
                            </div>
                            <div th:unless="${ p == pi.page }">
                                <a th:href="@{/admin/campPage(page=${p})}" th:text="${ p }"></a>
                            </div>
                        </li>


                        <!-- 다음 페이지로(>) -->
                        <li th:if="${ pi.page < pi.maxPage }"><a th:href="@{/admin/campPage(page=${pi.page+1})}">&gt;</a></li>
                        <li th:unless="${ pi.page < pi.maxPage }"><a href="#">&gt;</a></li>
            


                        <!-- 맨 끝으로 이동하는 버튼(>>) -->
                        <li><a th:href="@{/admin/campPage(page=${pi.maxPage})}">&gt;&gt;</a></li>
                    </ul>
                    
                    <!-- 2_2.검색 페이징바 -->
                    <ul class="admin_paging" th:if="${not #strings.isEmpty(param.searchCondition)}">
                        <!-- 맨 처음으로 이동하는 버튼(<<) -->
                        <li><a th:href="@{/admin/camp/search?(page=1, searchCondition=${param.searchCondition}, searchValue=${param.searchValue})}">&lt;&lt;</a></li>
                        


                        <!-- 이전 페이지로(<) -->
                        <li th:if="${ pi.page > 1 }"><a th:href="@{/admin/camp/searchPage(page=${pi.page-1}, searchCondition=${param.searchCondition}, searchValue=${param.searchValue})}">&lt;</a></li>
                        <li th:unless="${ pi.page > 1 }"><a href="#">&lt;</a></li>
                        


                        <!-- 최대 10개의 페이지 목록 -->
                        <li th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}">
                            <div class="current_page" th:if="${ p == pi.page }">
                                <a href="#" th:text="${ p }"></a>
                            </div>
                            <div th:if="${ p != pi.page }">
                                <a th:href="@{/admin/camp/searchPage(page=${p}, searchCondition=${param.searchCondition}, searchValue=${param.searchValue})}" th:text="${ p }"></a>
                            </div>
                        </li>


                        <!-- 다음 페이지로(>) -->
                        <li th:if="${ pi.page < pi.maxPage }"><a th:href="@{/admin/camp/searchPage(page=${pi.page+1}, searchCondition=${param.searchCondition}, searchValue=${param.searchValue})}">&gt;</a></li>
                        <li th:unless="${ pi.page < pi.maxPage }"><a href="#">&gt;</a></li>
            


                        <!-- 맨 끝으로 이동하는 버튼(>>) -->
                        <li><a th:href="@{/admin/camp/searchPage(page=${pi.maxPage}, searchCondition=${param.searchCondition}, searchValue=${param.searchValue})}">&gt;&gt;</a></li>
                    </ul>
                </div>
            </div>


            <!-- 3. 검색 영역 -->
            <div class="search_area">
                <form action="/admin/camp/search" name="searchForm" method="get">
                    <div class="select_wrap conditionWrap">
                        <select id="searchCondition" name="searchCondition">
                            <option value="no" th:selected="${#strings.equals(param.searchCondition, 'no')}">숙소번호</option>
                            <option value="name" th:selected="${#strings.equals(param.searchCondition, 'name')}">숙소명</option>
                        </select> 
                    </div>


                    <span class="input_area">
                        <input type="text" id="searchValue" name="searchValue" th:value="${ param.searchValue }">
					</span>


					<button type="submit">검색</button>
				</form>
				<script>
					document.forms.searchForm.onsubmit = function(){
						
						let condition = document.getElementById('searchCondition');
						condition = condition.options[condition.selectedIndex].value;
						
						if(condition == 'no') {
							if(!check(/^\d{1,9}$/, document.getElementById('searchValue'), "숙소번호는 숫자만 입력해주세요."))
				                return false;
						}		
					}
					
					function check(regExp, input, msg){
			            // 정규 표현식을 만족할 경우 true 리턴
			            if(regExp.test(input.value)) return true;
			            // 정규 표현식 불만족할 경우
			            alert(msg);
			            input.value = '';
			            input.focus();
			            return false;
			        }
				</script>
            </div>
        </div>
    </div>
</body>
</html>