<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>admin camp detail</title>

	<!-- css -->
	<link href="/resources/css/admin/campDetail.css" rel="stylesheet" type="text/css">
	<!-- css -->
	<link href="/resources/css/common/header-footer-style.css" rel="stylesheet" type="text/css">

</head>
<body>
<div th:replace="common/adminHeader.html"></div>

    <div class="ad_outer">
        <div class="ad_wrap">
            <!-- 1. 숙소 신청 -->
            <div class="ad_area">
                <div class="ad_title">
                    <h2>숙소 신청</h2>
                </div>
            </div>
            
            <!-- 2. 신청 양식 헤더 -->
            <div class="ad_headerArea">
                <ul class="ad_header">
                    <li class="ad_pk">번호&nbsp;&nbsp;<span th:text="${ camp.campNo}"></span></li>
                    <li class="ad_id">신청자&nbsp;&nbsp;<span th:text="${ camp.userName }"></span></li>
                    <li class="ad_date">신청일&nbsp;&nbsp;21.03.21&nbsp;10:27</li>
                </ul>
            </div>


            <div class="table_title"><h3>사업장</h3></div>
            <!-- 3. 신청 내용(사업장) -->
            <div class="ad_table">
                <table width="90%">
                    <colgroup>
                        <col width="20%">
                        <col width="80%">
                    </colgroup>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업장명</span></td>
                        <td><div class="table_div" th:text="${ camp.campName }"></div></td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업장주소</span></td>
                        <td>
                            <div class="table_div" th:text="${ camp.campAddress }"></div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업장 대표번호</span></td>
                        <td>
                            <div class="table_div" th:text="${ camp.campPhone }"></div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업자 계좌번호</span></td>
                        <td>
                            <div class="table_div" th:text="${ camp.accountNum } + ' (' + ${ camp.bank } + ')'">
                            </div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업장 형태</span></td>
                        <td>
                            <div class="table_div">
                                캠핑, 펜션, 글램핑
                            </div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업장 소개</span></td>
                        <td>
                            <div class="table_div"><p th:utext="${#strings.replace(camp.campIntro, newReply, '<br>')}"></p></div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업장 사진</span></td>
                        <td>
                            <div class="table_div">
                                <img src="resources/images/camp.jpg">
                                <img src="resources/images/camp.jpg">
                                <img src="resources/images/camp.jpg">
                                <img src="resources/images/camp.jpg">
                                <img src="resources/images/camp.jpg">
                            </div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업장 등록증</span></td>
                        <td>
                            <div class="table_div">
                                <img src="/resources/images/uploadFiles/profileImg(or  다른폴더)/파일명.jpg">
                            </div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업장 주요시설</span></td>
                        <td>
                            <div class="table_div">
                                샤워실, 화장실, 개수대, 매점, 와이파이, 전기
                            </div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업장 부가이용</span></td>
                        <td>
                            <div class="table_div">
                                수영장, 바베큐그릴, 조식제공, 반려동물
                            </div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업장 운영정책</span></td>
                        <td>
                            <div class="table_div">
                            	<p th:utext="${#strings.replace(camp.campPolicy, newReply, '<br>')}"></p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>


            <div class="table_title"><h3>객실</h3></div>
            <!-- 4. 신청 내용(객실) -->
            <div class="ad_table" th:each="room : ${ camp.roomList }">
                <table width="90%">
                    <colgroup>
                        <col width="20%">
                        <col width="80%">
                    </colgroup>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">객실 이름(호수)</span></td>
                        <td class="td_body"><div class="table_div" th:text="${ room.roomName }"></div></td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">객실 수량</span></td>
                        <td class="td_body"><div class="table_div" th:text="${ room.roomAmount }"></div></td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">최대 인원</span></td>
                        <td>
                            <div class="table_div" th:text="|${ room.roomMember } (명)|"></div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">가격</span></td>
                        <td>
                            <div class="table_div" th:text="|${#numbers.formatInteger(room.roomPrice, 0, 'COMMA')} (원)|"></div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">유형</span></td>
                        <td>
                            <div class="table_div" th:text="${ room.roomForm }"></div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">크기</span></td>
                        <td>
                            <div class="table_div" th:text="|${ room.roomSize } (㎡)|"></div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">바닥형태</span></td>
                        <td>
                            <div class="table_div"  th:text="${ room.roomFloor }"></div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">주차</span></td>
                        <td>
                            <div class="table_div" th:text="${ room.roomParking }"></div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">객실 소개</span></td>
                        <td>
                            <div class="table_div">
                            	<p th:utext="${#strings.replace(room.roomInfo, newReply, '<br>')}"></p>
                            </div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">객실 사진</span></td>
                        <td>
                            <div class="table_div">
                                <img src="resources/images/room.jpg">
                                <img src="resources/images/room.jpg">
                                <img src="resources/images/room.jpg">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>


            <hr style="border: solid 1px #dadada; margin-top: 100px;">


            <!-- 5. 버튼 영역 -->
            <div class="">
                <form th:action="@{/admin/camp/refusal}" method="post">
                    <div class="ad_btnArea">
                        <div class="ad_before"><button type="button" onclick="location.href='/admin/camp'">이전</button></div>
                        <div class="ad_reject"><button type="submit">거절</button></div>
                        <div class="ad_enroll"><button type="button" th:onclick="|location.href='@{/admin/camp/confirm(campNo=${camp.campNo})}'|">등록</button></div>
                    </div>
                    <div class="reject_reason">
                        <div class="writeArea">
                            <textarea id="replyCont" rows="5" cols="47" style="resize:none;border:none;" maxlength="200" 
                            name="refusal" placeholder="거절 사유 작성"></textarea>
                        </div>
                        <input type="hidden" name="campNo" th:value="${camp.campNo}"> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>