<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>숙소 관리</title>

	<!-- css -->
	<link href="/resources/css/admin/campDetail.css" rel="stylesheet" type="text/css">
	<!-- css -->
	<link href="/resources/css/common/header-footer-style.css" rel="stylesheet" type="text/css">

</head>
<body>
<div th:replace="common/adminHeader.html"></div>

    <div class="ad_outer">
        <div class="ad_wrap">
            <!-- 1. 숙소 신청 -->
            <div class="ad_area">
                <div class="ad_title">
                    <h2>숙소 신청</h2>
                </div>
            </div>
            
            <!-- 2. 신청 양식 헤더 -->
            <div class="ad_headerArea">
                <ul class="ad_header">
                    <li class="ad_pk">번호&nbsp;&nbsp;<span th:text="${ camp.campNo}"></span></li>
                    <li class="ad_id">신청자&nbsp;&nbsp;<span th:text="${ camp.userName }"></span></li>
                </ul>
            </div>


            <div class="table_title"><h3>사업장</h3></div>
            <!-- 3. 신청 내용(사업장) -->
            <div class="ad_table">
                <table width="90%">
                    <colgroup>
                        <col width="20%">
                        <col width="80%">
                    </colgroup>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업장명</span></td>
                        <td><div class="table_div" id="campName" th:text="${ camp.campName }"></div></td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업장주소</span></td>
                        <td>
                            <div class="table_div" id="campAddress" th:text="${ camp.campAddress }"></div>
                            <div id="map" style="width:400px;height:250px;"></div>
						<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=29177cf0f41918547d34e57ce4ad216b&libraries=services"></script>
						<script>
						var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
						    mapOption = {
						        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
						        level: 3 // 지도의 확대 레벨
						    };  
						
						// 지도를 생성합니다    
						var map = new kakao.maps.Map(mapContainer, mapOption); 
						
						// 주소-좌표 변환 객체를 생성합니다
						var geocoder = new kakao.maps.services.Geocoder();
						
						// 주소 정보를 가져옵니다
						var address = document.getElementById('campAddress').innerText;
						console.log(address);
						// 숙소 이름을 가져옵니다
						var campName = document.getElementById('campName').innerText;
						console.log(campName);
						// 주소로 좌표를 검색합니다
						geocoder.addressSearch(address, function(result, status) {
						
						    // 정상적으로 검색이 완료됐으면 
						     if (status === kakao.maps.services.Status.OK) {
						
						        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
						
						        // 결과값으로 받은 위치를 마커로 표시합니다
						        var marker = new kakao.maps.Marker({
						            map: map,
						            position: coords
						        });
						
						        // 인포윈도우로 장소에 대한 설명을 표시합니다
						        var infowindow = new kakao.maps.InfoWindow({
						            content: '<div style="width:150px;text-align:center;padding:6px 0;">'+campName+'</div>'
						        });
						        infowindow.open(map, marker);
						
						        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
						        map.setCenter(coords);
						    } 
						});    
						</script>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업장 대표번호</span></td>
                        <td>
                            <div class="table_div" th:text="${ camp.campPhone }"></div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업자 계좌번호</span></td>
                        <td>
                            <div class="table_div" th:text="${ camp.accountNum } + ' (' + ${ camp.bank } + ')'">
                            </div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업장 형태</span></td>
                        <td>
                            <div class="table_div">
                                <span th:each="bt : ${camp.businessTypeList}" th:text="|${bt.bType}  |"></span>
                            </div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업장 소개</span></td>
                        <td>
                            <div class="table_div"><p th:utext="${#strings.replace(camp.campIntro, newReply, '<br>')}"></p></div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업장 사진</span></td>
                        <td>
                            <div class="table_div" th:each="imgfile : ${camp.imgFileList}">
                                <img th:src="@{ ${imgfile.fileRoute} + ${imgfile.fileName} }">
                            </div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업장 등록증</span></td>
                        <td>
                            <div class="table_div">
                                <img th:src="@{${camp.campPath}}">
                            </div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업장 주요시설</span></td>
                        <td>
                            <div class="table_div">
                                <span th:each="facility : ${camp.facilityList}" th:if="${facility.fType} == '1'">
                                	<span th:text="|${facility.fName}  |"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업장 부가이용</span></td>
                        <td>
                            <div class="table_div">
                                <span th:each="facility : ${camp.facilityList}" th:if="${facility.fType} == '2'">
                                	<span th:text="|${facility.fName}  |"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">사업장 운영정책</span></td>
                        <td>
                            <div class="table_div">
                            	<p th:utext="${#strings.replace(camp.campPolicy, newReply, '<br>')}"></p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>


            <div class="table_title"><h3>객실</h3></div>
            <!-- 4. 신청 내용(객실) -->
            <div class="ad_table" th:each="room : ${ roomList }">
                <table width="90%">
                    <colgroup>
                        <col width="20%">
                        <col width="80%">
                    </colgroup>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">객실 이름(호수)</span></td>
                        <td class="td_body"><div class="table_div" th:text="${ room.roomName }"></div></td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">객실 수량</span></td>
                        <td class="td_body"><div class="table_div" th:text="${ room.roomAmount }"></div></td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">최대 인원</span></td>
                        <td>
                            <div class="table_div" th:text="|${ room.roomMember } (명)|"></div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">가격</span></td>
                        <td>
                            <div class="table_div" th:text="|${#numbers.formatInteger(room.roomPrice, 0, 'COMMA')} (원)|"></div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">유형</span></td>
                        <td>
                            <div class="table_div" th:text="${ room.roomForm }"></div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">크기</span></td>
                        <td>
                            <div class="table_div" th:text="|${ room.roomSize } (㎡)|"></div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">바닥형태</span></td>
                        <td>
                            <div class="table_div"  th:text="${ room.roomFloor }"></div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">주차</span></td>
                        <td>
                            <div class="table_div" th:text="${ room.roomParking }"></div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">객실 소개</span></td>
                        <td>
                            <div class="table_div">
                            	<p th:utext="${#strings.replace(room.roomInfo, newReply, '<br>')}"></p>
                            </div>
                        </td>
                    </tr>
                    <tr class="ad_tr">
                        <td class="td_head"><span class="table_div">객실 사진</span></td>
                        <td>
                            <div class="table_div" th:each="imgfile : ${room.imgFileList}">
                                <img th:src="@{ ${imgfile.fileRoute} + ${imgfile.fileName} }">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>


            <hr style="border: solid 1px #dadada; margin-top: 100px;">



            <!-- 5. 버튼 영역 -->
            <div th:if="${ camp.campStatus == 'N'}">
                <form name="refusalForm" method="post">
                    <div class="ad_btnArea">
                        <div class="ad_before"><button type="button" onclick="location.href='/admin/camp'">이전</button></div>
                        <div class="ad_reject"><button type="button" th:onclick="'refusalCamp('+${camp.campNo}+', '+${camp.userNo}+')'">거절</button></div>
                        <div class="ad_enroll">
                        	<button type="button"
                        	th:onclick="|location.href='@{/admin/camp/enroll(campNo=${camp.campNo}, userNo=${camp.userNo})}'|">등록</button>
                        </div>
                    </div>
                    <div class="reject_reason">
                        <div class="writeArea">
                            <textarea name="refusal" id="replyCont" rows="5" cols="47" style="resize:none;border:none;" 
                            maxlength="200" placeholder="거절 사유 작성"></textarea>
                        </div>
                        <input type="hidden" name="campNo" th:value="${camp.campNo}">
                        <input type="hidden" name="userNo" th:value="${camp.userNo}"> 
                    </div>
                </form>
            </div>
            
            <div class="other" th:if="${ camp.campStatus == 'Y'}">
            	<div class="ad_before" align="center"><button type="button" onclick="location.href='/admin/camp'">이전</button></div>
            </div>
        </div>
    </div>
    
<script>
    function refusalCamp(campNo, userNo){
    	
    	let refusal = document.forms.refusalForm.refusal.value.length;
    	
    	if(refusal == 0){
			alert("내용을 입력해주세요.");    		
    	} else {
	    	document.forms.refusalForm.action="/admin/camp/refusal";
	    	document.forms.refusalForm.submit();
    	}
    }
</script>
</body>
</html>