<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>신고</title>

    <!-- css -->
	<link href="/resources/css/admin/reportModal.css" rel="stylesheet" type="text/css">
	
    <!-- icon -->
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

</head>
<body>
<div class="modal_background">
    <div class="report_modal">

        <div class="close_icon"><span class="close_icon2"><i class="fas fa-times"></i></span></div>


        <div class="report_content">
            <!-- 1. 신고하기 -->
            <div class="report_title">
                <div class="report_img">
                    <img src="/resources/images/admin/report/icon-siren.png">
                </div>
                <h2>신고 하기</h2>
            </div>




            <!-- 2. 작성자 -->
            <div class="writer">
                작성자 : <h3></h3>
            </div>


            <form method="post" id="reportForm">
            
            	<div class="infoArea"></div>

                <!-- 3. 신고 사유 -->
                <div class="report_reason">
                    <div class="reason_title"><label>신고사유</label></div>
                    <div class="reason_radio">
                        
                        <ul class="report_ul">

                            <li>
                                <input type="radio" id="porno" name="reason" value="음란/성인">
                                <label for="porno">음란/성인</label>
                            </li>

                            <li>
                                <input type="radio" id="illegal" name="reason" value="불법 정보(도박/사행성)">
                                <label for="illegal">불법 정보(도박/사행성)</label>
                            </li>

                            <li>
                                <input type="radio" id="cuss" name="reason" value="도배/욕설 메시지">
                                <label for="cuss">도배/욕설 메시지</label>
                            </li>

                            <li>
                                <input type="radio" id="invade" name="reason" value="개인정보 침해">
                                <label for="invade">개인정보 침해</label>
                            </li>

                            <li class="etc_area">
                                <input type="radio" id="etc" name="reason" value="기타" checked>
                                <label for="etc">기타</label><br>
                                <textarea cols="25" rows="4" style="resize:none;" maxlength="50"
                                 name="content" placeholder="50자 이내 작성해주세요"></textarea>
                            </li>
                            
                        </ul>

                    </div>
                </div>





                <!-- 4. 경고 메시지 -->
                <div class="report_message">
                    <div class="report_img">
                        <img src="/resources/images/admin/report/icon-warning.png">
                    </div>
                    <p>허위 신고일 경우 서비스의 이용제한 등 불이익을 받을 수 있으니 <br> 신중하게 판단하신 후 신고해주세요.</p>
                </div>





                <!-- 5. 신고 버튼 -->
                <div class="report_button">
                    <button type="button" id="reportBtn">신고</button>
                </div>


            </form>
            
            <script>
		    $(function(){
		        $("#reportBtn").on('click',function(){
		        	
					let param = {};
					// {} : key와 value로 이루어진 객체 생성 
					param.id = $("#reportForm [name=id]").val();
					param.reason = $("#reportForm [name=reason]:checked").val();
					param.content = $("#reportForm [name=content]").val();
					param.victim = $("#reportForm [name=victim]").val();
					param.suspect = $("#reportForm [name=suspect]").val();
					param.reportType = $("#reportForm [name=reportType]").val();
					
					console.log(param.content.length);
					
					let etc = "기타";
					
					if(param.reason == etc && param.content.length == 0) {
						alert("신고 내용을 입력해주세요.");
						$("#reportForm")[0].reset();
						return false;
					}
					
					if(param.reason != etc && param.content.length != 0) {
						alert("기타로 선택 후 신고 내용을 작성해주세요.");
						$("#reportForm")[0].reset();
						return false;
					}
		           
		           $.ajax({
		        	   url : "/admin/report",
		        	   data : JSON.stringify(param),
		        	   dataType : "json",
		        	   contentType : "application/json; charset=utf-8",
		        	   /* data : param, [test] */
		        	   type : "post",
		        	   success : function(data) {
		        		   
		        		   alert(data.msg);
		        		   
		        		   $("#reportForm")[0].reset();
		        		   
		        		   close();
		        	   },
		        	   error : function(e){
		        		   console.log(e);
			        	   }
			           });
			         });
			     });
			</script>

        </div>
    </div>
</div>
<script>
function show() {
    document.querySelector(".modal_background").className = "modal_background show";
}

function close() {
    document.querySelector(".modal_background").className = "modal_background";
}

document.querySelector(".close_icon2").addEventListener("click", close);
</script>
</body>
</html>