<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>report modal</title>

    <!-- css -->
	<link href="/resources/css/admin/reportModal.css" rel="stylesheet" type="text/css">
	
    <!-- icon -->
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

</head>
<body>
<div class="modal_background">
    <div class="report_modal">

        <div class="close_icon"><span class="close_icon2"><i class="fas fa-times"></i></span></div>


        <div class="report_content">
            <!-- 1. 신고하기 -->
            <div class="report_title">
                <div class="report_img">
                    <img src="/resources/images/admin/report/icon-siren.png">
                </div>
                <h2>신고 하기</h2>
            </div>




            <!-- 2. 작성자 -->
            <div class="writer">
                작성자 : <h3>chuchu1226chuchu1226</h3>
            </div>


            <form action="#" method="get">

                <!-- 3. 신고 사유 -->
                <div class="report_reason">
                    <div class="reason_title"><label>신고사유</label></div>
                    <div class="reason_radio">
                        
                        <ul class="report_ul">

                            <li>
                                <input type="radio" id="porno" name="reason" value="prn">
                                <label for="porno">음란/성인</label>
                            </li>

                            <li>
                                <input type="radio" id="illegal" name="reason" value="ilg">
                                <label for="illegal">불법 정보(도박/사행성)</label>
                            </li>

                            <li>
                                <input type="radio" id="cuss" name="reason" value="cuss">
                                <label for="cuss">도배/욕설 메시지</label>
                            </li>

                            <li>
                                <input type="radio" id="invade" name="reason" value="inv">
                                <label for="invade">개인정보 침해</label>
                            </li>

                            <li class="etc_area">
                                <input type="radio" id="etc" name="reason" value="etc" checked>
                                <label for="etc">기타</label><br>
                                <textarea cols="25" rows="4" style="resize:none;" maxlength="50"
                                 name="content" placeholder="50자 이내 작성해주세요"></textarea>
                            </li>
                            
                        </ul>

                    </div>
                </div>





                <!-- 4. 경고 메시지 -->
                <div class="report_message">
                    <div class="report_img">
                        <img src="/resources/images/admin/report/icon-warning.png">
                    </div>
                    <p>허위 신고 시 서비스 이용에 제한이 될 수 있습니다.</p>
                </div>





                <!-- 5. 신고 버튼 -->
                <div class="report_button">
                    <button type="submit">신고</button>
                </div>


            </form>

        </div>
    </div>
</div>
<script>
    function show() {
        document.querySelector(".modal_background").className = "modal_background show";
    }

    function close() {
        document.querySelector(".modal_background").className = "modal_background";
    }

    document.querySelector(".close_icon2").addEventListener("click", close);
</script>
</body>
</html>