<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캠핑장 검색</title>
    <!-- 외부 css -->
    <link href="/resources/css/search/search-style.css" rel="stylesheet">
    <!-- 캘린더 라이브러리 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- 외부 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
</head>
<body>
    <!-- header -->
    <div th:replace="common/header.html"></div>

   	 <!-- datePicker -->
   	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


    <div class="search-wrapper">
      <!-- 검색페이지 컨텐츠 -->
      <div class="search-camping">
          <!-- 검색 조건 컨텐츠 -->
        <div class="search-check">
            <div class="search-form">
                <form class="search-camping-form" action="/search/find" method="get">
                <input type="hidden" th:each="fc:${fc}">
                   <p>지역</p>
                   <label class="search-area search-container">
                   <input type="text" placeholder="어디로 여행가세요?" class="find-area" name="area" th:value="${fc.sArea}" required >
                    </label>
                
                  
                   <p>날짜</p>
                   <label class="search-date search-container">
                   <input type="hidden" class="find-in-date" th:value="${fc.sIn}">
                   <input type="hidden" class="find-out-date" th:value="${fc.sOut}">
                    <input type="text" id="main-date-check" class="area-text" name="daterange" required>
                   </label>

                  
                   <p>인원</p>
                  <div class="search-number-input">
                    <div class="search-number-wrap">
                    <input type="hidden" class="find-guest" th:value="${fc.sGuest}">
                      <input type="search" placeholder="인원을 추가해주세요" readonly style="cursor: default;">
                      <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                    <input class="quantity" min="1" max="6" name="quantity" th:value="${fc.sGuest}" type="number" required>
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                  </div>
                  </div>

                <p>캠핑장명</p>
                   <label class="search-name search-container">
                   <input type="text" placeholder="캠핑장 이름으로 찾아볼까요?" id="find-name" name="name" th:value="${fc.sName}">
                </label>
                   
                <div class="search-camp-type">
                  <p>숙소유형</p>
                  <div class="camp-type-btn">
                   <label class="search-type">
                   <input type="hidden" id="search-type-val" th:value="${typeStr}">
                   	<input type="hidden" class="typeArr" th:value="${type}">
                      <input type="checkbox" id="s-type-camping" name="type" value="캠핑" ><span class="search-style">캠핑</span>
                    </label>
                    <label class="search-type">
                      <input type="checkbox" id="s-type-glamping" name="type" value="글램핑" ><span class="search-style">글램핑</span>
                    </label>
                    <label class="search-type">
                      <input type="checkbox" id="s-type-caravan" name="type" value="카라반" ><span class="search-style">카라반</span>
                    </label>
                  </div>
                </div>

                <div class="search-convenient-type">
                  <p>주요시설</p>
                  <div class="camp-type-btn">
                  <label class="search-type">
                   <input type="hidden" id="find-faci-val" th:value="${faciStr}">
                  <input type="hidden" class="faciArr" th:value="${facility}">
                      <input type="checkbox" class="find-facility" name="facility" value="수영장"><span class="search-style">수영장</span>
                    </label>
                    <label class="search-type">
                      <input type="checkbox" class="find-facility" name="facility" value="바베큐장"><span>바베큐장</span>
                    </label>
                    <label class="search-type">
                      <input type="checkbox" class="find-facility" name="facility" value="반려동물"><span>반려동물</span>
                    </label>
                    <label class="search-type">
                      <input type="checkbox" class="find-facility" name="facility" value="조식제공"><span>조식제공</span>
                    </label>
                    <label class="search-type">
                      <input type="checkbox" class="find-facility" name="facility" value="매점"><span class="search-style">매점</span>
                    </label>
                    <label class="search-type">
                      <input type="checkbox" class="find-facility" name="facility" value="샤워실"><span class="search-style">샤워실</span>
                    </label>
                    <label class="search-type">
                      <input type="checkbox" class="find-facility" name="facility" value="와이파이"><span>와이파이</span>
                    </label>
                    <label class="search-type">
                      <input type="checkbox" class="find-facility" name="facility" value="전기"><span class="search-style">전기</span>
                    </label>
                    <label class="search-type">
                      <input type="checkbox" class="find-facility" name="facility" value="개수대"><span class="search-style">개수대</span>
                    </label>
                  </div>
            </div>

            <div class="search-bottom-type">
              <p>바닥</p>
              <div class="camp-type-btn">
               <label class="search-type">
               <input type="hidden" id="find-floor-val" th:value="${floorStr}">
               <input type="hidden" class="floorArr" th:value="${floor}">
                  <input type="checkbox" class="s-type-camping" name="floor" value="데크"><span class="search-style">데크</span>
                </label>
                <label class="search-type">
                  <input type="checkbox" class="s-type-glamping" name="floor" value="잔디"><span class="search-style">잔디</span>
                </label>
                <label class="search-type">
                  <input type="checkbox" class="s-type-caravan" name="floor" value="파쇄석"><span class="search-style">파쇄석</span>
                </label>
              </div>
            </div>

            <div class="search-submit">
              <input type="submit" value="검색하기">
            </div>
            </form>
            </div>
        </div>

            <!-- 검색 리스트 조회 컨텐츠 -->
        <div class="search-list">
            <div class="search-contents">
              <div class="search-list-top">

                <div class="list-top-text">
                 <p th:text="${ searchSize }"></p>
                  </div>
                  

                <!-- 조회된 갯수만큼 반복문 -->
                <div class="search-list-col" th:each="find : ${campFindSearch}">
                  <div class="list-col-wrapper">
                  <div class="list-col-img">
                    <img class="listImg" th:src="@{/resources/images/uploadFiles/campImg/}+${find.fileName}" 
                    style="cursor:pointer" th:onclick="|location.href='@{/camp/detail(campNo=${find.cNo},dateIn=${fc.sIn},dateOut=${fc.sOut},guest=${fc.sGuest})}'|">
                 
                  
                  <div class="list-col-text">
                    <ul>
                      <li class="list-col-address" th:text="${find.cAddress}"></li>
                      <li class="list-col-name" th:text="${find.cName}" style="cursor:pointer"
                      th:onclick="|location.href='@{/camp/detail(campNo=${find.cNo},dateIn=${fc.sIn},dateOut=${fc.sOut},guest=${fc.sGuest})}'|"></li></a>
                      <li class="list-col-count">최대인원 <span th:text="${find.maxGuest}"></span>인</li>
                      <li class="list-col-price"><span th:text="${find.minPrice}+'~'+${find.maxPrice}"></span>원</li>
                    </ul>
				
                    <!-- 선택한 날짜에 예약가능할 시에 -->
                    <div class="list-col-state" th:if="${find.rCount > 0}">
                      <p class="list-bookable" >예약가능</p>
                    </div>

                     <!-- 선택한 날짜에 예약불가 시에(ROOM이 등록되어 있지 않을 때) -->
                     <div class="list-col-state" th:if="${find.rCount == 0}">
                      <p class="list-booked">예약불가</p>
                    </div>
                    
                    <!-- 선택한 날짜에 예약마감 시에 -->
                     <div class="list-col-state" th:if="${find.rAmount <= find.rQua}">
                      <p class="list-booked">예약마감</p>
                    </div>

                  </div>
                </div>
                </div>
              </div>
              <!-- 반복문 끝 -->




              <!-- 페이징 처리 -->
                <div class="member_pages">
                <ul class="member_paging">
                
                     <!--  맨 처음으로 이동하는 버튼(<<) -->
                   <li><a class="first-paging" style="cursor:pointer">&lt;&lt;</a></li>
                   
                    <!-- 이전 페이지로(<)  -->
                    <li th:if="${pi.page > 1}">
                    <a class="back-paging" style="cursor:pointer">&lt;</a>
                    </li>
                    <li th:unless="${pi.page > 1}">
                    <a href="#">&lt;</a>

                   <!-- 최대 10개의 페이지 목록 --> 
                     <li th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage)}" th:if="${p != 0}">
                            <div class="current_page" th:if="${ p == pi.page }">
                                <a href="#" th:text="${p}"></a>
                            </div>
                            <div th:if="${ p != pi.page } and ${ p != 0}">
                                <a class="find-paging" style="cursor:pointer" th:text="${p}"></a>
                            </div>
                        </li>
        		
                   <!--  다음 페이지로(>) --> 
                    <li th:if="${pi.page < pi.maxPage}">
                        <a class="next-paging" style="cursor:pointer">&gt;</a>
                    </li>
                    <li th:unless="${ pi.page < pi.maxPage }">
                        	<a href="#">&gt;</a>
                        </li>

                    <!-- 맨 끝으로 이동하는 버튼(>>) -->
                   <li>
                    <a class="end-paging" style="cursor:pointer">&gt;&gt;</a></li>
                </ul>
               
            </div>

                </div>
            </div>

        </div>
    
    </div>
      </div>
    
     <!-- 푸터 -->
    <div th:replace="common/footer.html"></div>
    
    
    
    
    
    
    
   <!--   클릭한 페이지 이동 이벤트 -->
   <script>
	var aa = jQuery.noConflict();
    aa(function(){    
    	aa(".find-paging").click(function(){
    		let area = aa(".find-area").val();
    		let dateIn = aa(".find-in-date").val();
    		let dateOut = aa(".find-out-date").val();
    		let guest = aa(".find-guest").val();
    		let name = aa("#find-name").val();
    		let typeObj = aa("#search-type-val").val();
    		let faciObj= aa("#find-faci-val").val();
    		let floorObj = aa("#find-floor-val").val();
    		
            location.href='/search/find?page='+aa(this).text()+'&area='+area+'&type='+typeObj+'&daterange='+dateIn
            		+'+~+'+dateOut+'&quantity='+guest+'&name='+name+'&facility='+faciObj+'&floor='+floorObj; 
        });
    });
    </script>
    

	<!--  첫페이지로 이동 -->
	<script>
  var cc = jQuery.noConflict();
    cc(function(){    
    	cc(".first-paging").click(function(){
    		let area = cc(".find-area").val();
    		let dateIn = cc(".find-in-date").val();
    		let dateOut = cc(".find-out-date").val();
    		let guest = cc(".find-guest").val();
    		let name = cc("#find-name").val();
    		let typeObj = cc("#search-type-val").val();
    		let faciObj= cc("#find-faci-val").val();
    		let floorObj = cc("#find-floor-val").val();
    		
            location.href='/search/find?page=1'+'&area='+area+'&type='+typeObj+'&daterange='+dateIn
            		+'+~+'+dateOut+'&quantity='+guest+'&name='+name+'&facility='+faciObj+'&floor='+floorObj; 
        });
    });
    </script>
    
    
     <!-- 이전 페이지로 이동(<) -->
    <script th:inline="javascript">
    /*<![CDATA[*/ let back = /*[[ ${pi.page - 1} ]]*/;
    /*]]*/

    var ee = jQuery.noConflict();
    ee(function(){    
    	ee(".back-paging").click(function(){
    		let area = ee(".find-area").val();
    		let dateIn = ee(".find-in-date").val();
    		let dateOut = ee(".find-out-date").val();
    		let guest = ee(".find-guest").val();
    		let name = ee("#find-name").val();
    		let typeObj = ee("#search-type-val").val();
    		let faciObj= ee("#find-faci-val").val();
    		let floorObj = ee("#find-floor-val").val();
    		
            location.href='/search/find?page='+back+'&area='+area+'&type='+typeObj+'&daterange='+dateIn
            		+'+~+'+dateOut+'&quantity='+guest+'&name='+name+'&facility='+faciObj+'&floor='+floorObj; 
        });
    });
    </script>
    
    <!-- 다음페이지로 이동(>) -->
    <script th:inline="javascript">
    /*<![CDATA[*/ let next = /*[[ ${pi.page + 1} ]]*/;
    /*]]*/

    var dd = jQuery.noConflict();
    dd(function(){    
    	dd(".next-paging").click(function(){
    		let area = dd(".find-area").val();
    		let dateIn = dd(".find-in-date").val();
    		let dateOut = dd(".find-out-date").val();
    		let guest = dd(".find-guest").val();
    		let name = dd("#find-name").val();
    		let typeObj = dd("#search-type-val").val();
    		let faciObj= dd("#find-faci-val").val();
    		let floorObj = dd("#find-floor-val").val();
    		
            location.href='/search/find?page='+next+'&area='+area+'&type='+typeObj+'&daterange='+dateIn
            		+'+~+'+dateOut+'&quantity='+guest+'&name='+name+'&facility='+faciObj+'&floor='+floorObj; 
        });
    });
    </script>
    
    <!-- 마지막페이지로 이동(>>) -->
    <script th:inline="javascript">
    /*<![CDATA[*/ let end = /*[[ ${pi.maxPage} ]]*/;
    /*]]*/

    var ff = jQuery.noConflict();
    ff(function(){    
    	ff(".end-paging").click(function(){
    		let area = ff(".find-area").val();
    		let dateIn = ff(".find-in-date").val();
    		let dateOut = ff(".find-out-date").val();
    		let guest = ff(".find-guest").val();
    		let name = ff("#find-name").val();
    		let typeObj = ff("#search-type-val").val();
    		let faciObj= ff("#find-faci-val").val();
    		let floorObj = ff("#find-floor-val").val();
    		
            location.href='/search/find?page='+end+'&area='+area+'&type='+typeObj+'&daterange='+dateIn
            		+'+~+'+dateOut+'&quantity='+guest+'&name='+name+'&facility='+faciObj+'&floor='+floorObj; 
        });
    });
    </script>

	<!-- 인원수 증가 버튼 클릭시 submit 제출되지 않게-->
	  <script>
	  var bb = jQuery.noConflict();
	  bb('form').on('click', 'button:not([type="submit"])', function(e){
	    e.preventDefault();
	  })
	  </script>
	  
	  <!-- datePicker 스크립트 -->
	  <script th:inline="javascript">
	  /*<![CDATA[*/ let dateIn = /*[[ ${ fc.sIn } ]]*/;
		  let dateOut = /*[[ ${ fc.sOut } ]]*/;
	    /*]]*/
	  var jb = jQuery.noConflict();
	  jb(function() {
	  	var toDay = new Date();
	  	
	      jb('input[name="daterange"]').daterangepicker({
	        "locale": {
	                        "format": "YYYY-MM-DD",
	                        "separator": " ~ ",
	                        "applyLabel": "확인",
	                        "cancelLabel": "취소",
	                        "daysOfWeek": ["월", "화", "수", "목", "금", "토", "일"],
	                        "monthNames": ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
	                      },
	                    "drops": "down",
	                    maxDate: 0,
	                    minDate: new Date(),
	                    startDate: dateIn,
	                    endDate: dateOut
	                    
	    	});
	    
	    });
	  </script>
	  
	  
	 <!-- 선택한 체크박스 값 가져오기  -->
	 <!-- 타입 -->
	<script>
	var hh = jQuery.noConflict();
	  
      hh(function(){
				var typeArr = hh(".typeArr").val();
				console.log(typeArr);

				hh('input:checkbox[name="type"]').each(function() {
					if( typeArr.indexOf(this.value) > -1){  
						hh(this).prop('checked', true); 
					   }
				});
      });

	  </script>
	  
	  <!-- 시설 -->
	  <script>
	  var ii = jQuery.noConflict();
	  
	  ii(function(){
    	  var faciArr = ii(".faciArr").val();
    	  console.log(faciArr);
    	  
    	  ii('input:checkbox[name="facility"]').each(function() {
				if( faciArr.indexOf(this.value) > -1){  
					ii(this).prop('checked', true); 
				  }
		});
    	  
	  });  
	  </script>
	  
	  <!-- 바닥 -->
	  <script>
	  var jj = jQuery.noConflict();
	  
	  jj(function(){
    	  var floorArr = jj(".floorArr").val();
    	  console.log(floorArr);
    	  
    	  jj('input:checkbox[name="floor"]').each(function() {
				if( floorArr.indexOf(this.value) > -1){  
					jj(this).prop('checked', true); 
				  }
		});
    	  
	  });  
	  </script>
	  
</body>
</html>