<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.campers.main.model.dao.MainMapper">

	<resultMap id="recommendMap" type="com.cp.campers.main.model.vo.Recommend">
		<id property="cRNo" column="CAMP_NO" />
		<result property="cRName" column="CAMP_NAME"/>
		<result property="cRAddress" column="CAMP_ADDRESS"/>
		<result property="fRRoute" column="FILE_ROUTE"/>
		<result property="fRName" column="FILE_NAME"/>
	</resultMap>
	
	

	<select id="mainSlider" resultMap="recommendMap">
	  SELECT *
		FROM (
				SELECT
					   C.CAMP_NO
					 , C.CAMP_NAME
					 , C.CAMP_ADDRESS
					 , G.FILE_ROUTE
					 , G.FILE_NAME
				  FROM CAMP C
				  JOIN CAMP_FILE F ON C.CAMP_NO = F.CAMP_NO
				  JOIN IMAGEFILE G ON F.FILE_NO = G.FILE_NO
				 WHERE C.CAMP_ADDRESS LIKE '%강원도%'
				   AND C.CAMP_STATUS = 'Y'
				   AND G.FILE_STATUS = 'N'
				   AND G.FILE_LEVEL = 1
				 ORDER BY DBMS_RANDOM.VALUE
			 )
	   WHERE ROWNUM &lt; 6
	</select>
	

	<select id="mainBestList" resultMap="recommendMap">
		SELECT 
			   *
		FROM (
				SELECT
					   COUNT(E.ROOM_NO)
					 , C.CAMP_NO
			   		 , C.CAMP_NAME
			    	 , SUBSTR(C.CAMP_ADDRESS, 0, INSTR(C.CAMP_ADDRESS, ' ', 1, 2)) AS "CAMP_ADDRESS"
			  		 , G.FILE_ROUTE
			  		 , G.FILE_NAME
				  FROM CAMP C
				  JOIN CAMP_FILE F ON C.CAMP_NO = F.CAMP_NO
				  JOIN IMAGEFILE G ON F.FILE_NO = G.FILE_NO
				  JOIN ROOM R ON R.CAMP_NO = C.CAMP_NO
				  JOIN RESERVE E ON E.ROOM_NO = R.ROOM_NO
				 WHERE C.CAMP_STATUS = 'Y'
				   AND G.FILE_STATUS = 'N'
				   AND G.FILE_LEVEL = 1
				 GROUP BY E.ROOM_NO
				     , C.CAMP_NO
			   		 , C.CAMP_NAME
			    	 , C.CAMP_ADDRESS
			  		 , G.FILE_ROUTE
			  		 , G.FILE_NAME
				 ORDER BY COUNT(E.ROOM_NO) DESC
			)
		 WHERE ROWNUM &lt; 4
	</select>
	
	
	
	<select id="mainNewList" resultMap="recommendMap">
		SELECT *
		FROM (	
				SELECT
					   C.CAMP_NO
			   		 , C.CAMP_NAME
			    	 , SUBSTR(C.CAMP_ADDRESS, 0, INSTR(C.CAMP_ADDRESS, ' ', 1, 2)) AS "CAMP_ADDRESS"
			  		 , G.FILE_ROUTE
			  		 , G.FILE_NAME
				  FROM CAMP C
				  JOIN CAMP_FILE F ON C.CAMP_NO = F.CAMP_NO
				  JOIN IMAGEFILE G ON F.FILE_NO = G.FILE_NO
				  JOIN CAMP_RECORD R ON C.CAMP_NO = R.CAMP_NO 
				 WHERE C.CAMP_STATUS = 'Y'
				   AND R.RECORD_NO = 2
				   AND G.FILE_STATUS = 'N'
				   AND G.FILE_LEVEL = 1
				 ORDER BY R.RECORD_DATE DESC
			)
		 WHERE ROWNUM &lt; 4
	</select>
</mapper>