<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAMPERS</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- 외부 css -->
    <link href="resources/css/common/header-footer-style.css" rel="stylesheet">
    <link href="resources/css/main/main-style.css" rel="stylesheet">
    <!-- 슬라이드 라이브러리 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- 캘린더 라이브러리 -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- 외부 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
</head>
<body>
  <div class="main-wrapper">

    <!-- header -->
    <div th:replace="common/header.html"></div>
    
      <!-- main content -->
      <div class="mainPage">
        <div class="main-page-container">
        
        <!-- 검색 기능 -->
        <div class="main-search">
           <form class="main-search-check">

              <div class="main-search-top">
               <div class="main-area container">
              <label><img src="resources/images/main/point.png">지역
              <input type="text" class="area-text" placeholder="지역을 입력해주세요">
              </label></div>

              <div class="main-checkDate container">
                <label><img src="resources/images/main/calendar.png">체크인 / 체크아웃
                <input type="text" id="main-date-check" class="area-text" name="daterange" value="" />
                </label></div>

                <div class="main-guest container">
                  <label><img src="resources/images/main/guest.png">인원
                    
                      <span class="number-btn"><input type="button" id="btn-minus"></span>
                      <input type="text" id="guest-number" value="0" readonly style="font-size: 15px;">
                      <span class="number-btn"> <input type="button" id="btn-plus"></span>
                    <input type="text" class="area-text" placeholder="인원 수를 추가해주세요" readonly style="cursor:default;">
                  </label></div>
                </div>

                <div class="main-search-bottom">
                  <div class="main-typeBtn btmContainer">
                    <label class="checkbox-mainType">
                      <input type="checkbox" class="main-camping-type"><span><img src="resources/images/main/campfire.png" class="main-type-icon">캠핑장</span></label>
                    <label class="checkbox-mainType">
                      <input type="checkbox" class="main-glamping-type"><span><img src="resources/images/main/tent.png" class="main-type-icon">글램핑</span></label>
                      <label class="checkbox-mainType">
                        <input type="checkbox" class="main-caravan-type"><span><img src="resources/images/main/caravan.png" class="main-type-icon">카라반</span></label>
                      
                        <input type="submit" class="main-search-sub" value="">
                      </div>
              </div>
           </form>
		</div>

        <!-- 갤러리 형식 추천 리스트 -->
        <div class="main-gallery bestCamping">
          <div class="mian-gallery-title">
            캠퍼스 추천! 꼭 가볼만한 캠핑장
          </div>
            <div class="main-slider">
              <div class="prev" id="main-arrow"><img src="resources/images/main/prev.png"></div>
              <div class="main-slide-wrapper">
                <!-- 이미지는 추천할 캠핑장명(코드)으로 썸네일/상세페이지 링크 조회해오기 -->
                <div class="slide-container">
                <div class="main-slide" id="slide1"><a href="#">
                  <img src="resources/images/main/list1.jpg"></a></div>
                  <div class="slide-text" id="slide-text1">[지역명] 캠핑장이름블라블라</div>
                </div>

                <div class="slide-container">
                  <div class="main-slide" id="slide2"><a href="#">
                    <img src="resources/images/main/list2.jpg"></a></div>
                    <div class="slide-text"  id="slide-text2">[지역명] 캠핑장이름블라블라</div>
                  </div>
                  <div class="slide-container">
                    <div class="main-slide" id="slide3"><a href="#">
                      <img src="resources/images/main/list3.jpg"></a></div>
                      <div class="slide-text"  id="slide-text3">[지역명] 캠핑장이름블라블라</div>
                    </div>
                    <div class="slide-container">
                      <div class="main-slide" id="slide4"><a href="#">
                        <img src="resources/images/main/list4.jpg"></a></div>
                        <div class="slide-text"  id="slide-text4">[지역명] 캠핑장이름블라블라</div>
                      </div>
                      <div class="slide-container">
                        <div class="main-slide" id="slide5"><a href="#">
                          <img src="resources/images/main/list5.jpg"></a></div>
                          <div class="slide-text"  id="slide-text5">[지역명] 캠핑장이름블라블라</div>
                        </div>
              </div>
              <div class="next" id="main-arrow"><img src="resources/images/main/next.png"></div>
            </div>
        </div>

        <div class="main-qna-txt">
         <span>
          캠퍼스 이용에 대해
          궁금하신 점이 있으신가요?
        </span>
        </div>
        <div class="main-qna-img">
          <a href="#"><img src="resources/images/main/qna.jpg"></a>
        </div>

         <!-- 포스트 형식 추천 리스트 -->
         <div class="main-list bestCamping">
          <div class="mian-gallery-title">
            지금 가장 인기있는 캠핑장
          </div>
           <div class="main-best-container">
          <div class="main-best-content">
            <div class="main-img-wrap">
              <a href="#">
              <div class="main-best-img">
              <img src="resources/images/main/list4.jpg">
              <p class="main-best-title text">빨간단풍 가족캠핑장</p>
              <p class="main-best-location text">전남 장성군 북하면</p>
            </div></a>
          </div>

            <div class="main-img-wrap">
              <a href="#">
            <div class="main-best-img">
              <img src="resources/images/main/list5.jpg">
              <p class="main-best-title text">진위천 시민유원지</p>
              <p class="main-best-location text">경기 평택시 진위면</p>
            </div></a>
          </div>

            <div class="main-img-wrap">
              <a href="#">
            <div class="main-best-img">
              <img src="resources/images/main/list6.jpg">
              <p class="main-best-title text">제주 도깨비캠핑장</p>
              <p class="main-best-location text">제주 제주시 애월읍</p>
            </div></a>
          </div>
        </div>
        
          </div>

        </div>

        
         <!-- 포스트 형식 추천 리스트 (등록날짜 최근순으로 3개 조회)-->
         <div class="main-list bestCamping">
          <div class="mian-new-title">
            새로 생긴 신규 캠핑장
          </div>
           <div class="main-best-container">
          <div class="main-best-content">

            <div class="main-img-wrap">
              <a href="#">
            <div class="main-best-img">
              <img src="resources/images/main/list1.jpg">
              <p class="main-best-title text">빨간단풍 가족캠핑장</p>
              <p class="main-best-location text">전남 장성군 북하면</p>
            </div></a>
          </div>

            <div class="main-img-wrap">
              <a href="#">
            <div class="main-best-img">
              <img src="resources/images/main/list2.jpg">
              <p class="main-best-title text">진위천 시민유원지</p>
              <p class="main-best-location text">경기 평택시 진위면</p>
            </div></a>
          </div>

            <div class="main-img-wrap">
              <a href="#">
            <div class="main-best-img">
              <img src="resources/images/main/list3.jpg">
              <p class="main-best-title text">제주 도깨비캠핑장</p>
              <p class="main-best-location text">제주 제주시 애월읍</p>
            </div></a>
          </div>
        </div>
        
          </div>

        </div>




      </div>
 </div>
 
 </div>
 
      
    <!-- 푸터 -->
    <div th:replace="common/footer.html"></div>

  
    <!-- 버튼 클릭으로 인원 수 추가 삭제 -->
    <script src="resources/js/main/guestEvent.js"></script>

    <!-- 추천리스트 슬라이드 -->
    <script src="resources/js/main/slickSlide.js"></script>

    <!-- 슬라이드 마우스 오버 효과 -->
    <script src="resources/js/main/slideHover.js"></script>

    <!-- 캘린더 스크립트 -->
    <script src="resources/js/main/datePicker.js"></script>
      
</body>
</html>