<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAMPERS</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 외부 css -->
    <link th:href="@{resources/css/common/header-footer-style.css}" rel="stylesheet">
    <link th:href="@{resources/css/main/main-style.css}" rel="stylesheet">
    <!-- 슬라이드 라이브러리 -->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/js/main/slick/slick.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/js/main/slick/slick-theme.css}"/>
    <!-- 캘린더 라이브러리 -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- 외부 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
<script>
	const successMessage = '[[${ successMessage }]]'
	
	/* 성공 실패 시 빈문자열임
	   문자열이 있냐 없냐에 따라 alert창 띄우기 
	   처음부터 menuList 요청에서 로드하면 successMessage가 없으므로 없을 때는 alert 띄우지 않기*/
	if(successMessage) {
		alert(successMessage);
	}
</script>
</head>
<body>

    <!-- header -->
    <div th:replace="common/header.html"></div>
    
   <div class="main-wrapper">
    
      <!-- main content -->
      <div class="mainPage">
        <div class="main-page-container">
        
        <!-- 검색 기능 -->
        <div class="main-search">
           <form class="main-search-check" action="/search/main" method="get">

              <div class="main-search-top">
               <div class="main-area container">
              <label><img src="resources/images/main/point.png">지역
              <input type="text" class="area-text" placeholder="여행 목적지가 어디신가요?" name="area" required>
              </label></div>

              <div class="main-checkDate container">
                <label><img src="resources/images/main/calendar.png">체크인 / 체크아웃
                <input type="text" id="main-date-check" class="area-text" name="daterange" required>
                </label></div>

                <div class="main-guest container">
                  <label><img src="resources/images/main/guest.png">인원
					  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
					  <input class="quantity" min="0" max="6" name="guest" value="1" type="number" required>
					  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                    <input type="text" class="area-text" placeholder="인원 수를 추가해주세요" readonly style="cursor:default;">
                  </label> </div>
                </div>

                <div class="main-search-bottom">
                  <div class="main-typeBtn btmContainer">
                    <label class="checkbox-mainType">
                      <input type="checkbox" class="main-camping-type" id="main-type" name="type" value="1"><span><img src="resources/images/main/campfire.png" class="main-type-icon">캠핑장</span></label>
                    <label class="checkbox-mainType">
                      <input type="checkbox" class="main-glamping-type" id="main-type" name="type" value="2"><span><img src="resources/images/main/tent.png" class="main-type-icon">글램핑</span></label>
                      <label class="checkbox-mainType">
                        <input type="checkbox" class="main-caravan-type" id="main-type" name="type" value="3"><span><img src="resources/images/main/caravan.png" class="main-type-icon">카라반</span></label>
                      
                        <input type="submit" class="main-search-sub" value=" ">
                      </div>
              </div>
           </form>
		</div>

        <!-- 슬라이드 형식 추천 리스트 -->
        <div class="main-gallery bestCamping">
          <div class="mian-gallery-title">
            캠퍼스 추천! 겨울에 가면 더 좋은 캠핑장
          </div>
            <div class="main-slider">
              <div class="prev" id="main-arrow"><img src="resources/images/main/prev.png"></div>
              
              <div class="main-slide-wrapper">
                <div class="slide-container" th:each="slide : ${mainSlider}">
                <div class="main-slide" id="slide">
                <a th:href="@{/camp/detail?(campNo=${slide.cRNo})}">
                  <img th:src="@{${slide.fRRoute}+${slide.fRName}}"></a></div>
                  <div class="slide-text" th:text="${slide.cRName}"></div>
                </div>
              </div>
              
              <div class="next" id="main-arrow"><img src="resources/images/main/next.png"></div>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/resources/js/main/slick/slick.min.js}"></script>



        <div class="main-qna-txt">
         <span>
          캠퍼스 이용에 대해
          궁금하신 점이 있으신가요?
        </span>
        </div>
        
        <div class="main-qna-img">
          <a href="company/csCenter"><img src="resources/images/main/qna.jpg"></a>
        </div>


         <!-- 포스트 형식 추천 리스트 -->
         <div class="main-list bestCamping">
         
	          <div class="mian-gallery-title">
	            지금 가장 인기있는 캠핑장
	          </div>
	          
          <div class="main-best-container">
         	<div class="main-best-content">
          
            <div class="main-img-wrap" th:each="best : ${mainBestList}">
               <a th:href="@{/camp/detail?(campNo=${best.cRNo})}">
              <div class="main-best-img">
              <img th:src="@{${best.fRRoute}+${best.fRName}}">
              <p class="main-best-title text" th:text="${best.cRName}"></p>
              <p class="main-best-location text" th:text="${best.cRAddress}"></p>
            </div></a>
          	</div>

          </div>
        </div>
      </div>
        
         <!-- 포스트 형식 추천 리스트 -->
         <div class="main-list bestCamping">
          <div class="mian-new-title">
            새로 생긴 신규 캠핑장
          </div>
           <div class="main-best-container">
          <div class="main-best-content">

            <div class="main-img-wrap" th:each="mainNew : ${mainNewList}">
			<a th:href="@{/camp/detail?(campNo=${mainNew.cRNo})}">
              <div class="main-best-img">
              <img th:src="@{${mainNew.fRRoute}+${mainNew.fRName}}">
              <p class="main-best-title text" th:text="${mainNew.cRName}"></p>
              <p class="main-best-location text" th:text="${mainNew.cRAddress}"></p>
            </div></a>
          </div>

         
       </div>
        
          </div>

        </div>

      </div>
 </div>
 
 </div>
      
    <!-- 푸터 -->
    <div th:replace="common/footer.html"></div>

  	<!-- 제이쿼리 충돌 방지 코드 -->
	<script type="text/javascript"> $.noConflict(); </script>

    <!-- 추천리스트 슬라이드 -->
    <script>
    $('.main-slide-wrapper').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        nextArrow:$('.next'),
        prevArrow:$('.prev'),
      });
    </script>
    
    <!-- 제이쿼리 충돌 방지 코드 -->
	<script type="text/javascript"> $.noConflict(); </script>

    <!-- 캘린더 스크립트 -->
    <script type="text/javascript" th:src="@{/resources/js/main/datePicker.js}"></script>
    
    	
    <!-- 인원수 증가 버튼 클릭시 submit 제출되지 않게-->
 	  <script>
	  $('form').on('click', 'button:not([type="submit"])', function(e){
	    e.preventDefault();
	  })
	  </script>
	  
	  
	 <!-- 숙소타입 1개 이상 선택되지 않았을 시 form 전송 안 되고 alert -->
	 <script>
	 $('.main-search-sub').on('click', function(){
		 if($('input[type="checkbox"]').is(":checked") == false){
			 alert("숙소 타입을 선택해 주세요.");
			 return false;
		 }
	 });   
	 </script>
	 
	  
</body>
</html>