<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>changinfo modify</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 외부 css -->
    <link href="/resources/css/mypage/changinfo_modify.css" rel="stylesheet" type="text/css">
    <!-- 외부 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
	<!-- header -->
    <div th:replace="common/header.html"></div>
	
	<div class="content">
	
	<!-- category -->
	<div th:replace="mypage/mypage_category.html"></div>	
    
    <div class="changinfo_content">
    <div class="changinfo">
        <header class="changinfo_header">
            <h1 class="changinfo_h1">회원정보 수정</h1>
    </div>
        </header>
        <div class="changinfo_content_div">
            <header class="changinfo_content_header">(<label class="changinfo_content_star">*</label>) 표시가 있는 항목은 반드시 입력해야 합니다.</header>        
            <div class="changinfo_privacy">
                <form>
                    <h4 class="changinfo_id">아이디<input type="text" class="changinfo_id_form2" id="user_id" name="user_id" value="아이디"></input></h4>
                    <div class="check_font" id="id_check"></div>
                    <h4 class="changinfo_name">이름<input type="text" class="changinfo_name_form2" id="user_name" name="user_name" value="이름"></input></h4>
                    <div class="check_font" id="name_check"></div>
                    <h4 class="changinfo_pwd">비밀번호(<label class="changinfo_content_star">*</label>)<input type="text" class="changinfo_pwd_form2" id="user_pwd" name="user_pwd" value="비밀번호"></input>
                    <a th:href="@{/mypage/changinfo/changinfo_pwd_modify}"><button class="changinfo_pwdbutton">비밀번호 변경</button></a></h4>
                    <div class="check_font" id="pwd_check"></div>
                    <h4 class="changinfo_email">이메일(<label class="changinfo_content_star">*</label>)<input type="text" class="changinfo_email_form2" id="user_email" name="user_email" value="이메일"></input></h4>
                    <div class="check_font" id="email_check"></div>
                    <h4 class="changinfo_phone">전화번호(<label class="changinfo_content_star">*</label>)<input type="text" class="changinfo_phone_form2" id="user_phone" name="user_phone" value="전화번호"></input></h4>
                    <div class="check_font" id="phone_check"></div>
                    <h4 class="changinfo_nickname">닉네임<input type="text" class="changinfo_nickname_form2" id="user_nickname" name="user_nickname" value="닉네임"></input><button class="changinfo_check">중복확인</button></h4>
                    <div class="check_font" id="nickname_check"></div>
                    <button class="changeinfo_changebutton">수정완료</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    
    <!-- footer -->
    <div th:replace="common/footer.html"></div>  
    
    <script>
        $("#user_id").blur(function(){
            var user_id = $('#user_id').val();
            $.ajax({
                url : '${pageContext.request.contextPath}/user/idCheck?userId=' + user_id,
                type : 'get',
                success : function(data){
                    console.log("1 = 중복o / 0 = 중복x : " + data);
                    
                    if(data == 1){
                        $("#id_check").text("사용중인 아이디입니다");
                        $("#id_check").css("color", "red");
                        $("#reg_submit").attr("disabled", true);
                    } else {
                        
                    if(idj.test(user_id)){
                        $("#id_check").text("");
                        $("#reg_submit").attr("disabled", false);
                    
                    } else if(user_id = ""){
                    
                        $("#id_check").text("아이디를 입력해주세요 :)");
                        $("#id_check").css("color", "red");
                        $("#reg_submit").attr("disabled", true);
                    
                    } else {
                        
                        $("#id_check").text("아이디는 소문자와 숫자 4~12자리만 가능합니다");
                        $("#id_check").css("color", "red");
                        $("#reg_submit").attr("disabled", true);
                    }
                }
            } ,error : function(){
                    console.log("실패");
                }
            })
        });

    </script>




</body>
</html>