<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>changinfo_memberout</title>
    <script>
	const successMessage = '[[${ successMessage }]]';
	
	if(successMessage) {
		alert(successMessage);
	}
    </script>
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 외부 css -->
    <link href="/resources/css/mypage/changinfo_memberout.css" rel="stylesheet" type="text/css">
    <!-- 외부 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<!-- header -->
    <div th:replace="common/header.html"></div>
    
    <div class="content">
    
    <!-- category -->
	<div th:replace="mypage/mypage_category.html"></div>
    
    <div class="changinfo_content">
    <div class="changinfo">
        <header class="changinfo_header">
            <h1 class="changinfo_h1">회원탈퇴</h1>
        </header>
    </div>
        <div class="changinfo_content_div">
            <header class="changinfo_content_header">
                회원탈퇴를 원하시면 비밀번호를 입력하신후<br>
                회원탈퇴 버튼을 클릭해 주세요.    
            </header>        
            <div class="changinfo_privacy">
                <form class="changinfo_memberout_form" id="changinfo_modify_form" 
                th:action="@{/mypage/changinfo/changinfo_memberout}" method="post" onsubmit="return validate();">
                    <h4 class="check_id">아 이 디<input type="text" class="check_id_form" id="id" name="id"></input></h4>
                    <h4 class="check_pwd">비밀번호 확인<input type="password" class="check_pwd_form" id="pwd" name="pwd"></input>
                    <div class="check_font" id="user_check"></div>
                    <button type="submit" id="submit" name="submit" class="changinfoPwdModify_pwdbutton">회원탈퇴</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    
    <!-- footer -->
    <div th:replace="common/footer.html"></div>    
    
    <!-- 
    <script>
    $('#userPwd2').blur(function(){
		if($('#userPwd').val() != $(this).val()){
			$('#userPwd2_check').text('비밀번호가 일치하지 않습니다');
			$('#userPwd2_check').css('color', 'red');
		} else {
			$('#userPwd2_check').text('');
		}
	});    
    </script>
     -->
    
    <script>
    function validate(){
		return true;
	}
    
    $("#submit").on('click', function(){
			if(changinfo_memberout_form.id.value == ""){
				alert("아이디를 입력하지 않았습니다")
				changinfo_memberout_form.id.focus();
				return false;
			}
			
			if(changinfo_memberout_form.pwd.value == ""){
				alert("비밀번호를 입력하지 않았습니다")
				changinfo_memberout_form.pwd.focus();
				return false;
			}
			return true;
	    });
    </script>
    
    
</body>
</html>