<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>changinfo_memberout</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 외부 css -->
    <link href="../header-footer/css/changinfo_memberout.css" rel="stylesheet">
    <!-- 외부 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <div class="content">
    <div class="changinfo">
        <header class="changinfo_header">
            <h1 class="changinfo_h1">회원탈퇴</h1>
        </header>
    </div>
    <div class="changinfo_content">
        <div class="changinfo_content_div">
            <header class="changinfo_content_header">
                회원탈퇴를 원하시면 비밀번호를 입력하신후<br>
                회원탈퇴 버튼을 클릭해 주세요.    
            </header>        
            <div class="changinfo_privacy">
                <form>
                    <h4 class="check_pwd">비밀번호<input type="text" class="check_pwd_form" value=""></input></h4>
                    <h4 class="check_pwd2">비밀번호 확인<input type="text" class="check_pwd_form2" value=""></input>
                    <button class="changinfoPwdModify_pwdbutton">회원탈퇴</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>
</html>