<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>changinfo modify</title>
    <script>
	const successMessage = '[[${ successMessage }]]';
	
	if(successMessage) {
		alert(successMessage);
	} 
	</script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 외부 css -->
    <link href="/resources/css/mypage/changinfo_modify.css" rel="stylesheet" type="text/css">
    <!-- 외부 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
	<!-- header -->
    <!-- <div th:replace="common/header.html"></div>
	 -->
	<!-- category -->
	<div th:replace="mypage/mypage_category.html"></div>	

	<div class="content">
	
    
    <div class="changinfo_content">
    <div class="changinfo">
        <header class="changinfo_header">
            <h1 class="changinfo_h1">회원정보 수정</h1>
    </div>
        </header>
        <div class="changinfo_content_div">
            <header class="changinfo_content_header">(<label class="changinfo_content_star">*</label>) 표시가 있는 항목은 반드시 입력해야 합니다.</header>        
            <div class="changinfo_privacy" th:each="member : ${ memberList }">
                
                <form th:action="@{/mypage/changinfo/changinfoModify/update}" id="changinfo_modify_form" method="post">
                    <input type="hidden" name="id">
                    <h4 class="changinfo_id">아이디<label class="changinfo_id_form2" th:text="${ member.id }"></label></h4>
                    
                    <h4 class="changinfo_name">이름<label class="changinfo_name_form2" th:text="${ member.userName }"></h4>
                    
                    <h4 class="changinfo_pwd">비밀번호
                    <a href="/mypage/changinfo/changinfoModify/changinfoPwdModify"><button type="button" class="changinfo_pwdbutton">비밀번호 변경</button></a></h4>
                    
                    <h4 class="changinfo_email">이메일(<label class="changinfo_content_star">*</label>)<input type="text" class="changinfo_email_form2" id="email" name="email" required placeholder="이메일" th:value="${ member.email }"></input></h4>
                    <div class="check_font" id="email_check"></div>
                    
                    <h4 class="changinfo_phone">전화번호(<label class="changinfo_content_star">*</label>)<input type="text" class="changinfo_phone_form2" id="phone" name="phone" maxlength="11" required placeholder="전화번호" th:value="${ member.phone }"></input></h4>
                    <div class="check_font" id="phone_check"></div>
                    
                    <h4 class="changinfo_nickname">닉네임<input type="text" class="changinfo_nickname_form2" id="nickName" name="nickName" placeholder="닉네임" maxlength="8" oninput="checkNickName" th:value="${ member.nickName }"></input><button type="button" class="changinfo_pwdbutton" name="nickNameCheck_btn" id="nickNameCheck">중복확인</button></h4>
                     
                    <span class="id_ok">사용 가능한 닉네임 입니다.</span>
                    <span class="id_already">사용 불가능한 닉네임 입니다.</span>
                    
                    <div class="check_font" id="nickName_check"></div>
                    <br>
                    
                    <button type="submit" id="submit" class="changeinfo_changebutton">수정완료</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    
    <!-- footer -->
    <div th:replace="common/footer.html"></div>  
    
    <script>
    	// 공백 정규식
	    var empJ = /\s/g;
		
    	// 아이디 정규식
		var idJ = /^[a-z0-9]{4,12}$/;
		
		// 비밀번호 정규식
		var pwJ = /^[A-Za-z0-9]{4,12}$/; 
		
		// 이름 정규식
		var nameJ = /^[가-힣]{2,6}$/;
		
		// 이메일 검사 정규식
		var mailJ = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
		
		// 휴대폰 번호 정규식
		var phoneJ = /^01([0|1|6|7|8|9]?)?([0-9]{3,4})?([0-9]{4})$/;
		
		// 닉네임 정규식
		var nicknameJ = /^[a-z0-9가-힣]{2,8}$/;
		
		$('#email').blur(function(){
			if(mailJ.test($(this).val())){
				console.log(nameJ.test($(this).val()));
				$("#email_check").text('');
			} else {
				$('#email_check').text('영어, 숫자만 사용할 수 있습니다.');
				$('#email_check').css('color', 'red');
			}
		});
		
		$('#phone').blur(function(){
			if(phoneJ.test($(this).val())){
				console.log(nameJ.test($(this).val()));
				$("#phone_check").text('');
			} else {
				$('#phone_check').text('숫자만 사용할 수 있습니다.');
				$('#phone_check').css('color', 'red');
			}
		});
		
		$('#nickName').blur(function(){
			if(nicknameJ.test($(this).val())){
				console.log(nameJ.test($(this).val()));
				$("#nickName_check").text('');
			} else {
				$('#nickName_check').text('한글, 영어, 숫자 2~8 자만 사용할 수 있습니다.');
				$('#nickName_check').css('color', 'red');
			}
		});
		
		$("#submit").on('click', function(){
			if(changinfo_modify_form.email.value == ""){
				alert("이메일을 입력하지 않았습니다")
				changinfo_modify_form.email.focus();
				return false;
			}
			
			if(changinfo_modify_form.phone.value == ""){
				alert("휴대폰 번호를 입력하지 않았습니다")
				changinfo_modify_form.phone.focus();
				return false;
			}

			/*
			if(changinfo_modify_form.nickName.value == ""){
				alert("닉네임을 입력하지 않았습니다")
				changinfo_modify_form.nickName.focus();
				return false;
			}
			
			if(changinfo_modify_form.nickNameCheck_btn == ""){
				alert("중복")
			}
			*/
			return true;
		});
		/*
		$("#nickName").keyup(function(){
			 $(".result .msg").text("아이디를 확인해주십시오.");
			 $(".result .msg").attr("style", "color:#000");
			 
			 $("#submit").attr("disabled", "disabled");
		});
		*/		
    </script>
    
    <!-- 
    <script>
    $('.changinfo_nickname_form2').on("propertychange change keyup paste input", function(){
    	
    	console.log("keyup 테스트");
    	
    	var nickName = $('.changinfo_nickname_form2').val();
    	
	    $.ajax({
			url : "/mypage/nickName",
			type : "post",
			data : { nickName : nickName.val() },
			success : function(result){
				if(result != 'fail'){
					$('.id_ok').css("display", "inline-block");
					$('.id_already').css("display", "none");					
				} else {
					$('.id_already').css("display", "inline-block");
					$('.id_ok').css("display", "none");
				}
			}	
    });		
    </script>
     -->
     
    <script>
		function validate(){
			return true;
		}
	
		$("#nickNameCheck").on('click', function(){
			
			var nickName = $("[name=nickName]");
			var isUsable = false;
						
			if(!nickName || nickName.val().length < 2){
				alert("닉네임은 최소 2자리 이상, 8글자 이하여야 합니다.");
				nickName.focus();
			} else {
				$.ajax({
					url : "/mypage/nickName",
					type : "post",
					data : { nickName : nickName.val() },
					success : function(result){
						console.log(result);
						if(result == "fail"){
							alert("사용할 수 없는 닉네임 입니다.");
							nickName.focus();
						} else {
							if(confirm("사용 가능한 닉네임 입니다. 사용하시겠습니까?")){
								nickName.attr('readonly', true);
								isUsable = true;
							} else {
								nickName.attr('readonly', false);
								nickName.focus();
								isUsable = false;
							}
						}
												
					},
					error : function(e){
						console.log(e);
					}
				});
			}			
		});		
	</script>
     
    
</body>
</html>