<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>changinfo pwdmodify</title>
    <script>
	const successMessage = '[[${ successMessage }]]';
	
	if(successMessage) {
		alert(successMessage);
	}
	</script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 외부 css -->
    <link href="/resources/css/mypage/changinfo_pwd_modify.css" rel="stylesheet" type="text/css">
    <!-- 외부 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>

	<!-- header -->
    <div th:replace="common/header.html"></div>
    
    <div class="content">
    
    <!-- category -->
	<div th:replace="mypage/mypage_category.html"></div>

    <div class="changinfo_content">
    <div class="changinfo">
        <header class="changinfo_header">
            <h1 class="changinfo_h1">비밀번호 변경</h1>
        </header>
    </div>
        <div class="changinfo_content_div">
            <header class="changinfo_content_header">현재 비밀번호와 새로운 비밀번호를 입력 해주세요.</header>        
            <div class="changinfo_privacy">
                
                <form th:action="@{/mypage/changinfo_pwd_modify}" role="form"
                	th:Object="${passwordForm}" method="post">
                    <h4 class="changinfoPwdModify_pwd">현재 비밀번호<input type="password" class="changinfoPwdModify_pwd_form" 
                    name="userPwd" id="userPwd" placeholder="비밀번호를 입력하세요"></input></h4>
                   
                    <h4 class="changinfoPwdModify_newpwd">변경 비밀번호<input type="password" class="changinfoPwdModify_newpwd_form" name="newPwd" id="newPwd"></input>
                    <br></h4>
                    <div class="check_font" id="newPwd_check"></div>
                   
                    <h4 class="changinfoPwdModify_newpwd2">비밀번호 확인<input type="password" class="changinfoPwdModify_newpwd_form2" name="newPwd2" id="newPwd2"></input>
                    <br></h4>                    
                    <div class="check_font" id="newPwd2_check"></div>
                    <button type="submit" class="changinfoPwdModify_pwdbutton" id="updatePwdBtn">비밀번호 변경</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    
    <!-- footer -->
    <div th:replace="common/footer.html"></div>       
    
    <!-- 
    <script>
	 	// 비밀번호 정규식
		var pwJ = /^[A-Za-z0-9]{4,12}$/;
		
		$('#newPwd').blur(function(){
			if(pwJ.test($('#newPwd').val())){
				console.log('true');
				$("#newPwd_check").text('');
			} else {
				console.log('faluse');
				$('#newPwd_check').text('4~12자리의 영문과 숫자만 사용하실수 있습니다.');
				$('#newPwd_check').css('color', 'red');
			}
		});
		
		$('#newPwd2').blur(function(){
			if($('#newPwd').val() != $(this).val()){
				$('#newPwd2_check').text('비밀번호가 일치하지 않습니다');
				$('#newPwd2_check').css('color', 'red');
			} else {
				$('#newPwd2_check').text('');
			}
		});
		
		/* var inval_Arr = new Array(5).fill(false);
		
		$('#updatePwdBtn').click(function(){
			if(($('#newPwd').val() == ($('newPwd2').val()))
					&& pwj.test($)('newPwd').val())){
			inval_Arr[0] == true;
		} else {
			inval_Arr[0] = false;
		}
		}); */
    </script>
     -->
     
    <script>
		$("#updatePwdBtn").on('click', function(){
			const userPwd = document.getElementById('userPwd');
			const newPwd = document.getElementById('newPwd');
			const newPwd2 = document.getElementById('newPwd2');
			
			/* 하나라도 공란으로 입력 시 alert 후 submit 하지 않음 */
	        if(userPwd.value == "" || newPwd.value == "" || newPwd2.value == "") {
	            alert("비밀번호를 입력해주세요.");
	            return false;
	        }
	        
	         /* 비밀번호와 비밀번호 확인의 값이 다를 시 alert 후 submit 하지 않음 */
	        if(newPwd.value != newPwd2.value) {
	            alert("비밀번호와 비밀번호 확인이 다릅니다.");
	            return false;
	        }	         
	        return true;
		});
	</script>	

</body>
</html>