<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage_camp_enrollment_room</title>
    <script>
	const successMessage = '[[${ successMessage }]]';
	
	if(successMessage) {
		alert(successMessage);
	}
	</script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 외부 css -->
    <link href="/resources/css/mypage/mypage_camp_enrollment.css" rel="stylesheet" type="text/css">
    <!-- 외부 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    
</head>
<body>
	<!-- header -->
    <!-- 
    <div th:replace="common/header.html"></div>
 	-->
     <!-- category -->
	<div th:replace="mypage/mypage_category.html"></div>
    
    <div class="content">
           
        <div class="mypage_camp_enrollment_content">
        <div class="mypage_camp_enrollment">
            <header class="mypage_camp_enrollment_header">
                <h1 class="mypage_camp_enrollment_h1">객실 등록</h1>
            </header>
        </div>
        <!--   -->
            <form id="enrollForm" th:action="@{/mypage/mypageCampEnrollmentRoom}" method="post"
            		enctype="multipart/form-data">
            <table class="mypage_camp_enrollment_table">
                <tr class="mypage_camp_enrollment_table_header">
                    <th colspan="2">객실 추가 등록 신청서</th>
                </tr>                
                <tr>
                  	<th>캠핑장 선택</th>
                	<td><select class="campCheck" name="campNo">
                			<option th:each="camp : ${campList}" th:value="${camp.campNo}" th:text="${camp.campName}"></option>                			
                		</select>
                	</td>
                </tr>
                <tr>
                    <th>객실 최대인원</th>
                    <td><input class="textbox" id="roomMember" name="roomMember" type="text" placeholder="객실 최대인원을 입력해주세요."><label class="roomMemberRed" style="color:red; margin-left:30px;"><label for="todo" class="item"></label><input type="checkbox" id="todo" class="roomMemberCheck" disabled hidden/></label></td>
                </tr>
                <tr>
                    <th>객실 이름(호수)</th>
                    <td><input class="textbox" id="roomName" name="roomName" type="text" placeholder="객실 이름을 입력해주세요."><label class="roomNameRed" style="color:red; margin-left:30px;"><label for="todo" class="item"></label><input type="checkbox" id="todo" class="roomNameCheck" disabled hidden/></label></td>
                </tr>
                <tr>
                    <th>객실 가격</th>
                    <td><input class="textbox" id="roomPrice" name="roomPrice" type="text" placeholder="객실 가격을 입력해주세요."><label class="roomPriceRed" style="color:red; margin-left:30px;"><label for="todo" class="item"></label><input type="checkbox" id="todo" class="roomPriceCheck" disabled hidden/></label></td>
                </tr>
                <tr>
                    <th>객실 크기</th>
                    <td><input class="textbox" id="roomSize" name="roomSize" type="text" placeholder="㎡ 기준(평수) 수치를 입력 해주세요."><label class="roomSizeRed" style="color:red; margin-left:30px;"><label for="todo" class="item"></label><input type="checkbox" id="todo" class="roomSizeCheck" disabled hidden/></label></td>
                </tr>
                <tr>
                    <th>객실 소개</th>
                    <td><input class="textbox" id="roomInfo" name="roomInfo" type="text" placeholder="객실 소개 및 구비물품 을 입력해주세요."><label class="roomInfoRed" style="color:red; margin-left:30px;"><label for="todo" class="item"></label><input type="checkbox" id="todo" class="roomInfoCheck" disabled hidden/></label></td>
                </tr>
                 <tr>
                    <th>객실 사진</th>
                    <td>
                		<input type="file" class="imageinput image21" name="roomMultiFiles"  accept="image/*" hidden>
	                    <input type="file" class="imageinput image22" name="roomMultiFiles"  accept="image/*" hidden>
	                    <input type="file" class="imageinput image23" name="roomMultiFiles"  accept="image/*" hidden>
	                    <input type="file" class="imageinput image24" name="roomMultiFiles"  accept="image/*" hidden>
	                    <input type="file" class="imageinput image25" name="roomMultiFiles"  accept="image/*" hidden>
	                  
	                    <div class="previewBox">
	                        <div class="inputImgPreview preview21"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
	                        <div class="inputImgPreview preview22"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
	                        <div class="inputImgPreview preview23"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
	                        <div class="inputImgPreview preview24"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
	                        <div class="inputImgPreview preview25"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
	                    </div>
                </tr>
                <tr>
                    <th>객실 바닥 형태</th><!-- name="roomFloor"  -->
                    <td><input type="radio" name="roomFloor" value="데크" checked>데크 <input type="radio" name="roomFloor" value="잔디">잔디 <input type="radio" name="roomFloor" value="파쇄석">파쇄석 </td>
                </tr>
                <tr>
                    <th>객실 주차 여부</th><!-- name="roomParking"  -->
                    <td><input type="radio" name="roomParking" value="텐트 옆 주차" checked>텐트 옆 주차 <input type="radio" name="roomParking" value="주차장 주차">주차장 주차 <input type="radio" name="roomParking" value="외부 주차">외부 주차</td>
                </tr>
                <tr>
                    <th>객실 형태</th><!-- name="roomForm" -->
                    <td><input type="radio" name="roomForm" value="카라반" checked>카라반 <input type="radio" name="roomForm" value="캠핑">캠핑 <input type="radio" name="roomForm" value="글램핑">글램핑</td>
                </tr>
                <tr>
                    <th>객실 수량</th>
                    <td><input class="textbox2" name="roomAmount" type="number" placeholder="1"></td>
                </tr>                
                <tbody></tbody>
            </table>
        
        <!--        
        <div class="clon_table">
        	<table class="mypage_camp_enrollment_table">
        		<tr>
                    <th>객실 최대인원</th>
                    <td><input class="textbox" name="roomMember" type="text" placeholder="객실 최대인원을 입력해주세요."></td>
                </tr>
                <tr>
                    <th>객실 이름(호수)</th>
                    <td><input class="textbox" name="roomName" type="text" placeholder="객실 이름을 입력해주세요."></td>
                </tr>
                <tr>
                    <th>객실 가격</th>
                    <td><input class="textbox" name="roomPrice" type="text" placeholder="객실 가격을 입력해주세요."></td>
                </tr>
                <tr>
                    <th>객실 크기</th>
                    <td><input class="textbox" name="roomSize" type="text" placeholder="㎡ 기준(평수) 수치를 입력 해주세요."></td>
                </tr>
                <tr>
                    <th>객실 소개</th>
                    <td><input class="textbox" name="roomInfo" type="text" placeholder="객실 소개 및 구비물품 을 입력해주세요."></td>
                </tr>
                <tr>
                    <th>객실 사진</th>
                    <td><input type="file" name="roomMultiFiles" multiple>
                </tr>
                <tr>
                    <th>객실 바닥 형태</th>
                    <td><input type="radio" name="roomFloor" value="데크" checked>데크 <input type="radio" name="roomFloor" value="잔디">잔디 <input type="radio" name="roomFloor" value="파쇄석">파쇄석 </td>
                </tr>
                <tr>
                    <th>객실 주차 여부</th>
                    <td><input type="radio" name="roomParking" value="텐트 옆 주차" checked>텐트 옆 주차 <input type="radio" name="roomParking" value="주차장 주차">주차장 주차 <input type="radio" name="roomParking" value="외부 주차">외부 주차</td>
                </tr>
                <tr>
                    <th>객실 형태</th>
                    <td><input type="radio" name="roomForm" value="카라반" checked>카라반 <input type="radio" name="roomForm" value="캠핑">캠핑 <input type="radio" name="roomForm" value="글램핑">글램핑</td>
                </tr>
                <tr>
                    <th>객실 수량</th>
                    <td><input class="textbox2" name="roomAmount" type="number" placeholder="1"></td>
                </tr>
        	</table>
        </div>
         -->
        	<div class="room_plus">
                <button type="button" id="room_plus_button" class="room_plus_button"><img class="room_plus_img" src="/resources/images/mypage/plus.png">객실 추가하기</button>
            </div>
            <div class="camp_plus">
                <input class="camp_plus_button" id="submit" type="submit" value="객실 등록하기">
            </div> 
            </form>
        </div>
    </div>
    <!-- footer -->
    <div th:replace="common/footer.html"></div>
    
    <script>
    $(function(){
    	let campNo = $('#campNo').val();
    	
    	$('submit').on('click', function(){
    		$('#enrollForm').submit();
    	})
    })
    
    </script>
    
    
    
    
    
    <script>
    $("#room_plus_button").on("click", function(e){
    	//$(".clon_table").clone().appendTo(".room_plus");
		$(".mypage_camp_enrollment_table > tbody:last").append
		("<tr><th><hr width='100%' color='lightgray'></th><td><hr width='100%' color='lightgray'></td></tr>" +
		"<tr><th>객실 최대인원</th><td><input class='textbox' name='roomMember' type='text' placeholder='객실 최대인원을 입력해주세요.'></td></tr>" +
		"<tr><th>객실 이름(호수)</th><td><input class='textbox' name='roomName' type='text' placeholder='객실 이름을 입력해주세요.'></td></tr>" +
		"<tr><th>객실 가격</th><td><input class='textbox' name='roomPrice' type='text' placeholder='객실 가격을 입력해주세요.'></td></tr>" +
		"<tr><th>객실 크기</th><td><input class='textbox' name='roomSize' type='text' placeholder='㎡ 기준(평수) 수치를 입력 해주세요.'></td></tr>" +
		"<tr><th>객실 소개</th><td><input class='textbox' name='roomInfo' type='text' placeholder='객실 소개 및 구비물품 을 입력해주세요.'></td></tr>" +
		"<tr><th>객실 사진</th><td><input type='file' name='roomMultiFiles' multiple></tr>" +
		"<tr><th>객실 바닥 형태</th><td><input type='radio' name='roomFloor' value='데크' checked>데크 <input type='radio' name='roomFloor' value='잔디'>잔디 <input type='radio' name='roomFloor' value='파쇄석'>파쇄석 </td></tr>" +
		"<tr><th>객실 주차 여부</th><td><input type='radio' name='roomParking' value='텐트 옆 주차' checked>텐트 옆 주차 <input type='radio' name='roomParking' value='주차장 주차'>주차장 주차 <input type='radio' name='roomParking' value='외부 주차'>외부 주차</td></tr>" +
		"<tr><th>객실 형태</th><td><input type='radio' name='roomForm' value='카라반' checked>카라반 <input type='radio' name='roomForm' value='캠핑'>캠핑 <input type='radio' name='roomForm' value='글램핑'>글램핑</td></tr>" +
		"<tr><th>객실 수량</th><td><input class='textbox2' name='roomAmount' type='number' placeholder='1'></td></tr>"
		);   
    });
    </script>
    
    <script>
    $(function(){
    	$('.preview01').click(function (e){
   			$('.image01').click();
   		}) 
   		$('.preview1').click(function (e){
   			$('.image1').click();
   		}) 
   		$('.preview2').click(function (e){
   			$('.image2').click();
   		}) 	
   		$('.preview3').click(function (e){
   			$('.image3').click();
   		})
   		$('.preview4').click(function (e){
   			$('.image4').click();
   		}) 	
   		$('.preview5').click(function (e){
   			$('.image5').click();
   		})
   		$('.preview21').click(function (e){		// 이미지 감싸는 div profileInput
   			$('.image21').click();				// 파일타입 preview1
   		}) 
   		$('.preview22').click(function (e){
   			$('.image22').click();
   		}) 	
   		$('.preview23').click(function (e){
   			$('.image23').click();
   		})
   		$('.preview24').click(function (e){
   			$('.image24').click();
   		}) 	
   		$('.preview25').click(function (e){
   			$('.image25').click();
   		}) 	
   
    })
    </script>
    
    <script>
    /* input type file 요소들 */
    const fileElements = document.querySelectorAll("[type=file]");
    /* div image_area 요소들 */
    const imageArea = document.querySelectorAll(".inputImgPreview");
    /* input type file 요소에 change 이벤트 발생 시 (파일 첨부 발생) */
    fileElements.forEach(item => item.addEventListener('change', preview));

    function preview(){
    	let index = Array.from(fileElements).indexOf(this);   //input type="file" 이게 this
    	if(this.files && this.files[0]) {
    		let reader = new FileReader();
    		reader.readAsDataURL(this.files[0]);
    		reader.onload = function() {
    			imageArea[index].innerHTML = "<img class='afterInput' src='" + reader.result + "'>";
    		}
    	}
    }
    </script>
    
    <script>
    $(document).on("keyup","#roomMember", function(){
    	let regExp = /^[0-9]+$/;
    	if(regExp.test($("#roomMember").val())){
    		$(".roomMemberRed").text("");
    		nameCheck = true;    		
    	} else{
    		$(".roomMemberCheck").prop('checked',false);
    		$(".roomMemberRed").text("객실 최대인원을 숫자로 입력해주세요.")
    	}
    }).on("focusout","#roomMember",function(){
    	let regExp = /^[0-9]+$/;
    	if(regExp.test($("#roomMember").val())){
    		$(".roomMemberCheck").prop('checked', true);
    		nameCheck = true;    		
    	} else{
    		$(".roomMemberRed").text("객실 최대인원을 숫자로 입력해주세요.")
    		nameCheck = false;
    	}
    })
    
    $(document).on("keyup","#roomName", function(){
    	let regExp = /^[\s가-힣a-zA-Z-0-9,]{2,}$/;
    	if(regExp.test($("#roomName").val())){
    		$(".roomNameRed").text("");
    		nameCheck = true;    		
    	} else{
    		$(".roomNameCheck").prop('checked',false);
    		$(".roomNameRed").text("객실 이름을 입력해주세요.(특수문자는 사용할 수 없습니다)")
    	}
    }).on("focusout","#roomName",function(){
    	let regExp = /^[\s가-힣a-zA-Z-0-9","]{2,}$/;
    	if(regExp.test($("#roomName").val())){
    		$(".roomNameCheck").prop('checked', true);
    		nameCheck = true;    		
    	} else{
    		$(".roomNameRed").text("객실 이름을 입력해주세요.(특수문자는 사용할 수 없습니다)")
    		nameCheck = false;
    	}
    })
    
    $(document).on("keyup","#roomPrice", function(){
    	let regExp = /^[0-9,]+$/;
    	if(regExp.test($("#roomPrice").val())){
    		$(".roomPriceRed").text("");
    		nameCheck = true;    		
    	} else{
    		$(".roomPriceCheck").prop('checked',false);
    		$(".roomPriceRed").text("객실 가격을 숫자와 , 만 입력해주세요.")
    	}
    }).on("focusout","#roomPrice",function(){
    	let regExp = /^[0-9,]+$/;
    	if(regExp.test($("#roomPrice").val())){
    		$(".roomPriceCheck").prop('checked', true);
    		nameCheck = true;    		
    	} else{
    		$(".roomPriceRed").text("객실 가격을 숫자와 , 입력해주세요.")
    		nameCheck = false;
    	}
    })
    
    $(document).on("keyup","#roomSize", function(){
    	let regExp = /^[평mM0-9]{2,}$/;
    	if(regExp.test($("#roomSize").val())){
    		$(".roomSizeRed").text("");
    		nameCheck = true;    		
    	} else{
    		$(".roomSizeCheck").prop('checked',false);
    		$(".roomSizeRed").text("객실 평수를 입력해주세요.")
    	}
    }).on("focusout","#roomSize",function(){
    	let regExp = /^[가-힣a-zA-Z-0-9]{2,}$/;
    	if(regExp.test($("#roomSize").val())){
    		$(".roomSizeCheck").prop('checked', true);
    		nameCheck = true;    		
    	} else{
    		$(".roomSizeRed").text("객실 평수를 입력해주세요.")
    		nameCheck = false;
    	}
    })
    
    $(document).on("keyup","#roomInfo", function(){
    	let regExp = /\s/g;
    	if(regExp.test($("#roomInfo").val())){
    		$(".roomInfoRed").text("");
    		nameCheck = true;    		
    	} else{
    		$(".roomInfoCheck").prop('checked',false);
    		$(".roomInfoRed").text("객실 소개를 입력해주세요.")
    	}
    }).on("focusout","#roomInfo",function(){
    	let regExp = /\s/g;
    	if(regExp.test($("#roomInfo").val())){
    		$(".roomInfoCheck").prop('checked', true);
    		nameCheck = true;    		
    	} else{
    		$(".roomInfoRed").text("객실 소개를 입력해주세요.")
    		nameCheck = false;
    	}
    })
    </script>
</body>
</html>