<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>mypage_reserve</title>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- 외부 css -->
<link href="/resources/css/mypage/mypage_guest_reserve.css" rel="stylesheet" type="text/css">
<!-- 외부 폰트 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="mypage/mypage_category.html"></div>

    <div class="content">
    
        <div>
	        <div class="mypage_guest_reserve">
	            <header class="mypage_guest_reserve_header">
	                <h1 class="mypage_guest_reserve_h1">회원 예약내역 확인</h1>
	            </header>
	        </div>
	        
            <table class="mypage_guest_reserve_table">
                <tr class="mypage_guest_reserve_table_header">
                    <th class="mypage_guest_reserve_table_header_no">NO</th>
                    <th>예약 캠핑장</th>
                    <th>캠핑장 주소</th>
                    <th>예약 날짜</th>
                    <th class="mypage_guest_reserve_table_header_status">예약 상태</th>
                </tr>
                <tr th:each="reserve : ${reserveList}" th:with="sysdate=${#dates.createToday()}">
                    <th class="mypage_guest_reserve_table_body" th:text="${reserve.reserNo}"></th>
                    <th class="mypage_guest_reserve_table_body" th:each="imgfile : ${reserve.camp.imageFileList}">
                    	<img class="mypage_guest_reserve_table_img" th:src="@{ ${imgfile.fileRoute} + ${imgfile.fileName} }">
                    	<p class="camp_name" th:text="${reserve.camp.campName}"></p>
                    </th>
                    <th class="mypage_guest_reserve_table_body"><p class="camp_address" th:text="${reserve.camp.campAddress}"></p>
                        <small class="camp_phone" th:text="${reserve.camp.campPhone}"></small></th>
                    <th class="mypage_guest_reserve_table_body">
                    	<p class="camp_date" th:text="|${reserve.checkIn} ~ ${reserve.checkOut}|"></p>
                        <small class="camp_room" th:text="${reserve.roomName}"></small>
                    </th>
                    <th class="mypage_guest_reserve_table_body2">
                    	<h6>예약 완료</h6>
                    	<input class="mypage_guest_reserve_button" type="button" value="예약취소">
                    </th>
                    <th class="mypage_guest_reserve_table_body2" th:if="${reserve.deadLine} <= 7">
                    	<input class="mypage_guest_reserve_button" type="button"
                    	th:onclick="|location.href='@{/camp/review(userNo=${#authentication.principal.userNo}, campNo=${reserve.camp.campNo}, reserNo=${reserve.reserNo})}'|" 
                    	value="리뷰쓰기">
                    	<h6>체크 아웃으로부터 7일 이내에만 <br> 리뷰 작성이 가능합니다</h6>
                    </th>
                    <th class="mypage_guest_reserve_table_body2" th:if="${reserve.deadLine} > 7">
                    	<h6>리뷰작성 완료</h6>
                    </th>
                    <th class="mypage_guest_reserve_table_body2" th:if="${reserve.deadLine} > 7">
                    	<h6>이용 완료</h6>
                    </th>
                </tr>
            </table>
        </div>
        
        <!-- 페이징 처리 -->


</div>

<!-- footer -->
<div th:replace="common/footer.html"></div> 
</body>
</html>