<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>category</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- 외부 css -->
    <link href="../header-footer/css/mypage_category.css" rel="stylesheet">
    <!-- 외부 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <aside>
        <div class="mypage_category">
            <div class="ca_head">마이페이지</div>
            <ul class="mypage_category_ul">
                <li class="mypage_category_li"><a href="#">회원정보수정</a></li>
                <li class="mypage_category_li"><a href="#">찜한캠핑장</a></li>
                <li class="mypage_category_li"><a href="#">예약내역확인</a></li>
                <li class="mypage_category_li"><a href="#">고객센터</a></li>
            </ul>
        </div>

    </aside>


</body>
</html>