<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 외부 css -->
    <link rel="stylesheet" href="/resources/css/mypage/mypage.css" type="text/css">
    <!-- 외부 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
     
</head> 
<body>
	<!-- header -->
    <!-- 
    <div th:replace="common/header.html"></div>
     -->    
	<!-- category -->
	<div th:replace="mypage/mypage_category.html"></div>
    
    <div class="wrapper">
    
    <div class="content">	

    <div class="mypage_content"> 
        <div class="mypage_content_1">
            <form class="mypageProfileImage" th:action="@{/mypage}" method="post" enctype="multipart/form-data">
            <div class="mypage_content_top">프로필 사진</div>
	            <div class="image_area" th:each="member : ${memberList}">
		            <div class="image_area">
		            	<img class="profileImg" th:src="${member.profilePath}">
		            </div>
	        	</div>
		        	<input type="file" class="profileInput" name="singleFile" accept="image/*" hidden>
		            <p class="mypage_content_p2">플로필 사진을 변경 할 수 있습니다.</p>
		    <div>
		    	<lebel class="mypageProfileImageLebel">사진을 먼저 선택해주세요</lebel>
		     	<input class="mypageProfileImageButton" type="submit" value="변경하기"/>       	
		    </div>       
	        </div>
	        </form>
        
        <div class="mypage_content_2">
            <div class="mypage_content_top">찜한 캠핑장</div>
            <img class="mypage_wishlist" src="resources/images/mypage/깊은산속.jpg"><br>
            <p class="mypage_content_p">아침 고요 수목원</p>
        </div>
        
        <div class="mypage_content_3">
            <div class="mypage_content_top">회원님 정보</div>
            <ul class="mypage_content_3_ul">
                <li class="mypage_content_3_li" th:each="member : ${ memberList }">                
                <img class="mypage_img_user" src="/resources/images/mypage/user.png"/>
                <!-- 
                가입일 : <label class="mypage_date" th:text="${ member.createDate }"></li>
                 -->
                가입일 : <label class="mypage_date" th:text="${ #dates.format(member.createDate, 'yyyy년 MM월 dd일 E요일') }"></li>
                <!-- 
                sec:authentication="principal.createDate">
                -->  
                <li class="mypage_content_3_li">
                <img class="mypage_img_user" src="/resources/images/mypage/user.png"></src>
                <!-- 
                sec:authentication="principal.modifyDate"
                 -->
                최근 로그일 : <label class="mypage_date" th:text="${ #dates.format(standardDate, 'yyyy년 MM월 dd일 E요일') }"></li>
                
            </ul>
        </div>
        <div class="mypage_content_4">
            <div class="mypage_content_top">내가 등록한 게시물</div>
            <ul class="mypage_content_4_ul" th:each="board : ${ boardList }" th:onclick="'location.href=\''+@{/board/detail(bid=${board.bid})}+'\''">
                <a><li class="mypage_content_4_li" th:text="${ board.title }"></li></a>
            </ul>    
        </div>
      </div>
    </div>    
    </div>
    <!-- 푸터 -->
    <div th:replace="common/footer.html"></div>
    
    <script>
    $(function(){
   		$('.profileImg').click(function (e){
   			$('.profileInput').click();
   		})
    })
    </script>
         
    <script>
    $(function() {
    	$('.profileInput').change(function (e) {
    		document.querySelector('.image_area').className = "image_area div_after";
    	})
     })
    </script>     
    <!-- 
    <script src="/resources/js/member/imagePreview.js"></script>
     -->
    <script>
    const fileElements = document.querySelectorAll("[type=file]");    
    const imageArea = document.querySelectorAll(".image_area");   
    fileElements.forEach(item => item.addEventListener('change', preview));

    function preview(){
    	let index = Array.from(fileElements).indexOf(this);
    	if(this.files && this.files[0]) {
    		let reader = new FileReader();
    		reader.readAsDataURL(this.files[0]);
    		reader.onload = function() {
    			imageArea[index].innerHTML = "<img class='profileImg after' src='" + reader.result + "'>";
    		}
    	}
    }
    </script>
       
</body>
</html>