<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage_camp_enrollment</title>
    <script>
	const successMessage = '[[${ successMessage }]]';
	
	if(successMessage) {
		alert(successMessage);
	}
	</script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 외부 css -->
    <link href="/resources/css/mypage/mypage_camp_enrollment.css" rel="stylesheet" type="text/css">
    <!-- 외부 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    
</head>
<body>
	<!-- header -->
    <div th:replace="common/header.html"></div>

    <div class="content">
    
     <!-- category -->
	<div th:replace="mypage/mypage_category.html"></div>
       
        <div class="mypage_camp_enrollment_content">
        <div class="mypage_camp_enrollment">
            <header class="mypage_camp_enrollment_header">
                <h1 class="mypage_camp_enrollment_h1">객실 등록</h1>
            </header>
        </div>
        <!--   -->
            <form id="enrollForm" th:action="@{/mypage/mypageCampEnrollmentRoom}" method="post"
            		enctype="multipart/form-data">
            <table class="mypage_camp_enrollment_table">
                <tr class="mypage_camp_enrollment_table_header">
                    <th colspan="2">객실 추가 등록 신청서</th>
                </tr>                
                <tr>
                    <th>객실 최대인원</th>
                    <td><input class="textbox" name="roomMember" type="text" placeholder="객실 최대인원을 입력해주세요."></td>
                </tr>
                <tr>
                    <th>객실 이름(호수)</th>
                    <td><input class="textbox" name="roomName" type="text" placeholder="객실 이름을 입력해주세요."></td>
                </tr>
                <tr>
                    <th>객실 가격</th>
                    <td><input class="textbox" name="roomPrice" type="text" placeholder="객실 가격을 입력해주세요."></td>
                </tr>
                <tr>
                    <th>객실 크기</th>
                    <td><input class="textbox" name="roomSize" type="text" placeholder="㎡ 기준(평수) 수치를 입력 해주세요."></td>
                </tr>
                <tr>
                    <th>객실 소개</th>
                    <td><input class="textbox" name="roomInfo" type="text" placeholder="객실 소개 및 구비물품 을 입력해주세요."></td>
                </tr>
                <tr>
                    <th>객실 사진</th>
                    <td><input type="file" name="roomMultiFiles" multiple>
                </tr>
                <tr>
                    <th>객실 바닥 형태</th><!-- name="roomFloor"  -->
                    <td><input type="radio" name="roomFloor" value="데크" checked>데크 <input type="radio" name="roomFloor" value="잔디">잔디 <input type="radio" name="roomFloor" value="파쇄석">파쇄석 </td>
                </tr>
                <tr>
                    <th>객실 주차 여부</th><!-- name="roomParking"  -->
                    <td><input type="radio" name="roomParking" value="텐트 옆 주차" checked>텐트 옆 주차 <input type="radio" name="roomParking" value="주차장 주차">주차장 주차 <input type="radio" name="roomParking" value="외부 주차">외부 주차</td>
                </tr>
                <tr>
                    <th>객실 형태</th><!-- name="roomForm" -->
                    <td><input type="radio" name="roomForm" value="카라반" checked>카라반 <input type="radio" name="roomForm" value="캠핑">캠핑 <input type="radio" name="roomForm" value="글램핑">글램핑</td>
                </tr>
                <tr>
                    <th>객실 수량</th>
                    <td><input class="textbox2" name="roomAmount" type="number" placeholder="1"></td>
                </tr>                
                <tbody></tbody>
            </table>
        
        <!--        
        <div class="clon_table">
        	<table class="mypage_camp_enrollment_table">
        		<tr>
                    <th>객실 최대인원</th>
                    <td><input class="textbox" name="roomMember" type="text" placeholder="객실 최대인원을 입력해주세요."></td>
                </tr>
                <tr>
                    <th>객실 이름(호수)</th>
                    <td><input class="textbox" name="roomName" type="text" placeholder="객실 이름을 입력해주세요."></td>
                </tr>
                <tr>
                    <th>객실 가격</th>
                    <td><input class="textbox" name="roomPrice" type="text" placeholder="객실 가격을 입력해주세요."></td>
                </tr>
                <tr>
                    <th>객실 크기</th>
                    <td><input class="textbox" name="roomSize" type="text" placeholder="㎡ 기준(평수) 수치를 입력 해주세요."></td>
                </tr>
                <tr>
                    <th>객실 소개</th>
                    <td><input class="textbox" name="roomInfo" type="text" placeholder="객실 소개 및 구비물품 을 입력해주세요."></td>
                </tr>
                <tr>
                    <th>객실 사진</th>
                    <td><input type="file" name="roomMultiFiles" multiple>
                </tr>
                <tr>
                    <th>객실 바닥 형태</th>
                    <td><input type="radio" name="roomFloor" value="데크" checked>데크 <input type="radio" name="roomFloor" value="잔디">잔디 <input type="radio" name="roomFloor" value="파쇄석">파쇄석 </td>
                </tr>
                <tr>
                    <th>객실 주차 여부</th>
                    <td><input type="radio" name="roomParking" value="텐트 옆 주차" checked>텐트 옆 주차 <input type="radio" name="roomParking" value="주차장 주차">주차장 주차 <input type="radio" name="roomParking" value="외부 주차">외부 주차</td>
                </tr>
                <tr>
                    <th>객실 형태</th>
                    <td><input type="radio" name="roomForm" value="카라반" checked>카라반 <input type="radio" name="roomForm" value="캠핑">캠핑 <input type="radio" name="roomForm" value="글램핑">글램핑</td>
                </tr>
                <tr>
                    <th>객실 수량</th>
                    <td><input class="textbox2" name="roomAmount" type="number" placeholder="1"></td>
                </tr>
        	</table>
        </div>
         -->
        	<div class="room_plus">
                <button type="button" id="room_plus_button" class="room_plus_button"><img class="room_plus_img" src="/resources/images/mypage/plus.png">객실 추가하기</button>
            </div>
            <div class="camp_plus">
                <input class="camp_plus_button" type="submit" value="객실 등록하기">
            </div> 
            </form>
        </div>
    </div>
    <!-- footer -->
    <div th:replace="common/footer.html"></div>
    
    <script>
    $("#room_plus_button").on("click", function(e){
    	//$(".clon_table").clone().appendTo(".room_plus");
		$(".mypage_camp_enrollment_table > tbody:last").append
		("<tr><th><hr width='100%' color='lightgray'></th><td><hr width='100%' color='lightgray'></td></tr>" +
		"<tr><th>객실 최대인원</th><td><input class='textbox' name='roomMember' type='text' placeholder='객실 최대인원을 입력해주세요.'></td></tr>" +
		"<tr><th>객실 이름(호수)</th><td><input class='textbox' name='roomName' type='text' placeholder='객실 이름을 입력해주세요.'></td></tr>" +
		"<tr><th>객실 가격</th><td><input class='textbox' name='roomPrice' type='text' placeholder='객실 가격을 입력해주세요.'></td></tr>" +
		"<tr><th>객실 크기</th><td><input class='textbox' name='roomSize' type='text' placeholder='㎡ 기준(평수) 수치를 입력 해주세요.'></td></tr>" +
		"<tr><th>객실 소개</th><td><input class='textbox' name='roomInfo' type='text' placeholder='객실 소개 및 구비물품 을 입력해주세요.'></td></tr>" +
		"<tr><th>객실 사진</th><td><input type='file' name='roomMultiFiles' multiple></tr>" +
		"<tr><th>객실 바닥 형태</th><td><input type='radio' name='roomFloor' value='데크' checked>데크 <input type='radio' name='roomFloor' value='잔디'>잔디 <input type='radio' name='roomFloor' value='파쇄석'>파쇄석 </td></tr>" +
		"<tr><th>객실 주차 여부</th><td><input type='radio' name='roomParking' value='텐트 옆 주차' checked>텐트 옆 주차 <input type='radio' name='roomParking' value='주차장 주차'>주차장 주차 <input type='radio' name='roomParking' value='외부 주차'>외부 주차</td></tr>" +
		"<tr><th>객실 형태</th><td><input type='radio' name='roomForm' value='카라반' checked>카라반 <input type='radio' name='roomForm' value='캠핑'>캠핑 <input type='radio' name='roomForm' value='글램핑'>글램핑</td></tr>" +
		"<tr><th>객실 수량</th><td><input class='textbox2' name='roomAmount' type='number' placeholder='1'></td></tr>"
		);   
    });
    </script>
    
    <!-- <script>
    	$("#enrollForm input[type=button]").on("click", function(){
    		let param = {};
    		param.roomMember = $("#enrollForm [name=roomMember]").val();
    		param.roomName = $("#enrollForm [name=roomName]").val();
    		param.roomPrice = $("#enrollForm [name=roomPrice]").val();
    		param.roomSize = $("#enrollForm [name=roomSize]").val();
    		param.roomInfo = $("#enrollForm [name=roomInfo]").val();
    		param.roomMember = $("#enrollForm [name=roomMember]").val();
    		param.roomFloor = $("#enrollForm [name=roomFloor]").val();
    		param.roomParking = $("#enrollForm [name=roomParking]").val();
    		param.roomForm = $("#enrollForm [name=roomForm]").val();
    		param.roomAmount = $("#enrollForm [name=roomAmount]").val();
    	});
    </script> -->
     
</body>
</html>