<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage_camp_management_out</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 외부 css -->
    <link href="/resources/css/mypage/mypage_camp_management_out.css" rel="stylesheet" type="text/css">
    <!-- 외부 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 
</head> 
<body>
	<!-- header -->
    <!-- 
    <div th:replace="common/header.html"></div>
 	-->
    <!-- category -->
	<div th:replace="mypage/mypage_category.html"></div>
   
    <div class="content">
   	
        <div class="mypage_camp_management_no_content">
        <div class="mypage_camp_management_no">
            <header class="mypage_camp_management_no_header">
                <h1 class="mypage_camp_management_no_h1">캠핑장 관리</h1>
            </header>
        </div>
            <div class="mypage_camp_management_no_content_div">
                <header class="mypage_camp_management_no_content_header">
                    정말로 캠핑장 해지신청 하시겠습니까 ?
                </header>        
                <div class="mypage_camp_management_no_privacy">
                    <input class="out_button" type="button" value="해지 신청하기">
                </div>
            </div>
        </div>
    </div>
      <!-- footer -->
    <div th:replace="common/footer.html"></div>  
</body>
</html>