<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage camp management</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 외부 css -->
    <link href="/resources/css/mypage/mypage_camp_management.css" rel="stylesheet" type="text/css">
    <!-- 외부 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    
</head>
<body>
	<!-- header -->
    <div th:replace="common/header.html"></div>

    <div class="content">
     <!-- category -->
	<div th:replace="mypage/mypage_category.html"></div>
        <div>
            <table class="mypage_camp_management_table">
        <div class="mypage_camp_management">
            <header class="mypage_camp_management_header">
                <h1 class="mypage_camp_management_h1">캠핑장 관리</h1>
            </header>
        </div>
                <tr class="mypage_camp_management_table_header">
                    <th class="mypage_camp_management_table_header_no">NO</th>
                    <th class="mypage_camp_management_table_header_camp">캠핑장 이름</th>
                    <th class="mypage_camp_management_table_header_address">캠핑장 주소</th>
                    <th class="mypage_camp_management_table_header_date">등록상태</th>
                    <th class="mypage_camp_management_table_header_status">캠핑장 해지신청</th>
                </tr>
                <tr>
                    <th class="mypage_camp_management_table_body"></th>
                    <th class="mypage_camp_management_table_body"><img class="mypage_camp_management_table_img" src="resources/images/mypage/007.png"><p class="camp_name">아침고요 수목원</p></th>
                    <th class="mypage_camp_management_table_body"><p class="camp_address">김광중</p><small class="camp_name">아침고요 수목원</small></th>
                    <th class="mypage_camp_management_table_body"><p class="camp_date">운영상태</p></th>
                    <th class="mypage_camp_management_table_body2"><input class="mypage_camp_management_button" type="button" value="해지신청"></th>
                </tr>
                <tr>
                    <th class="mypage_camp_management_table_body"></th>
                    <th class="mypage_camp_management_table_body"><img class="mypage_camp_management_table_img" src="resources/images/mypage/007.png"><p class="camp_name">아침고요 수목원</p></th>
                    <th class="mypage_camp_management_table_body"><p class="camp_address">김광중</p><small class="camp_name">아침고요 수목원</small></th>
                    <th class="mypage_camp_management_table_body"><p class="camp_date">대기중</p></th>
                    <th class="mypage_camp_management_table_body2"><input class="mypage_camp_management_button" type="button" value="신청완료"></th>
                </tr>
                <tr>
                    <th class="mypage_camp_management_table_body"></th>
                    <th class="mypage_camp_management_table_body"><img class="mypage_camp_management_table_img" src="resources/images/mypage/007.png"><p class="camp_name">아침고요 수목원</p></th>
                    <th class="mypage_camp_management_table_body"><p class="camp_address">김광중</p><small class="camp_name">아침고요 수목원</small></th>
                    <th class="mypage_camp_management_table_body"><p class="camp_date">거절</p><label class="camp_date_reject">거절사유</label></th>
                    <th class="mypage_camp_management_table_body2"><input class="mypage_camp_management_button" type="button" value="신청완료"></th>
                </tr>
            </table>
            <div class="room_plus">
                <img class="room_plus_img" src="resources/images/mypage/plus.png">객실 추가하기
            </div>
        <!-- 페이징 처리 -->
     <div class="member_pages">
        <ul class="member_paging">


            <!-- 맨 처음으로 이동하는 버튼(<<) -->
            <li><a href="">&lt;&lt;</a></li>
            


            <!-- 이전 페이지로(<) -->
            <li>
                <c:choose>
                    <c:when test="${ pi.page > 1 }"><a href="">&lt;</a></c:when>
                    <!-- <c:otherwise><a href="#">&lt;</a></c:otherwise> -->
                </c:choose>
            </li>
            


            <!-- 최대 10개의 페이지 목록 -->
            <c:forEach var="p" begin="${pi.startPage }" end="${pi.endPage }">
                <li>
                    <c:choose>
                        <c:when test="">
                            <div class="current_page">
                                <a href="#">1</a>
                            </div>
                        </c:when>
                        <c:otherwise>
                            <!-- <a href="${contextPath }/board/list?page=${ p }${ searchParam }">${ p }</a> -->
                        </c:otherwise>
                    </c:choose>
                </li>
            </c:forEach>



            <!-- 다음 페이지로(>) -->
            <li>
                <c:choose>
                    <c:when test=""><a href="">&gt;</a></c:when>
                    <!-- <c:otherwise><a href ="#">&gt;</a></c:otherwise> -->
                </c:choose>
            </li>



            <!-- 맨 끝으로 이동하는 버튼(>>) -->
            <li><a href="">&gt;&gt;</a></li>
        </ul>
    </div>
        </div>


	</div>
    </div>
	<!-- footer -->
    <div th:replace="common/footer.html"></div>  
</body>
</html>