<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 외부 css -->
    <link href="resources/css/mypage/mypage.css" rel="stylesheet">
    <!-- 외부 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="content">
    <div class="mypage_content">
        <div class="mypage_content_1">
            <div class="mypage_content_top">캐릭터 등록</div>
            <img class="mypage_character" src="../header-footer/image/007.png"><br>
            <p class="mypage_content_p">회원님을 알릴 수 있는 사진을 등록해주세요.</p>        
            <button class="mypage_photo_select">사진선택</button>            
            <button class="mypage_photo_reg">사진등록</button>
        </div>
        <div class="mypage_content_2">
            <div class="mypage_content_top">찜한 캠핑장</div>
            <img class="mypage_wishlist" src="../header-footer/image/깊은산속.jpg"><br>
            <p class="mypage_content_p">아침 고요 수목원</p>
        </div>
        <div class="mypage_content_3">
            <div class="mypage_content_top">회원님 정보</div>
            <ul class="mypage_content_3_ul">
                <li class="mypage_content_3_li"><img class="mypage_img_user" src="../header-footer/image/user.png"></src>가입일 : </li>
                <li class="mypage_content_3_li"><img class="mypage_img_user" src="../header-footer/image/user.png"></src>최근 로그일 : </li>
            </ul>
        </div>
        <div class="mypage_content_4">
            <div class="mypage_content_top">내가 등록한 게시물</div>
            <ul class="mypage_content_4_ul">
                <li class="mypage_content_4_li">아직 등록된 게시물이 없습니다.</li>
            </ul>    
        </div>
      </div>
    </div>
    
</body>
</html>