<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage_camp_enrollment</title>
    <script>
	const successMessage = '[[${ successMessage }]]';
	
	if(successMessage) {
		alert(successMessage);
	} 
	</script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 외부 css -->
    <link href="/resources/css/mypage/mypage_camp_enrollment.css" rel="stylesheet" type="text/css">
    <!-- 외부 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    
</head>
<body>
	<!-- header -->
    <!-- 
    <div th:replace="common/header.html"></div>
	 -->
     <!-- category -->
	<div th:replace="mypage/mypage_category.html"></div>
    <div class="content">
    
       
        <div class="mypage_camp_enrollment_content">
        <div class="mypage_camp_enrollment">
            <header class="mypage_camp_enrollment_header">
                <h1 class="mypage_camp_enrollment_h1">캠핑장 등록</h1>
            </header>
        </div>
        <!--   -->
            <form id="enrollForm" th:action="@{/mypage/mypageCampEnrollment}" method="post"
            		enctype="multipart/form-data">
            <table class="mypage_camp_enrollment_table">
                <tr class="mypage_camp_enrollment_table_header">
                    <th colspan="2">캠핑장 등록 정보 신청서</th>
                </tr>
                <tr>
                    <th>캠핑장 이름</th>
                    <td><input class="textbox" id="campName" name="campName" type="text" placeholder="캠핑장 이름을 입력하세요." required><label class="nameRed" style="color:red; margin-left:30px;"><label for="todo" class="item"></label><input type="checkbox" id="todo" class="nameCheck" disabled hidden/></label></td>
                </tr>
                <tr>
                    <th>캠핑장 주소</th>
                    <td><input class="textbox" id="campAddress" name="campAddress" type="text" placeholder="캠핑장 주소를 입력하세요." required><label class="addressRed" style="color:red; margin-left:30px;"><label for="todo" class="item"></label><input type="checkbox" id="todo" class="addressCheck" disabled hidden/></label></td>
                </tr>
                <tr>
                    <th>사업장 대표번호</th>
                    <td><input class="textbox" id="campPhone" name="campPhone" type="text" placeholder="사업장 대표번호를 입력하세요." required><label class="phoneRed" style="color:red; margin-left:30px;"><label for="todo" class="item"></label><input type="checkbox" id="todo" class="phoneCheck" disabled hidden/></label></td>
                </tr>
                <tr>
                    <th>사업장 형태</th>
                    <td><input type="checkbox" value="1" id="caravan" name="businessType" checked>카라반 
	                    <input type="checkbox" value="2" id="camping" name="businessType">캠핑 
	                    <input type="checkbox" value="3" id="glamping" name="businessType">글램핑</td>
                </tr>
                <tr>
                    <th>사업자 등록증</th>
                    <!-- campPath : 'org.springframework.web.multipart.support.StandardMultipartHttpServletRequest$StandardMultipartFile' to required type 
                    				'java.lang.String' for property 'campPath'; nested exception is java.lang.IllegalStateException: Cannot convert value of type 
                    				'org.springframework.web.multipart.support.StandardMultipartHttpServletRequest$StandardMultipartFile' to required type 
                    				'java.lang.String' for property 'campPath': no matching editors or conversion strategy found]
                    	 mulitFiles : There was an unexpected error (type=Internal Server Error, status=500).
									  begin -1, end 0, length 0
									  java.lang.StringIndexOutOfBoundsException: begin -1, end 0, length 0
                    	 file : There was an unexpected error (type=Bad Request, status=400).
								Required request part 'multiFiles' is not present
								org.springframework.web.multipart.support.MissingServletRequestPartException: Required request part 'multiFiles' is not present 
                    -->
                    <td>
                		<div class="previewBox">
                			<div class="inputImgPreview preview01"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
                    		<input type="file" class="imageinput image01" name="singleFile" accept="image/*" hidden required>
                		</div>
                	</td>	
                </tr>
                <tr>
                    <th>사업장 사진</th>
                    <td><!-- <input type="file" name="campMultiFiles" multiple> -->
	                  
                    <div class="previewBox">
                        <div class="inputImgPreview preview1"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
                		<input type="file" class="imageinput image1" name="campMultiFiles"  accept="image/*" hidden required>
                        <div class="inputImgPreview preview2"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
	                    <input type="file" class="imageinput image2" name="campMultiFiles"  accept="image/*" hidden>
                        <div class="inputImgPreview preview3"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
	                    <input type="file" class="imageinput image3" name="campMultiFiles"  accept="image/*" hidden>
                        <div class="inputImgPreview preview4"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
	                    <input type="file" class="imageinput image4" name="campMultiFiles"  accept="image/*" hidden>
                        <div class="inputImgPreview preview5"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
	                    <input type="file" class="imageinput image5" name="campMultiFiles"  accept="image/*" hidden>
                    </div>
                </tr>
                <tr>
                    <th>사업장 계좌번호</th>
                    <td><select class="textbox2" name="bank" placeholder="은행" required>
                            <option value="농협은행">농협은행</option>
                            <option value="신한은행">신한은행</option>
                            <option value="국민은행">국민은행</option>
                            <option value="우리은행">우리은행</option>
                            <option value="기업은행">기업은행</option>
                            <option value="수협은행">수협은행</option>
                            <option value="경남은행">경남은행</option>
                            <option value="씨티은행">씨티은행</option>
                            <option value="제주은행">제주은행</option>
                            <option value="하나은행">하나은행</option>
                            <option value="외환은행">외환은행</option>
                            <option value="광주은행">광주은행</option>
                            <option value="수협은행">수협은행</option>
                            <option value="우체국은행">우체국은행</option>
                            <option value="카카오뱅크">카카오뱅크</option>
                        </select>
                        <input class="textbox" id="accountNum" name="accountNum" type="text" placeholder="계좌번호" required><label class="accountNumRed" style="color:red; margin-left:30px;"><label for="todo" class="item"></label><input type="checkbox" id="todo" class="accountNumCheck" disabled hidden/></label>
                    </td>
                </tr>
                <tr>
                    <th>사업장 주요시설</th>
                    <td><input type="checkbox" id="ch1" name="facilityNo" value="1" checked>샤워실 <input type="checkbox" id="ch2" name="facilityNo" value="2">화장실 <input type="checkbox" id="ch3" name="facilityNo" value="3">개수대 
                        <input type="checkbox" id="ch4" name="facilityNo" value="4">매점 <input type="checkbox" id="ch5" name="facilityNo" value="5">전기 <input type="checkbox" id="ch6" name="facilityNo" value="6">와이파이
                    </td>
                </tr>
                <tr>
                    <th>사업장 이용시설</th>
                    <td><input type="checkbox" id="ch01" name="facilityNo" value="7" checked>바베큐장 <input type="checkbox" id="ch02" name="facilityNo" value="8">수영장
                        <input type="checkbox" id="ch03" name="facilityNo" value="9">조식제공 <input type="checkbox" id="ch04" name="facilityNo" value="10">반려동물
                    </td>
                </tr>
                <tr>
                    <th>사업장 이용시간</th>
                    <td>입실시간
                        <select class="intime" name="checkin" >
                            <option value="00:00">00:00</option>
                            <option value="01:00">01:00</option>
                            <option value="02:00">02:00</option>
                            <option value="03:00">03:00</option>
                            <option value="04:00">04:00</option>
                            <option value="05:00">05:00</option>
                            <option value="06:00">06:00</option>
                            <option value="07:00">07:00</option>
                            <option value="08:00">08:00</option>
                            <option value="09:00" selected>09:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="21:00">21:00</option>
                            <option value="22:00">22:00</option>
                            <option value="23:00">23:00</option>
                        </select>
                        퇴실시간
                        <select class="outtime" name="checkout">
                            <option value="00:00">00:00</option>
                            <option value="01:00">01:00</option>
                            <option value="02:00">02:00</option>
                            <option value="03:00">03:00</option>
                            <option value="04:00">04:00</option>
                            <option value="05:00">05:00</option>
                            <option value="06:00">06:00</option>
                            <option value="07:00">07:00</option>
                            <option value="08:00">08:00</option>
                            <option value="09:00">09:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00" selected>13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="21:00">21:00</option>
                            <option value="22:00">22:00</option>
                            <option value="23:00">23:00</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>사업장 운영정책</th>
                    <td>
                        <textarea name="campPolicy" id="campPolicy" cols="90" rows="10" placeholder="가이드 외 사업장 운영정책을 입력 해주세요.
1. 코로나 4단계 기간에는 동거가족 외 4인 이상의 캠핑을 금지합니다.
2. 안전주의사항 : 개별숯 화롯대 장작 개인화기 일체사용금지 (안전과 화재예방을 위해서 개별숯 화롯대 장작 개인화기 바베큐장 외 사용 금지합니다.)
3. 반려동물 주의사항 : 반려동물 구역 외 출입금지
4. 이용객 외 방문객, 방문차량 허용되지 않습니다.
5. 침실 내에서 취사를 금지합니다
6. 가이드 외 사업장 세부정보를 입력 해주세요
7. 바베큐비용 : 바베큐 그릴 + 숯 + 석쇠 현장결제 가격
8. 장작 : 장작 현장결제 가격
9. 샤워장 이용 규칙 : 온수 유무, 사용시간 등등
10. 차량주차유무 : 차량 추가 주차 가능여부 입력 해주세요. (차량 추가 시 금액)" required></textarea><br>
				<label class="policyRed" style="color:red; margin-left:30px;"><label for="todo" class="item"></label><input type="checkbox" id="todo" class="policyCheck" disabled hidden/></label>
                    </td>
                </tr>
                <tr>
                    <th>사업장 소개</th>
                    <td><textarea name="campIntro" id="campIntro" cols="90" rows="10" placeholder="사업장 소개를 입력 해주세요." required></textarea><br>
                    <label class="introRed" style="color:red; margin-left:30px;"><label for="todo" class="item"></label><input type="checkbox" id="todo" class="introCheck" disabled hidden/></label></td>
                </tr>
                <tr>
                    <th>객실 최대인원</th>
                    <td><input class="textbox" name="roomMember" id="roomMember" type="text" placeholder="객실 최대인원을 입력해주세요." required><label class="roomMemberRed" style="color:red; margin-left:30px;"><label for="todo" class="item"></label><input type="checkbox" id="todo" class="roomMemberCheck" disabled hidden/></label></td>
                </tr>
                <tr>
                    <th>객실 이름(호수)</th>
                    <td><input class="textbox" name="roomName" id="roomName" type="text" placeholder="객실 이름을 입력해주세요." required><label class="roomNameRed" style="color:red; margin-left:30px;"><label for="todo" class="item"></label><input type="checkbox" id="todo" class="roomNameCheck" disabled hidden/></label></td>
                </tr>
                <tr>
                    <th>객실 가격</th>
                    <td><input class="textbox" name="roomPrice" id="roomPrice" type="text" placeholder="객실 가격을 입력해주세요." required><label class="roomPriceRed" style="color:red; margin-left:30px;"><label for="todo" class="item"></label><input type="checkbox" id="todo" class="roomPriceCheck" disabled hidden/></label></td>
                </tr>
                <tr>
                    <th>객실 크기</th>
                    <td><input class="textbox" name="roomSize" id="roomSize" type="text" placeholder="㎡ 기준(평수) 수치를 입력 해주세요." required><label class="roomSizeRed" style="color:red; margin-left:30px;"><label for="todo" class="item"></label><input type="checkbox" id="todo" class="roomSizeCheck" disabled hidden/></label></td>
                </tr>
                <tr>
                    <th>객실 소개</th>
                    <td><input class="textbox" name="roomInfo" id="roomInfo" type="text" placeholder="객실 소개 및 구비물품 을 입력해주세요." required><label class="roomInfoRed" style="color:red; margin-left:30px;"><label for="todo" class="item"></label><input type="checkbox" id="todo" class="roomInfoCheck" disabled hidden/></label></td>
                </tr>
                <tr>
                    <th>객실 사진</th>
                    <td>
	                  
	                    <div class="previewBox">
	                        <div class="inputImgPreview preview21"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
                		<input type="file" class="imageinput image21" name="roomMultiFiles"  accept="image/*" hidden required>
	                        <div class="inputImgPreview preview22"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
	                    <input type="file" class="imageinput image22" name="roomMultiFiles"  accept="image/*" hidden>
	                        <div class="inputImgPreview preview23"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
	                    <input type="file" class="imageinput image23" name="roomMultiFiles"  accept="image/*" hidden>
	                        <div class="inputImgPreview preview24"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
	                    <input type="file" class="imageinput image24" name="roomMultiFiles"  accept="image/*" hidden>
	                        <div class="inputImgPreview preview25"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
	                    <input type="file" class="imageinput image25" name="roomMultiFiles"  accept="image/*" hidden>
	                    </div>
                </tr>
                <tr>
                    <th>객실 바닥 형태</th><!-- name="roomFloor"  -->
                    <td><input type="checkbox" name="roomFloor" value="데크" checked>데크 <input type="checkbox" name="roomFloor" value="잔디">잔디 <input type="checkbox" name="roomFloor" value="파쇄석">파쇄석 </td>
                </tr>
                <tr>
                    <th>객실 주차 여부</th><!-- name="roomParking"  -->
                    <td><input type="checkbox" name="roomParking" value="텐트 옆 주차" checked>텐트 옆 주차 <input type="checkbox" name="roomParking" value="주차장 주차">주차장 주차 <input type="checkbox" name="roomParking" value="외부 주차">외부 주차</td>
                </tr>
                <tr>
                    <th>객실 형태</th><!-- name="roomForm" -->
                    <td><input type="checkbox" name="roomForm" value="카라반" checked>카라반 <input type="checkbox" name="roomForm" value="캠핑">캠핑 <input type="checkbox" name="roomForm" value="글램핑">글램핑</td>
                </tr>
                <tr>
                    <th>객실 수량</th>
                    <td><input class="textbox2" name="roomAmount" type="number" placeholder="1" required></td>
                </tr>                
                <tbody></tbody>
            </table>
                
        	<div class="room_plus">
                <button type="button" id="room_plus_button" class="room_plus_button"><img class="room_plus_img" src="/resources/images/mypage/plus.png">객실 추가하기</button>
            </div>
            <div class="camp_plus">
                <input class="camp_plus_button" type="submit" value="캠핑장 등록하기">
            </div> 
            </form>
        </div>
    </div>
    <!-- footer -->
    <div th:replace="common/footer.html"></div>
    <script>
    	$(document).on("click","input[name='roomFloor']",function(e){
    		if($(this).prop('checked')){
    			$(this).siblings().prop('checked',false);
    			$(this).prop('checked',true);
    		}
    	})
    	$(document).on("click","input[name='roomParking']",function(e){
    		if($(this).prop('checked')){
    			$(this).siblings().prop('checked',false);
    			$(this).prop('checked',true);
    		}
    	})
    	$(document).on("click","input[name='roomForm']",function(e){
    		if($(this).prop('checked')){
    			$(this).siblings().prop('checked',false);
    			$(this).prop('checked',true);
    		}
    	})
    </script>
    
    <script>
    $(document).on("click","#room_plus_button", function(e){
    	//$(".clon_table").clone().appendTo(".room_plus");
		$(".mypage_camp_enrollment_table > tbody:last").append
		("<tr><th><hr width='100%' color='lightgray'></th><td><hr width='100%' color='lightgray'></td></tr>" +
		"<tr><th>객실 최대인원</th><td><input required class='textbox' name='roomMember' type='text' placeholder='객실 최대인원을 입력해주세요.'></td></tr>" +
		"<tr><th>객실 이름(호수)</th><td><input required class='textbox' name='roomName' type='text' placeholder='객실 이름을 입력해주세요.'></td></tr>" +
		"<tr><th>객실 가격</th><td><input required class='textbox' name='roomPrice' type='text' placeholder='객실 가격을 입력해주세요.'></td></tr>" +
		"<tr><th>객실 크기</th><td><input required class='textbox' name='roomSize' type='text' placeholder='㎡ 기준(평수) 수치를 입력 해주세요.'></td></tr>" +
		"<tr><th>객실 소개</th><td><input required class='textbox' name='roomInfo' type='text' placeholder='객실 소개 및 구비물품 을 입력해주세요.'></td></tr>" +
		"<tr><th>객실 사진</th><td>"+
		"<div class='previewBox'>"+
		"<div class='inputImgPreview preview26'><img class='beforeInput' src='/resources/images/board/cameraImg.png'></div>"+
		"<input type='file' class='imageinput image26' name='roomMultiFiles'  accept='image/*' hidden>" +
		"<div class='inputImgPreview preview27'><img class='beforeInput' src='/resources/images/board/cameraImg.png'></div>"+
		"<input type='file' class='imageinput image27' name='roomMultiFiles'  accept='image/*' hidden>" +
		"<div class='inputImgPreview preview28'><img class='beforeInput' src='/resources/images/board/cameraImg.png'></div>"+
		"<input type='file' class='imageinput image28' name='roomMultiFiles'  accept='image/*' hidden>" +
		"<div class='inputImgPreview preview29'><img class='beforeInput' src='/resources/images/board/cameraImg.png'></div>"+
		"<input type='file' class='imageinput image29' name='roomMultiFiles'  accept='image/*' hidden>" +
		"<div class='inputImgPreview preview30'><img class='beforeInput' src='/resources/images/board/cameraImg.png'></div>"+
		"<input type='file' class='imageinput image30' name='roomMultiFiles'  accept='image/*' hidden>" +
		"<tr><th>객실 바닥 형태</th><td><input type='checkbox' name='roomFloor' value='데크' checked>데크 <input type='checkbox' name='roomFloor' value='잔디'>잔디 <input type='checkbox' name='roomFloor' value='파쇄석'>파쇄석 </td></tr>" +
		"<tr><th>객실 주차 여부</th><td><input type='checkbox' name='roomParking' value='텐트 옆 주차' checked>텐트 옆 주차 <input type='checkbox' name='roomParking' value='주차장 주차'>주차장 주차 <input type='checkbox' name='roomParking' value='외부 주차'>외부 주차</td></tr>" +
		"<tr><th>객실 형태</th><td><input type='checkbox' name='roomForm' value='카라반' checked>카라반 <input type='checkbox' name='roomForm' value='캠핑'>캠핑 <input type='checkbox' name='roomForm' value='글램핑'>글램핑</td></tr>" +
		"<tr><th>객실 수량</th><td><input required class='textbox2' name='roomAmount' type='number' placeholder='1'></td></tr>"
		);   
    });
    </script>
    
    <script>

   		$(document).on('click','.inputImgPreview',function (e){
   			$(this).next().click();
   		}) 
   	
    </script>
    
    <script>
    /* input type file 요소들 */
    const fileElements = document.querySelectorAll("[type=file]");
    /* div image_area 요소들 */
    const imageArea = document.querySelectorAll(".inputImgPreview");
    /* input type file 요소에 change 이벤트 발생 시 (파일 첨부 발생) */
    //fileElements.forEach(item => item.addEventListener('change', preview));

    $(document).on("change","[type=file]", function () {
    	let index = Array.from($("[type=file]")).indexOf(this);
    	if(this.files && this.files[0]) {
    		let reader = new FileReader();
    		reader.readAsDataURL(this.files[0]);
    		reader.onload = function() {
    			$(".inputImgPreview")[index].innerHTML = "<img class='afterInput' src='" + reader.result + "'>";
    		}
    	}
    })

    </script>
    
     
    <script>
    	
    $(document).on("keyup","#campName", function(){
    	let regExp = /^[가-힣a-zA-Z-0-9]{2,}$/;
    	if(regExp.test($("#campName").val())){
    		$(".nameRed").text("");
    		nameCheck = true;    		
    	} else{
    		$(".nameCheck").prop('checked',false);
    		$(".nameRed").text("캠핑장 이름을 한글, 영문, 숫자로 만들어주세요.")
    	}
    }).on("focusout","#campName",function(){
    	let regExp = /^[가-힣a-zA-Z-0-9]{2,}$/;
    	if(regExp.test($("#campName").val())){
    		$(".nameCheck").prop('checked', true);
    		nameCheck = true;    		
    	} else{
    		$(".nameRed").text("캠핑장 이름을 한글, 영문, 숫자로 만들어주세요.")
    		nameCheck = false;
    	}
    })
    
    $(document).on("keyup","#campAddress", function(){
    	let regExp = /^[\s가-힣a-zA-Z-0-9]{2,}$/;
    	if(regExp.test($("#campAddress").val())){
    		$(".addressRed").text("");
    		nameCheck = true;    		
    	} else{
    		$(".addressCheck").prop('checked',false);
    		$(".addressRed").text("캠핑장 주소를 한글, 영문, 숫자로 만들어주세요.")
    	}
    }).on("focusout","#campAddress",function(){
    	let regExp = /^[\s가-힣a-zA-Z-0-9]{2,}$/;
    	if(regExp.test($("#campAddress").val())){
    		$(".addressCheck").prop('checked', true);
    		nameCheck = true;    		
    	} else{
    		$(".addressRed").text("캠핑장 주소를 한글, 영문, 숫자, -로 만들어주세요.")
    		nameCheck = false;
    	}
    })
    
     $(document).on("keyup","#campPhone", function(){
    	let regExp = /^\d{2,3}-\d{3,4}-\d{4}$/;
    	if(regExp.test($("#campPhone").val())){
    		$(".phoneRed").text("");
    		nameCheck = true;    		
    	} else{
    		$(".phoneCheck").prop('checked',false);
    		$(".phoneRed").text("대표번호를 -포함 숫자만 입력해주세요.")
    	}
    }).on("focusout","#campPhone",function(){
    	let regExp = /^\d{2,3}-\d{3,4}-\d{4}$/;
    	if(regExp.test($("#campPhone").val())){
    		$(".phoneCheck").prop('checked', true);
    		nameCheck = true;    		
    	} else{
    		$(".phoneRed").text("대표번호를 -포함 숫자만 입력해주세요.")
    		nameCheck = false;
    	}
    })    
    
    $(document).on("keyup","#accountNum", function(){
    	let regExp = /^[\s0-9--]+$/;
    	if(regExp.test($("#accountNum").val())){
    		$(".phoneRed").text("");
    		nameCheck = true;    		
    	} else{
    		$(".accountNumCheck").prop('checked',false);
    		$(".accountNumRed").text("계좌번호를 입력해주세요.")
    	}
    }).on("focusout","#accountNum",function(){
    	let regExp = /^[\s0-9--]+$/;
    	if(regExp.test($("#accountNum").val())){
    		$(".accountNumCheck").prop('checked', true);
    		nameCheck = true;    		
    	} else{
    		$(".accountNumRed").text("계좌번호를 입력해주세요.")
    		nameCheck = false;
    	}
    })
    
    
     $(document).on("keyup","#campPolicy", function(){
    	let regExp = /\s/g;
    	if(regExp.test($("#campPolicy").val())){
    		$(".policyRed").text("");
    		nameCheck = true;    		
    	} else{
    		$(".policyCheck").prop('checked',false);
    		$(".policyRed").text("캠핑장 정책을 입력해주세요.")
    	}
    }).on("focusout","#campPolicy",function(){
    	let regExp = /\s/g;
    	if(regExp.test($("#campPolicy").val())){
    		$(".policyCheck").prop('checked', true);
    		nameCheck = true;    		
    	} else{
    		$(".policyRed").text("캠핑장 정책을 입력해주세요.")
    		nameCheck = false;
    	}
    })
    
     $(document).on("keyup","#campIntro", function(){
    	let regExp = /\s/g;
    	if(regExp.test($("#campIntro").val())){
    		$(".introRed").text("");
    		nameCheck = true;    		
    	} else{
    		$(".introCheck").prop('checked',false);
    		$(".introRed").text("캠핑장 소개를 입력해주세요.")
    	}
    }).on("focusout","#campIntro",function(){
    	let regExp = /\s/g;
    	if(regExp.test($("#campIntro").val())){
    		$(".introCheck").prop('checked', true);
    		nameCheck = true;    		
    	} else{
    		$(".introRed").text("캠핑장 소개를 입력해주세요.")
    		nameCheck = false;
    	}
    })
    
    $(document).on("keyup","#roomMember", function(){
    	let regExp = /^[0-9]+$/;
    	if(regExp.test($("#roomMember").val())){
    		$(".roomMemberRed").text("");
    		nameCheck = true;    		
    	} else{
    		$(".roomMemberCheck").prop('checked',false);
    		$(".roomMemberRed").text("객실 최대인원을 숫자로 입력해주세요.")
    	}
    }).on("focusout","#roomMember",function(){
    	let regExp = /^[0-9]+$/;
    	if(regExp.test($("#roomMember").val())){
    		$(".roomMemberCheck").prop('checked', true);
    		nameCheck = true;    		
    	} else{
    		$(".roomMemberRed").text("객실 최대인원을 숫자로 입력해주세요.")
    		nameCheck = false;
    	}
    })
    
    $(document).on("keyup","#roomName", function(){
    	let regExp = /^[\s가-힣a-zA-Z-0-9,]{2,}$/;
    	if(regExp.test($("#roomName").val())){
    		$(".roomNameRed").text("");
    		nameCheck = true;    		
    	} else{
    		$(".roomNameCheck").prop('checked',false);
    		$(".roomNameRed").text("객실 이름을 입력해주세요.(특수문자는 사용할 수 없습니다)")
    	}
    }).on("focusout","#roomName",function(){
    	let regExp = /^[\s가-힣a-zA-Z-0-9","]{2,}$/;
    	if(regExp.test($("#roomName").val())){
    		$(".roomNameCheck").prop('checked', true);
    		nameCheck = true;    		
    	} else{
    		$(".roomNameRed").text("객실 이름을 입력해주세요.(특수문자는 사용할 수 없습니다)")
    		nameCheck = false;
    	}
    })
    
    $(document).on("keyup","#roomPrice", function(){
    	let regExp = /^[0-9,]+$/;
    	if(regExp.test($("#roomPrice").val())){
    		$(".roomPriceRed").text("");
    		nameCheck = true;    		
    	} else{
    		$(".roomPriceCheck").prop('checked',false);
    		$(".roomPriceRed").text("객실 가격을 숫자와 , 만 입력해주세요.")
    	}
    }).on("focusout","#roomPrice",function(){
    	let regExp = /^[0-9,]+$/;
    	if(regExp.test($("#roomPrice").val())){
    		$(".roomPriceCheck").prop('checked', true);
    		nameCheck = true;    		
    	} else{
    		$(".roomPriceRed").text("객실 가격을 숫자와 , 입력해주세요.")
    		nameCheck = false;
    	}
    })
    
    $(document).on("keyup","#roomSize", function(){
    	let regExp = /^[평mM0-9]{2,}$/;
    	if(regExp.test($("#roomSize").val())){
    		$(".roomSizeRed").text("");
    		nameCheck = true;    		
    	} else{
    		$(".roomSizeCheck").prop('checked',false);
    		$(".roomSizeRed").text("객실 평수를 입력해주세요.")
    	}
    }).on("focusout","#roomSize",function(){
    	let regExp = /^[가-힣a-zA-Z-0-9]{2,}$/;
    	if(regExp.test($("#roomSize").val())){
    		$(".roomSizeCheck").prop('checked', true);
    		nameCheck = true;    		
    	} else{
    		$(".roomSizeRed").text("객실 평수를 입력해주세요.")
    		nameCheck = false;
    	}
    })
    
    $(document).on("keyup","#roomInfo", function(){
    	let regExp = /\s/g;
    	if(regExp.test($("#roomInfo").val())){
    		$(".roomInfoRed").text("");
    		nameCheck = true;    		
    	} else{
    		$(".roomInfoCheck").prop('checked',false);
    		$(".roomInfoRed").text("객실 소개를 입력해주세요.")
    	}
    }).on("focusout","#roomInfo",function(){
    	let regExp = /\s/g;
    	if(regExp.test($("#roomInfo").val())){
    		$(".roomInfoCheck").prop('checked', true);
    		nameCheck = true;    		
    	} else{
    		$(".roomInfoRed").text("객실 소개를 입력해주세요.")
    		nameCheck = false;
    	}
    })
    
    
    </script>
    
</body>
</html>