<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>category</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 외부 css -->
    <link href="/resources/css/mypage/mypage_category.css" rel="stylesheet">
    <!-- 외부 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="content">
    <aside>
        <div class="mypage_category">
            <a th:href="@{/mypage}"><div class="ca_head">마이페이지</div></a>
            <ul class="mypage_category_ul">
                <li class="mypage_category_li"><a th:href="@{/mypage/changinfo}">회원정보수정</a></li>
                
                <!-- 로그인 한 회원 -->
                <th:block sec:authorize="hasRole('MEMBER')">
                	<li class="mypage_category_li"><a th:href="@{/mypage/wishcamp}">찜한캠핑장</a></li>
                </th:block>
                
                <!-- 로그인 한 회원 -->
                <th:block sec:authorize="hasRole('MEMBER')">
	                <li class="mypage_category_li"><a th:href="@{/mypage/mypage_guest_reserve}">예약내역확인</a></li>
                </th:block>
                
                <!-- 사업자 회원 -->
                <th:block sec:authorize="hasRole('COMPANY')">
                	<li class="mypage_category_li"><a th:href="@{/mypage/mypage_host_reserve}">예약내역확인</a></li>
                </th:block> 
                
                <li class="mypage_category_li"><a th:href="@{/company/csCenter}">고객센터</a></li>
                
                <!-- 사업자 권한을 가지고 있는 경우만 보임 사업자코드 '2', 관리자코드 '3' ? '사업자' ? -->
                <th:block sec:authorize="hasRole('COMPANY')">
                	<li class="mypage_category_li"><a th:href="@{/mypage/mypage_camp_management}">내 숙소 관리</a></li>
            	</th:block>
            </ul>
        </div>

    </aside>
</div>

</body>
</html>