<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage_camp_management_no</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- 외부 css -->
    <link href="../header-footer/css/mypage_camp_management_no.css" rel="stylesheet">
    <!-- 외부 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <div class="content">
        <div class="mypage_camp_management_no">
            <header class="mypage_camp_management_no_header">
                <h1 class="mypage_camp_management_no_h1">캠핑장 관리</h1>
            </header>
        </div>
        <div class="mypage_camp_management_no_content">
            <div class="mypage_camp_management_no_content_div">
                <header class="mypage_camp_management_no_content_header">
                    캠핑장 등록이 실패 하였습니다<br>
                    다시 문의 바랍니다.  
                </header>        
                <div class="mypage_camp_management_no_privacy">
                    <h2 class="no_message">거절사유</h2>
                    <textarea class="mypage_camp_management_no_textarea" cols="60" rows="8"></textarea>
                </div>
            </div>
        </div>
    </div>
</body>
</html>