<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage_camp_enrollment</title>
    <script>
	const successMessage = '[[${ successMessage }]]';
	
	if(successMessage) {
		alert(successMessage);
	}
	</script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 외부 css -->
    <link href="/resources/css/mypage/mypage_camp_enrollment.css" rel="stylesheet" type="text/css">
    <!-- 외부 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    
</head>
<body>
	<!-- header -->
    <!-- 
    <div th:replace="common/header.html"></div>
	 -->
     <!-- category -->
	<div th:replace="mypage/mypage_category.html"></div>
    <div class="content">
    
       
        <div class="mypage_camp_enrollment_content">
        <div class="mypage_camp_enrollment">
            <header class="mypage_camp_enrollment_header">
                <h1 class="mypage_camp_enrollment_h1">캠핑장 등록</h1>
            </header>
        </div>
        <!--   -->
            <form id="enrollForm" th:action="@{/mypage/mypageCampEnrollment}" method="post"
            		enctype="multipart/form-data">
            <table class="mypage_camp_enrollment_table">
                <tr class="mypage_camp_enrollment_table_header">
                    <th colspan="2">캠핑장 등록 정보 신청서</th>
                </tr>
                <tr>
                    <th>캠핑장 이름</th>
                    <td><input class="textbox" name="campName" type="text" placeholder="캠핑장 이름을 입력하세요."></td>
                </tr>
                <tr>
                    <th>캠핑장 주소</th>
                    <td><input class="textbox" name="campAddress" type="text" placeholder="캠핑장 주소를 입력하세요."></td>
                </tr>
                <tr>
                    <th>사업장 대표번호</th>
                    <td><input class="textbox" name="campPhone" type="text" placeholder="사업장 대표번호를 입력하세요."></td>
                </tr>
                <tr>
                    <th>사업장 형태</th>
                    <td><input type="checkbox" value="1" id="caravan" name="businessType" checked>카라반 
	                    <input type="checkbox" value="2" id="camping" name="businessType">캠핑 
	                    <input type="checkbox" value="3" id="glamping" name="businessType">글램핑</td>
                </tr>
                <tr>
                    <th>사업자 등록증</th>
                    <!-- campPath : 'org.springframework.web.multipart.support.StandardMultipartHttpServletRequest$StandardMultipartFile' to required type 
                    				'java.lang.String' for property 'campPath'; nested exception is java.lang.IllegalStateException: Cannot convert value of type 
                    				'org.springframework.web.multipart.support.StandardMultipartHttpServletRequest$StandardMultipartFile' to required type 
                    				'java.lang.String' for property 'campPath': no matching editors or conversion strategy found]
                    	 mulitFiles : There was an unexpected error (type=Internal Server Error, status=500).
									  begin -1, end 0, length 0
									  java.lang.StringIndexOutOfBoundsException: begin -1, end 0, length 0
                    	 file : There was an unexpected error (type=Bad Request, status=400).
								Required request part 'multiFiles' is not present
								org.springframework.web.multipart.support.MissingServletRequestPartException: Required request part 'multiFiles' is not present 
                    -->
                    <td><input type="file" class="imageinput image01" name="singleFile" accept="image/*" hidden>
                		<div class="previewBox">
                			<div class="inputImgPreview preview01"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
                		</div>
                	</td>	
                </tr>
                <tr>
                    <th>사업장 사진</th>
                    <td><!-- <input type="file" name="campMultiFiles" multiple> -->
                		<input type="file" class="imageinput image1" name="campMultiFiles"  accept="image/*" hidden>
	                    <input type="file" class="imageinput image2" name="campMultiFiles"  accept="image/*" hidden>
	                    <input type="file" class="imageinput image3" name="campMultiFiles"  accept="image/*" hidden>
	                    <input type="file" class="imageinput image4" name="campMultiFiles"  accept="image/*" hidden>
	                    <input type="file" class="imageinput image5" name="campMultiFiles"  accept="image/*" hidden>
	                  
                    <div class="previewBox">
                        <div class="inputImgPreview preview1"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
                        <div class="inputImgPreview preview2"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
                        <div class="inputImgPreview preview3"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
                        <div class="inputImgPreview preview4"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
                        <div class="inputImgPreview preview5"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
                    </div>
                </tr>
                <tr>
                    <th>사업장 계좌번호</th>
                    <td><select class="textbox2" name="bank" placeholder="은행">
                            <option value="농협">농협</option>
                            <option value="신한은행">신한은행</option>
                            <option value="국민은행">국민은행</option>
                        </select>
                        <input class="textbox" name="accountNum" type="text" placeholder="계좌번호">
                    </td>
                </tr>
                <tr>
                    <th>사업장 주요시설</th>
                    <td><input type="checkbox" id="ch1" name="facilityNo" value="1" checked>샤워실 <input type="checkbox" id="ch2" name="facilityNo" value="2">화장실 <input type="checkbox" id="ch3" name="facilityNo" value="3">개수대 
                        <input type="checkbox" id="ch4" name="facilityNo" value="4">매점 <input type="checkbox" id="ch5" name="facilityNo" value="5">전기 <input type="checkbox" id="ch6" name="facilityNo" value="6">와이파이
                    </td>
                </tr>
                <tr>
                    <th>사업장 이용시설</th>
                    <td><input type="checkbox" id="ch01" name="facilityNo" value="7" checked>바베큐장 <input type="checkbox" id="ch02" name="facilityNo" value="8">수영장
                        <input type="checkbox" id="ch03" name="facilityNo" value="9">조식제공 <input type="checkbox" id="ch04" name="facilityNo" value="10">반려동물
                    </td>
                </tr>
                <tr>
                    <th>사업장 이용시간</th>
                    <td>입실시간
                        <select class="intime" name="checkin" >
                            <option value="00:00">00:00</option>
                            <option value="01:00">01:00</option>
                            <option value="02:00">02:00</option>
                            <option value="03:00">03:00</option>
                            <option value="04:00">04:00</option>
                            <option value="05:00">05:00</option>
                            <option value="06:00">06:00</option>
                            <option value="07:00">07:00</option>
                            <option value="08:00">08:00</option>
                            <option value="09:00" selected>09:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="21:00">21:00</option>
                            <option value="22:00">22:00</option>
                            <option value="23:00">23:00</option>
                        </select>
                        퇴실시간
                        <select class="outtime" name="checkout">
                            <option value="00:00">00:00</option>
                            <option value="01:00">01:00</option>
                            <option value="02:00">02:00</option>
                            <option value="03:00">03:00</option>
                            <option value="04:00">04:00</option>
                            <option value="05:00">05:00</option>
                            <option value="06:00">06:00</option>
                            <option value="07:00">07:00</option>
                            <option value="08:00">08:00</option>
                            <option value="09:00">09:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00" selected>13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="21:00">21:00</option>
                            <option value="22:00">22:00</option>
                            <option value="23:00">23:00</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>사업장 운영정책</th>
                    <td>
                        <textarea name="campPolicy" cols="90" rows="10" placeholder="가이드 외 사업장 운영정책을 입력 해주세요.
1. 코로나 4단계 기간에는 동거가족 외 4인 이상의 캠핑을 금지합니다.
2. 안전주의사항 : 개별숯 화롯대 장작 개인화기 일체사용금지 (안전과 화재예방을 위해서 개별숯 화롯대 장작 개인화기 바베큐장 외 사용 금지합니다.)
3. 반려동물 주의사항 : 반려동물 구역 외 출입금지
4. 이용객 외 방문객, 방문차량 허용되지 않습니다.
5. 침실 내에서 취사를 금지합니다
6. 가이드 외 사업장 세부정보를 입력 해주세요
7. 바베큐비용 : 바베큐 그릴 + 숯 + 석쇠 현장결제 가격
8. 장작 : 장작 현장결제 가격
9. 샤워장 이용 규칙 : 온수 유무, 사용시간 등등
10. 차량주차유무 : 차량 추가 주차 가능여부 입력 해주세요. (차량 추가 시 금액)"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>사업장 소개</th>
                    <td><textarea name="campIntro" cols="90" rows="10" placeholder="사업장 소개를 입력 해주세요."></textarea></td>
                </tr>
                <tr>
                    <th>객실 최대인원</th>
                    <td><input class="textbox" name="roomMember" type="text" placeholder="객실 최대인원을 입력해주세요."></td>
                </tr>
                <tr>
                    <th>객실 이름(호수)</th>
                    <td><input class="textbox" name="roomName" type="text" placeholder="객실 이름을 입력해주세요."></td>
                </tr>
                <tr>
                    <th>객실 가격</th>
                    <td><input class="textbox" name="roomPrice" type="text" placeholder="객실 가격을 입력해주세요."></td>
                </tr>
                <tr>
                    <th>객실 크기</th>
                    <td><input class="textbox" name="roomSize" type="text" placeholder="㎡ 기준(평수) 수치를 입력 해주세요."></td>
                </tr>
                <tr>
                    <th>객실 소개</th>
                    <td><input class="textbox" name="roomInfo" type="text" placeholder="객실 소개 및 구비물품 을 입력해주세요."></td>
                </tr>
                <tr>
                    <th>객실 사진</th>
                    <td>
                		<input type="file" class="imageinput image21" name="roomMultiFiles"  accept="image/*" hidden>
	                    <input type="file" class="imageinput image22" name="roomMultiFiles"  accept="image/*" hidden>
	                    <input type="file" class="imageinput image23" name="roomMultiFiles"  accept="image/*" hidden>
	                    <input type="file" class="imageinput image24" name="roomMultiFiles"  accept="image/*" hidden>
	                    <input type="file" class="imageinput image25" name="roomMultiFiles"  accept="image/*" hidden>
	                  
	                    <div class="previewBox">
	                        <div class="inputImgPreview preview21"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
	                        <div class="inputImgPreview preview22"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
	                        <div class="inputImgPreview preview23"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
	                        <div class="inputImgPreview preview24"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
	                        <div class="inputImgPreview preview25"><img class="beforeInput" src="/resources/images/board/cameraImg.png"></div>
	                    </div>
                </tr>
                <tr>
                    <th>객실 바닥 형태</th><!-- name="roomFloor"  -->
                    <td><input type="radio" name="roomFloor" value="데크" checked>데크 <input type="radio" name="roomFloor" value="잔디">잔디 <input type="radio" name="roomFloor" value="파쇄석">파쇄석 </td>
                </tr>
                <tr>
                    <th>객실 주차 여부</th><!-- name="roomParking"  -->
                    <td><input type="radio" name="roomParking" value="텐트 옆 주차" checked>텐트 옆 주차 <input type="radio" name="roomParking" value="주차장 주차">주차장 주차 <input type="radio" name="roomParking" value="외부 주차">외부 주차</td>
                </tr>
                <tr>
                    <th>객실 형태</th><!-- name="roomForm" -->
                    <td><input type="radio" name="roomForm" value="카라반" checked>카라반 <input type="radio" name="roomForm" value="캠핑">캠핑 <input type="radio" name="roomForm" value="글램핑">글램핑</td>
                </tr>
                <tr>
                    <th>객실 수량</th>
                    <td><input class="textbox2" name="roomAmount" type="number" placeholder="1"></td>
                </tr>                
                <tbody></tbody>
            </table>
                
        	<div class="room_plus">
                <button type="button" id="room_plus_button" class="room_plus_button"><img class="room_plus_img" src="/resources/images/mypage/plus.png">객실 추가하기</button>
            </div>
            <div class="camp_plus">
                <input class="camp_plus_button" type="submit" value="캠핑장 등록하기">
            </div> 
            </form>
        </div>
    </div>
    <!-- footer -->
    <div th:replace="common/footer.html"></div>
    
    <script>
    $("#room_plus_button").on("click", function(e){
    	//$(".clon_table").clone().appendTo(".room_plus");
		$(".mypage_camp_enrollment_table > tbody:last").append
		("<tr><th><hr width='100%' color='lightgray'></th><td><hr width='100%' color='lightgray'></td></tr>" +
		"<tr><th>객실 최대인원</th><td><input class='textbox' name='roomMember' type='text' placeholder='객실 최대인원을 입력해주세요.'></td></tr>" +
		"<tr><th>객실 이름(호수)</th><td><input class='textbox' name='roomName' type='text' placeholder='객실 이름을 입력해주세요.'></td></tr>" +
		"<tr><th>객실 가격</th><td><input class='textbox' name='roomPrice' type='text' placeholder='객실 가격을 입력해주세요.'></td></tr>" +
		"<tr><th>객실 크기</th><td><input class='textbox' name='roomSize' type='text' placeholder='㎡ 기준(평수) 수치를 입력 해주세요.'></td></tr>" +
		"<tr><th>객실 소개</th><td><input class='textbox' name='roomInfo' type='text' placeholder='객실 소개 및 구비물품 을 입력해주세요.'></td></tr>" +
		"<tr><th>객실 사진</th><td><input type='file' name='roomMultiFiles' multiple></tr>" +
		"<tr><th>객실 바닥 형태</th><td><input type='radio' name='roomFloor' value='데크' checked>데크 <input type='radio' name='roomFloor' value='잔디'>잔디 <input type='radio' name='roomFloor' value='파쇄석'>파쇄석 </td></tr>" +
		"<tr><th>객실 주차 여부</th><td><input type='radio' name='roomParking' value='텐트 옆 주차' checked>텐트 옆 주차 <input type='radio' name='roomParking' value='주차장 주차'>주차장 주차 <input type='radio' name='roomParking' value='외부 주차'>외부 주차</td></tr>" +
		"<tr><th>객실 형태</th><td><input type='radio' name='roomForm' value='카라반' checked>카라반 <input type='radio' name='roomForm' value='캠핑'>캠핑 <input type='radio' name='roomForm' value='글램핑'>글램핑</td></tr>" +
		"<tr><th>객실 수량</th><td><input class='textbox2' name='roomAmount' type='number' placeholder='1'></td></tr>"
		);   
    });
    </script>
    
    <script>
    $(function(){
    	$('.preview01').click(function (e){
   			$('.image01').click();
   		}) 
   		$('.preview1').click(function (e){
   			$('.image1').click();
   		}) 
   		$('.preview2').click(function (e){
   			$('.image2').click();
   		}) 	
   		$('.preview3').click(function (e){
   			$('.image3').click();
   		})
   		$('.preview4').click(function (e){
   			$('.image4').click();
   		}) 	
   		$('.preview5').click(function (e){
   			$('.image5').click();
   		})
   		$('.preview21').click(function (e){
   			$('.image21').click();
   		}) 
   		$('.preview22').click(function (e){
   			$('.image22').click();
   		}) 	
   		$('.preview23').click(function (e){
   			$('.image23').click();
   		})
   		$('.preview24').click(function (e){
   			$('.image24').click();
   		}) 	
   		$('.preview25').click(function (e){
   			$('.image25').click();
   		}) 	
   
    })
    </script>
    
    <script>
    /* input type file 요소들 */
    const fileElements = document.querySelectorAll("[type=file]");
    /* div image_area 요소들 */
    const imageArea = document.querySelectorAll(".inputImgPreview");
    /* input type file 요소에 change 이벤트 발생 시 (파일 첨부 발생) */
    fileElements.forEach(item => item.addEventListener('change', preview));

    function preview(){
    	let index = Array.from(fileElements).indexOf(this);   //input type="file" 이게 this
    	if(this.files && this.files[0]) {
    		let reader = new FileReader();
    		reader.readAsDataURL(this.files[0]);
    		reader.onload = function() {
    			imageArea[index].innerHTML = "<img class='afterInput' src='" + reader.result + "'>";
    		}
    	}
    }
    </script>
    
    <!-- <script>
    	$("#enrollForm input[type=button]").on("click", function(){
    		let param = {};
    		param.roomMember = $("#enrollForm [name=roomMember]").val();
    		param.roomName = $("#enrollForm [name=roomName]").val();
    		param.roomPrice = $("#enrollForm [name=roomPrice]").val();
    		param.roomSize = $("#enrollForm [name=roomSize]").val();
    		param.roomInfo = $("#enrollForm [name=roomInfo]").val();
    		param.roomMember = $("#enrollForm [name=roomMember]").val();
    		param.roomFloor = $("#enrollForm [name=roomFloor]").val();
    		param.roomParking = $("#enrollForm [name=roomParking]").val();
    		param.roomForm = $("#enrollForm [name=roomForm]").val();
    		param.roomAmount = $("#enrollForm [name=roomAmount]").val();
    	});
    </script> -->
     
</body>
</html>