<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wish_camp</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 외부 css -->
    <link rel="stylesheet" href="/resources/css/mypage/wishcamp.css" type="text/css">
    <!-- 외부 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
     
</head> 
<body>
	<!-- header -->
    <!--  
    <div th:replace="common/header.html"></div>
	 -->
    <!-- category -->
	<div th:replace="mypage/mypage_category.html"></div>

    <div class="content">
	
        <div class="wishcamp_content_center" id="wishcamp_content_center">
        <div class="wishcamp">
            <header class="wishcamp_header">
                <h1 class="wishcamp_h1">찜한 캠핑장</h1>
            </header>
        </div>
        	<div class="wishcam_content_controller">                       
            <div class="wishcamp_content_1">
            	
            	<div class="wcc_p" th:each="wishCamp : ${ wishCampList }">
            		<img class="camping" th:src="${ wishCamp.fileRoute }+${ wishCamp.fileName }" 
            		th:onclick="'location.href=\''+@{/camp/detail(campNo=${wishCamp.campNo})}&dateIn=2022-02-19&dateOut=2022-02-20&guest=2+'\''"
            		style="width:200px; height:150px;">
            		<p class="wishcamp_content_p" th:text="${ wishCamp.campName }">
            		<p class="wishcamp_content_address" th:text="${ wishCamp.campAddress }">
            		<p class="phone" th:text="${ wishCamp.campPhone }">
            		<hr class="line">
            		<input class="checkbox" type="checkbox" name="wishBtn">
            	</div>
            	 
            </div>
        </div>
        <div class="button_content">
            <div class="full_check"><input class="checkbox" type="checkbox" id="allCheckbox">전체 선택</div>
            <div class="one_check"><img class="remove" src="/resources/images/mypage/remove.png">선택 삭제</div>
        </div>
        <!-- 페이징 처리 -->
    <div class="member_pages">
        <ul class="member_paging">


            <!-- 맨 처음으로 이동하는 버튼(<<) -->
            <li><a href="">&lt;&lt;</a></li>
            


            <!-- 이전 페이지로(<) -->
            <li>
                <c:choose>
                    <c:when test="${ pi.page > 1 }"><a href="">&lt;</a></c:when>
                    <!-- <c:otherwise><a href="#">&lt;</a></c:otherwise> -->
                </c:choose>
            </li>
            


            <!-- 최대 10개의 페이지 목록 -->
            <c:forEach var="p" begin="${pi.startPage }" end="${pi.endPage }">
                <li>
                    <c:choose>
                        <c:when test="">
                            <div class="current_page">
                                <a href="#">1</a>
                            </div>
                        </c:when>
                        <c:otherwise>
                            <!-- <a href="${contextPath }/board/list?page=${ p }${ searchParam }">${ p }</a> -->
                        </c:otherwise>
                    </c:choose>
                </li>
            </c:forEach>



            <!-- 다음 페이지로(>) -->
            <li>
                <c:choose>
                    <c:when test=""><a href="">&gt;</a></c:when>
                    <!-- <c:otherwise><a href ="#">&gt;</a></c:otherwise> -->
                </c:choose>
            </li>



            <!-- 맨 끝으로 이동하는 버튼(>>) -->
            <li><a href="">&gt;&gt;</a></li>
        </ul>
    </div>
        
    
    </div>
</div>

<!-- footer -->
<div th:replace="common/footer.html"></div>

<script>
    /* 전체선택 */
    $(document).on('click', "#allCheckbox", function(){
        $('.checkbox:not(:disabled)').not(this).prop('checked', this.checked);
    });
</script>

</body>
</html>