<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.campers.search.model.dao.SearchMapper">

	<resultMap id="searchCampMap" type="com.cp.campers.search.model.vo.SearchCamp">
		<id property="cNo" column="CAMP_NO" />
		<result property="cName" column="CAMP_NAME" />
		<result property="cAddress" column="CAMP_ADDRESS" />
		<result property="fileRoute" column="FILE_ROUTE" />
		<result property="fileName" column="FILE_NAME" />
		<result property="rCount" column="ROOM_COUNT" />
		<result property="maxGuest" column="MAX_GUEST" />
		<result property="minPrice" column="MIN_PRICE" />
		<result property="maxPrice" column="MAX_PRICE" />
	</resultMap>



	<select id="mainSearch" parameterType="hashmap" resultType="com.cp.campers.search.model.vo.SearchCamp">
		SELECT 
				C.CAMP_NO 
			  , C.CAMP_NAME 
			  , C.CAMP_ADDRESS 
			  , F.FILE_ROUTE 
			  , F.FILE_NAME 
			  , SUM(R.ROOM_COUNT) AS ROOM_COUNT 
			  , MAX(R.ROOM_MEMBER) AS MAX_GUEST 
			  , MIN(R.ROOM_PRICE) AS MIN_PRICE
			  , MAX(R.ROOM_PRICE) AS MAX_PRICE
		   FROM ROOM R 
		   JOIN RESERVE E ON R.ROOM_NO = E.ROOM_NO 
		   JOIN CAMP C ON R.CAMP_NO = C.CAMP_NO 
		   JOIN CAMP_FILE I ON C.CAMP_NO = I.CAMP_NO 
		   JOIN IMAGEFILE F ON I.FILE_NO = F.FILE_NO
		   JOIN CAMP_BUSINESS_TYPE T ON C.CAMP_NO = T.CAMP_NO
		   JOIN BUSINESS_TYPE B ON B.BUSINESS_NO = T.BUSINESS_NO 
		   WHERE C.CAMP_STATUS = 'Y' 
		   AND C.CAMP_ADDRESS LIKE '%' || #{area} || '%' 
		   AND R.ROOM_MEMBER &gt;= #{guest} 
		   AND E.CHECKIN NOT BETWEEN #{checkIn} AND #{checkOut}
		   AND F.FILE_STATUS = 'N' 
		   AND F.FILE_LEVEL = 1
		   AND REGEXP_LIKE (B.BUSINESS_TYPE, #{type})
		 GROUP BY C.CAMP_NO, C.CAMP_NAME, C.CAMP_ADDRESS, F.FILE_ROUTE, F.FILE_NAME 
		 ORDER BY C.CAMP_NAME DESC
	</select>



	<select id="campAllSearch" resultMap="searchCampMap">
		SELECT
        *
		FROM
			(
				SELECT 
                    ROWNUM AS NUM
                  , C.CAMP_NO 
                  , C.CAMP_NAME 
                  , C.CAMP_ADDRESS 
                  , F.FILE_ROUTE 
                  , F.FILE_NAME 
                  , SUM(R.ROOM_COUNT) AS ROOM_COUNT 
                  , MAX(R.ROOM_MEMBER) AS MAX_GUEST 
                  , MIN(R.ROOM_PRICE) AS MIN_PRICE
                  , MAX(R.ROOM_PRICE) AS MAX_PRICE 
               FROM ROOM R 
               JOIN CAMP C ON R.CAMP_NO = C.CAMP_NO 
               JOIN CAMP_FILE I ON C.CAMP_NO = I.CAMP_NO
               JOIN IMAGEFILE F ON I.FILE_NO = F.FILE_NO 
              WHERE C.CAMP_STATUS = 'Y'
                AND F.FILE_STATUS = 'N' 
                AND F.FILE_LEVEL = 1 
              GROUP BY ROWNUM, C.CAMP_NO, C.CAMP_NAME, C.CAMP_ADDRESS, F.FILE_ROUTE, F.FILE_NAME 
              ORDER BY C.CAMP_NAME ASC
		 )
		WHERE NUM BETWEEN #{startRow} AND #{endRow}
	</select>
	
	
	<!-- 등록된 캠핑장 총 개수 구하기 -->
	<select id="campListCount" resultType="_int">
		SELECT
				COUNT(*) 
		   FROM CAMP 
		  WHERE CAMP_STATUS = 'Y'
	</select>
	
	
	<!-- 조건 검색된 캠핑장 총 개수 구하기 -->
	<select id="campFindCount" resultType="_int" parameterType="com.cp.campers.search.model.vo.FindCamp">
		SELECT
				COUNT(*)
		  FROM
		 	 ( 
		 	 SELECT 
				    C.CAMP_NO 
				  , C.CAMP_NAME 
				  , C.CAMP_ADDRESS 
				  , F.FILE_ROUTE 
				  , F.FILE_NAME 
				  , SUM(R.ROOM_COUNT) AS ROOM_COUNT 
				  , MAX(R.ROOM_MEMBER) AS MAX_GUEST 
				  , MIN(R.ROOM_PRICE) AS MIN_PRICE
				  , MAX(R.ROOM_PRICE) AS MAX_PRICE
			   FROM ROOM R 
			   JOIN RESERVE E ON R.ROOM_NO = E.ROOM_NO 
			   JOIN CAMP C ON R.CAMP_NO = C.CAMP_NO 
			   JOIN CAMP_FILE I ON C.CAMP_NO = I.CAMP_NO 
			   JOIN IMAGEFILE F ON I.FILE_NO = F.FILE_NO
			   JOIN CAMP_BUSINESS_TYPE T ON C.CAMP_NO = T.CAMP_NO
			   JOIN BUSINESS_TYPE B ON B.BUSINESS_NO = T.BUSINESS_NO 
			   JOIN CAMP_FACILITY Y ON C.CAMP_NO = Y.CAMP_NO
			   JOIN FACILITY A ON A.FACILITY_NO = Y.FACILITY_NO
			  WHERE C.CAMP_STATUS = 'Y' 
			    AND C.CAMP_ADDRESS LIKE '%' || #{sArea} || '%' 
			    AND R.ROOM_MEMBER &gt;= #{sGuest} 
			    AND E.CHECKIN NOT BETWEEN #{sIn} AND #{sOut}
			    AND C.CAMP_NAME LIKE '%' || #{sName} || '%'
			    AND F.FILE_STATUS = 'N' 
			    AND F.FILE_LEVEL = 1
			    AND B.BUSINESS_TYPE IN
			    <foreach item="sType" collection="sType" open="(" close=")" separator=",">
			    #{sType}
			    </foreach>
			    AND A.FACILITY_NAME IN
			    <foreach item="sFaci" collection="sFaci" open="(" close=")" separator=",">
			     #{sFaci}
			    </foreach>
			    AND R.ROOM_FLOOR
			    <foreach item="sFloor" collection="sFloor" open="(" close=")" separator=",">
			    #{sFloor}
			    </foreach>
			  GROUP BY C.CAMP_NO, C.CAMP_NAME, C.CAMP_ADDRESS, F.FILE_ROUTE, F.FILE_NAME 
			  ORDER BY 2 ASC
			 )
	</select>
	
	
	
	<select id="campFindSearch" parameterType="hashmap" resultType="com.cp.campers.search.model.vo.SearchCamp">
		SELECT
				*
		  FROM
		 	 ( 
		 	 SELECT 
		 	 		ROWNUM AS NUM
				  , C.CAMP_NO 
				  , C.CAMP_NAME 
				  , C.CAMP_ADDRESS 
				  , F.FILE_ROUTE 
				  , F.FILE_NAME 
				  , SUM(R.ROOM_COUNT) AS ROOM_COUNT 
				  , MAX(R.ROOM_MEMBER) AS MAX_GUEST 
				  , MIN(R.ROOM_PRICE) AS MIN_PRICE
				  , MAX(R.ROOM_PRICE) AS MAX_PRICE
			   FROM ROOM R 
			   JOIN RESERVE E ON R.ROOM_NO = E.ROOM_NO 
			   JOIN CAMP C ON R.CAMP_NO = C.CAMP_NO 
			   JOIN CAMP_FILE I ON C.CAMP_NO = I.CAMP_NO 
			   JOIN IMAGEFILE F ON I.FILE_NO = F.FILE_NO
			   JOIN CAMP_BUSINESS_TYPE T ON C.CAMP_NO = T.CAMP_NO
			   JOIN BUSINESS_TYPE B ON B.BUSINESS_NO = T.BUSINESS_NO 
			   JOIN CAMP_FACILITY Y ON C.CAMP_NO = Y.CAMP_NO
			   JOIN FACILITY A ON A.FACILITY_NO = Y.FACILITY_NO
			  WHERE C.CAMP_STATUS = 'Y' 
			    AND C.CAMP_ADDRESS LIKE '%' || #{fc.sArea} || '%' 
			    AND R.ROOM_MEMBER &gt;= #{fc.sGuest} 
			    AND E.CHECKIN NOT BETWEEN #{fc.sIn} AND #{fc.sOut}
			    AND C.CAMP_NAME LIKE '%' || #{fc.sName} || '%'
			    AND F.FILE_STATUS = 'N' 
			    AND F.FILE_LEVEL = 1
			    AND B.BUSINESS_TYPE IN
			    <foreach item="sType" collection="sType" open="(" close=")" separator=",">
			    #{sType}
			    </foreach>
			    AND A.FACILITY_NAME IN
			    <foreach item="sFaci" collection="sFaci" open="(" close=")" separator=",">
			     #{sFaci}
			    </foreach>
			    AND R.ROOM_FLOOR
			    <foreach item="sFloor" collection="sFloor" open="(" close=")" separator=",">
			    #{sFloor}
			    </foreach>
			  GROUP BY ROWNUM, C.CAMP_NO, C.CAMP_NAME, C.CAMP_ADDRESS, F.FILE_ROUTE, F.FILE_NAME 
			  ORDER BY 2 ASC
			 )
	   	WHERE NUM BETWEEN #{pi.startRow} AND #{pi.endRow}
	</select>
	
	

</mapper>