<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.campers.admin.model.dao.AdminMapper">
	
	<resultMap type="com.cp.campers.member.model.vo.Member" id="memberResultMap">
		<id property="userNo" column="USER_NO"/>
		<result property="id" column="USER_ID"/>
		<result property="pwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="nickName" column="NICKNAME"/>
		<result property="profilePath" column="PROFILE_PATH"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="USER_PHONE"/>
		<result property="status" column="STATUS"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<collection property="memberRoleList" resultMap="memberRoleResultMap"></collection>
	</resultMap>

	<resultMap type="com.cp.campers.member.model.vo.MemberRole" id="memberRoleResultMap">
		<id property="memberNo" column="USER_NO"/>
		<id property="authorityCode" column="AUTHORITY_CODE"/>
		<association property="authority" resultMap="authorityResultMap"/>
	</resultMap>
	
   <resultMap type="com.cp.campers.member.model.vo.Authority" id="authorityResultMap">      <!-- 위의 association(1대 1)에서의 resultMap이랑 여기서 id랑 일치시키기 -->
      <id property="authorityCode" column="AUTHORITY_CODE"/>
      <result property="authorityName" column="AUTHORITY_NAME"/>
      <result property="authorityDesc" column="AUTHORITY_DESC"/>
   </resultMap>
   
   <select id="getListCount" resultType="_int">
   		SELECT
		      COUNT(A.USER_NO)
		 FROM MEMBER A
		 LEFT JOIN AUTHORITY_ROLE B ON(A.USER_NO = B.USER_NO)
		 LEFT JOIN AUTHORITY C ON(B.AUTHORITY_CODE = C.AUTHORITY_CODE)
   </select>
   
   <select id="findAllMember" parameterType="com.cp.campers.admin.model.vo.PageInfo" resultMap="memberResultMap">
   	SELECT * 
      FROM (SELECT ROWNUM RNUM, A.*
		      FROM (SELECT
                          A.USER_NO,
                          A.USER_ID, 
                          A.USER_NAME, 
                          A.EMAIL, 
                          A.CREATE_DATE,
                          A.STATUS,
                          B.AUTHORITY_CODE
                     FROM MEMBER A
                     LEFT JOIN AUTHORITY_ROLE B ON(A.USER_NO = B.USER_NO)
                     LEFT JOIN AUTHORITY C ON(B.AUTHORITY_CODE = C.AUTHORITY_CODE)
                    ORDER BY A.CREATE_DATE) A)
	 WHERE RNUM BETWEEN #{ startRow } AND #{ endRow }
   </select>
   
   <update id="updateMember" parameterType="com.cp.campers.member.model.vo.Member">
		UPDATE MEMBER
		   SET STATUS = #{ status }
		WHERE USER_NO = #{ userNo }
   </update>
   
   <update id="updateMemberRole" parameterType="com.cp.campers.member.model.vo.MemberRole">
   		UPDATE AUTHORITY_ROLE
		   SET AUTHORITY_CODE = #{ authorityCode }
		WHERE USER_NO = #{ memberNo }
   </update>

   <select id="searchMember" parameterType="com.cp.campers.admin.model.vo.Search" resultMap="memberResultMap">
   		SELECT
		      A.USER_NO,
		      A.USER_ID, 
		      A.USER_NAME, 
		      A.EMAIL, 
		      A.CREATE_DATE,
		      A.STATUS,
		      B.AUTHORITY_CODE
		 FROM MEMBER A
		 LEFT JOIN AUTHORITY_ROLE B ON(A.USER_NO = B.USER_NO)
		 LEFT JOIN AUTHORITY C ON(B.AUTHORITY_CODE = C.AUTHORITY_CODE)
		<choose>
		<when test="searchCondition == 'no'">		
		WHERE A.USER_NO = #{ searchValue }
		</when>
		<when test="searchCondition == 'id'">
		WHERE A.USER_ID = #{ searchValue }
		</when>
		</choose>
   </select>
</mapper>