<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.campers.admin.model.dao.AdminMapper">
	
	<resultMap type="com.cp.campers.member.model.vo.Member" id="memberResultMap">
		<id property="userNo" column="USER_NO"/>
		<result property="id" column="USER_ID"/>
		<result property="pwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="nickName" column="NICKNAME"/>
		<result property="profilePath" column="PROFILE_PATH"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="USER_PHONE"/>
		<result property="status" column="STATUS"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<collection property="memberRoleList" resultMap="memberRoleResultMap"/>
	</resultMap>

	<resultMap type="com.cp.campers.member.model.vo.MemberRole" id="memberRoleResultMap">
		<id property="memberNo" column="USER_NO"/>
		<id property="authorityCode" column="AUTHORITY_CODE"/>
		<association property="authority" resultMap="authorityResultMap"/>
	</resultMap>
	
   <resultMap type="com.cp.campers.member.model.vo.Authority" id="authorityResultMap">      <!-- 위의 association(1대 1)에서의 resultMap이랑 여기서 id랑 일치시키기 -->
      <id property="authorityCode" column="AUTHORITY_CODE"/>
      <result property="authorityName" column="AUTHORITY_NAME"/>
      <result property="authorityDesc" column="AUTHORITY_DESC"/>
   </resultMap>
   
   
   
   
   
   
   <resultMap type="com.cp.campers.camp.model.vo.Camp" id="campResultMap">
		<id property="campNo" column="CAMP_NO"/>
		<result property="campName" column="CAMP_NAME"/>
		<result property="userNo" column="USER_NO"/>
		<result property="userName" column="USER_NAME"/>
		<result property="campAddress" column="CAMP_ADDRESS"/>
		<result property="campPhone" column="CAMP_PHONE"/>
		<result property="campIntro" column="CAMP_INTRO"/>
		<result property="campPath" column="CAMP_PATH"/>
		<result property="campPolicy" column="CAMP_POLICY"/>
		<result property="campStatus" column="CAMP_STATUS"/>
		<result property="accountNum" column="ACCOUNT_NUM"/>
		<result property="bank" column="BANK"/>
		<result property="checkin" column="CHECKIN"/>
		<result property="checkout" column="CHECKOUT"/>
		<result property="refusal" column="REFUSAL"/>
		<collection property="campRecordList" resultMap="campRecordResultMap"/>
		<collection property="imgFileList" resultMap="imageFileResultMap"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.admin.model.vo.CampRecord" id="campRecordResultMap">
		<id property="crNo" column="CR_NO"/>
		<result property="recordDate" column="RECORD_DATE"/>
		<result property="campNo" column="CAMP_NO"/>
		<result property="recordNo" column="RECORD_NO"/>
		<association property="record" resultMap="recordResultMap"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.admin.model.vo.Record" id="recordResultMap">
		<id property="recordNo" column="RECORD_NO"/>
		<result property="recordName" column="RECORD_NAME"/>
	</resultMap>
	
	
	
	
	
	
	<resultMap type="com.cp.campers.camp.model.vo.Room" id="roomResultMap">
		<id property="roomNo" column="ROOM_NO"/>
		<result property="roomName" column="ROOM_NAME"/>
		<result property="roomMember" column="ROOM_MEMBER"/>
		<result property="roomPrice" column="ROOM_PRICE"/>
		<result property="roomSize" column="ROOM_SIZE"/>
		<result property="roomFloor" column="ROOM_FLOOR"/>
		<result property="roomParking" column="ROOM_PARKING"/>
		<result property="roomInfo" column="ROOM_INFO"/>
		<result property="roomAmount" column="ROOM_AMOUNT"/>
		<result property="roomForm" column="ROOM_FORM"/>
		<result property="roomCount" column="ROOM_COUNT"/>
		<result property="campNo" column="CAMP_NO "/>
		<collection property="imgFileList" resultMap="imageFileResultMap"/>		
	</resultMap>
	
	
	<resultMap type="com.cp.campers.camp.model.vo.ImageFile" id="imageFileResultMap">
		<id property="fileNo" column="FILE_NO"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileRoute" column="FILE_ROUTE"/>
		<result property="fileStatus" column="FILE_STATUS"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
	</resultMap>
	
	
	<resultMap type="com.cp.campers.mypage.model.vo.BusinessType" id="businessTypeResultMap">
		<id property="businessNo" column="BUSINESS_NO"/>
		<result property="businessType" column="BUSINESS_TYPE"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.CampBusinessType" id="campBusinessTypeResultMap">
		<id property="campNo" column="CAMP_NO"/>
		<result property="businessNo" column="BUSINESS_NO"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.CampFacility" id="campFacilityResultMap">
		<id property="campNo" column="CAMP_NO"/>
		<result property="FacilityNo" column="FACILITY_NO"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.CampFile" id="campFileResultMap">
		<id property="campNo" column="CAMP_NO"/>
		<result property="fileNo" column="FILE_NO"/>
	</resultMap>
	

	
	
	
   
	<select id="getListCount" resultType="_int">
   		SELECT
		      COUNT(A.USER_NO)
		 FROM MEMBER A
		 LEFT JOIN AUTHORITY_ROLE B ON(A.USER_NO = B.USER_NO)
		 LEFT JOIN AUTHORITY C ON(B.AUTHORITY_CODE = C.AUTHORITY_CODE)
	</select>
   
	<select id="getListCountBySearch" parameterType="com.cp.campers.admin.model.vo.Search" resultType="_int">
   		SELECT
		      COUNT(A.USER_NO)
		 FROM MEMBER A
		 LEFT JOIN AUTHORITY_ROLE B ON(A.USER_NO = B.USER_NO)
		 LEFT JOIN AUTHORITY C ON(B.AUTHORITY_CODE = C.AUTHORITY_CODE)
		<choose>
		<when test="searchCondition == 'no'">		
		WHERE A.USER_NO = #{ searchValue }
		</when>
		<when test="searchCondition == 'id'">
		WHERE A.USER_ID = #{ searchValue }
		</when>
		</choose>
	</select>
   
	<select id="findAllMember" parameterType="com.cp.campers.admin.model.vo.PageInfo" resultMap="memberResultMap">
	   	SELECT * 
	      FROM (SELECT ROWNUM RNUM, A.*
			      FROM (SELECT
	                          A.USER_NO,
	                          A.USER_ID, 
	                          A.USER_NAME, 
	                          A.EMAIL, 
	                          A.CREATE_DATE,
	                          A.STATUS,
	                          B.AUTHORITY_CODE
	                     FROM MEMBER A
	                     LEFT JOIN AUTHORITY_ROLE B ON(A.USER_NO = B.USER_NO)
	                     LEFT JOIN AUTHORITY C ON(B.AUTHORITY_CODE = C.AUTHORITY_CODE)
	                    ORDER BY A.CREATE_DATE) A)
		 WHERE RNUM BETWEEN #{ startRow } AND #{ endRow }
	</select>
   
	<update id="updateMember" parameterType="com.cp.campers.member.model.vo.Member">
		UPDATE MEMBER
		   SET STATUS = #{ status }
		WHERE USER_NO = #{ userNo }
	</update>
   
	<update id="updateMemberRole" parameterType="com.cp.campers.member.model.vo.MemberRole">
   		UPDATE AUTHORITY_ROLE
		   SET AUTHORITY_CODE = #{ authorityCode }
		WHERE USER_NO = #{ memberNo }
	</update>

	<select id="searchMember" parameterType="hashmap" resultMap="memberResultMap">
	   	SELECT * 
	      FROM (SELECT ROWNUM RNUM, A.*
			      FROM (SELECT
	                          A.USER_NO,
	                          A.USER_ID, 
	                          A.USER_NAME, 
	                          A.EMAIL, 
	                          A.CREATE_DATE,
	                          A.STATUS,
	                          B.AUTHORITY_CODE
	                     FROM MEMBER A
	                     LEFT JOIN AUTHORITY_ROLE B ON(A.USER_NO = B.USER_NO)
	                     LEFT JOIN AUTHORITY C ON(B.AUTHORITY_CODE = C.AUTHORITY_CODE)
	                     <choose>
						 <when test="search.searchCondition == 'no'">		
						 WHERE A.USER_NO = #{ search.searchValue }
						 </when>
						 <when test="search.searchCondition == 'id'">
						 WHERE A.USER_ID = #{ search.searchValue }
						 </when>
						 </choose>) A)
		 WHERE RNUM BETWEEN #{ pi.startRow } AND #{ pi.endRow }
	</select>
   
	<select id="getCampListCount" resultType="_int">
   		SELECT COUNT(CAMP_NO)
   		  FROM CAMP
	</select>
   
	<select id="getCampListCountBySearch" parameterType="com.cp.campers.admin.model.vo.Search" resultType="_int">
   		SELECT COUNT(CAMP_NO)
   		  FROM CAMP
   		<choose>
		<when test="searchCondition == 'no'">		
		WHERE CAMP_NO = #{ searchValue }
		</when>
		<when test="searchCondition == 'name'">
		WHERE CAMP_NAME LIKE '%' || #{ searchValue } || '%'
		</when>
		</choose>
	</select>
   
	<select id="findAllCamp" parameterType="com.cp.campers.admin.model.vo.PageInfo" resultMap="campResultMap">
	   SELECT * 
	      FROM (SELECT ROWNUM RNUM, A.*
			      FROM (SELECT
						       C.CAMP_NO
						     , C.USER_NO
						     , CR.RECORD_DATE
						     , C.CAMP_NAME
						     , CR.RECORD_NO
						     , R.RECORD_NAME
						     , C.CAMP_STATUS
						 FROM CAMP C
                         JOIN CAMP_RECORD CR ON (C.CAMP_NO = CR.CAMP_NO)
						 JOIN RECORD R ON (CR.RECORD_NO = R.RECORD_NO)
						WHERE CAMP_STATUS IN ('Y', 'N')
                          AND (C.CAMP_NO, CR.RECORD_DATE) IN (SELECT
                          										     C.CAMP_NO
                          										   , MAX(CR.RECORD_DATE)
                          										FROM CAMP_RECORD CR 
                          										JOIN CAMP C ON(C.CAMP_NO = CR.CAMP_NO) 
                          										GROUP BY C.CAMP_NO)
                        ORDER BY CR.RECORD_DATE DESC) A)
		 WHERE RNUM BETWEEN #{ startRow } AND #{ endRow }
	</select>
   
	<select id="searchCamp" parameterType="hashmap" resultMap="campResultMap">
   		SELECT * 
	      FROM (SELECT ROWNUM RNUM, A.*
			      FROM (SELECT
						       C.CAMP_NO
						     , C.USER_NO
						     , CR.RECORD_DATE
						     , C.CAMP_NAME
						     , CR.RECORD_NO
						     , R.RECORD_NAME
						     , C.CAMP_STATUS
						 FROM CAMP C
						 LEFT JOIN CAMP_RECORD CR ON (C.CAMP_NO = CR.CAMP_NO)
						 LEFT JOIN RECORD R ON (CR.RECORD_NO = R.RECORD_NO)
						WHERE CAMP_STATUS IN ('Y', 'N')
						<choose>
						<when test="search.searchCondition == 'no'">		
						 AND C.CAMP_NO = #{ search.searchValue }
						</when>
						<when test="search.searchCondition == 'name'">
						 AND C.CAMP_NAME LIKE '%' || #{ search.searchValue } || '%'
						</when>
						</choose>
						ORDER BY CR.RECORD_DATE) A)
		 WHERE RNUM BETWEEN #{ pi.startRow } AND #{ pi.endRow }
	</select>

	<select id="detailCamp" parameterType="_int" resultMap="campResultMap">
		SELECT
		      C.CAMP_NO
		    , C.CAMP_NAME
		    , C.USER_NO
		    , M.USER_NO
		    , M.USER_NAME
		    , C.CAMP_ADDRESS
		    , C.CAMP_PHONE
		    , C.CAMP_INTRO
		    , C.CAMP_PATH
            , I.FILE_NAME
            , I.FILE_ROUTE
		    , C.CAMP_POLICY
		    , C.CAMP_STATUS
		    , C.ACCOUNT_NUM
		    , C.BANK
		    , C.CHECKIN
		    , C.CHECKOUT
		    FROM CAMP C
		    JOIN MEMBER M ON(C.USER_NO = M.USER_NO)
            JOIN CAMP_FILE CF ON(C.CAMP_NO = CF.CAMP_NO)
            JOIN IMAGEFILE I ON(I.FILE_NO = CF.FILE_NO)
		   WHERE C.CAMP_NO = #{ campNo }
		     AND I.FILE_STATUS = 'N'
	</select>
	
	<select id="detailRoom" parameterType="_int" resultMap="roomResultMap">
		SELECT
			  R.ROOM_NO
			, R.ROOM_NAME
            , R.ROOM_MEMBER
            , R.ROOM_PRICE
            , R.ROOM_SIZE
            , R.ROOM_FLOOR
            , R.ROOM_PARKING
            , R.ROOM_INFO
            , R.ROOM_AMOUNT
            , R.ROOM_FORM
            , I.FILE_NAME
            , I.FILE_ROUTE
		 FROM ROOM R
		 JOIN ROOM_FILE RF ON(R.ROOM_NO = RF.ROOM_NO)
		 JOIN IMAGEFILE I ON(I.FILE_NO = RF.FILE_NO)
		WHERE R.CAMP_NO = #{ campNo }
		  AND I.FILE_STATUS = 'N'
	</select>
	
	<update id="deleteCamp" parameterType="_int">
		UPDATE CAMP
		   SET CAMP_STATUS = 'X'
		 WHERE CAMP_NO = #{ campNo }
	</update>
	
	<update id="refusal" parameterType="hashmap">
		UPDATE CAMP
		   SET REFUSAL = #{ refusal }
		     , CAMP_STATUS = 'R'
		 WHERE CAMP_NO = #{ campNo }
	</update>
	
	<update id="enroll" parameterType="_int">
		UPDATE CAMP
		   SET CAMP_STATUS = 'Y'
		 WHERE CAMP_NO = #{ campNo }
	</update>
	
	<insert id="record" parameterType="_int">
		INSERT INTO CAMP_RECORD 
		VALUES (SEQ_CR_NO.NEXTVAL
			  , DEFAULT
			  , #{ campNo }
			  , 2)
	</insert>
</mapper>