<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 및 결제</title>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> 
    <!-- css -->
    <link type="text/css" rel="stylesheet" href="/resources/css/reservePayment/reserPay.css">
    <!-- 웹폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;600&display=swap" rel="stylesheet">
    <!-- JavaScript-->
    <!-- <script type="text/javascript" src="../resources/js/payment.js"></script> -->

</head>
<body>
	<div th:include="common/header.html"></div>

    <!-- 예약 및 결제 html -->
    <div class="reserPay_Outer">
        <div class="reserPay_Wrap">
            <div class="reser_tit">텐타우스*라바력셔리글램핑</div>
         <form action="/reserPay/insert" method="post">
         <input type="hidden" name="roomNo" value="1"><!-- 가데이터  -->
            <div class="reserPay_flex1">
                <div class="reser_check">
                    <div class="reser_box">
                        <div class="reser_date">
                        <span class="checkIn">1/4(화)
                        </span><span class="checkOut">1/7(금)</span> 
                        </div>
                        <div class="inwonsu">인원 : 5 명</div>
                        <div class="camDate_flex">
                           <!--   <img class="camcon" src="/resources/images/reservePayment/camping_Icon.png">-->
                            <div class="befor_date">캠핑가기 <span class="camRedDate">1</span>일 전 </div>
                        </div>
                    </div>
                </div>
                <div class="reser_roomselec">
                    <div class="reser_room_text">예약 객실 수 선택</div>
                    <div class="inp_qty">
                        <button type="button" onclick="qtyDown(this)" title="수량감소">
                            <span>-</span>
                        </button>
                        <input type="text" name="roomQua" title="객실개수" value="1">
                        <button type="button" onclick="qtyUp(this)" title="수량추가">
                            <span>+</span>
                        </button>
                    </div>
                    <div class="room_su">*최대 5개 선택 가능</div>
                </div>
            </div>
            <div class="title1">
                <span>예약자 질의응답</span>
            </div>
            <div class="ques_text">
                <span class="inp_check">
                    <label class="chk1_1" for="chk1_1">1. 문의사항은 업체로 연락 부탁드립니다/미성년자 는 부모님 동반 외 예약을 받지 않음을 확인하셨나요? <span class="red">(*)</span></label>
                    <input type="checkbox" name="chk1" id="chk1_1">
                </span>
            </div>
            <div class="ques_text">
                <span class="inp_check">
                    <label class="chk1_1" for="chk1_1">2. 이용일(방문일) 10일 이내에 예약 취소 시 (예약 후 바로 취소해도) 취소 수수료 발생합니다.
                        <br>
                       <span>우천 및 개인사정으로 날짜변경 불가능하며, 취소 후 재예약해야 합니다.</span>
                       <br>
                       <span> 취소/환불 규정 확인하셨나요?</span>  <span class="red">(*)</span>
                    </label>
                    <input type="checkbox" name="chk1" id="chk1_1">
                </span>
            </div>
            <div class="title1">
                <span>예약자 정보</span>
            </div>
            <div class="reserPay_inner">
                <div class="reserName">예약자명<span class="red">(*)</span></div>
                <div class="inp_text">
                    <input type="text" placeholder="홍길동"  name="reserName" id="" />
                </div>
                <div class="phone">휴대폰 번호<span class="red">(*)</span></div>
                <div class="inp_text">
                    <input type="text" placeholder="010-1234-5678"  name="phone" id="" />
                </div>
                <div class="request">예약 요청사항(선택)</div>
                <div class="textbox">
                    <textarea placeholder="예약 요청사항을 입력해주세요." name="request"></textarea>
                </div>
            </div>
            <div class="title1">
                <span>환불 정보</span>
            </div>
            <div class="reserPay_inner">
                <div class="account_hol">예금주<span class="red">(*)</span></div>
                <div class="inp_text">
                    <input type="text" placeholder="홍길동"  name="accountHol" id="" />
                </div>
                <div class="accountNum">계좌번호<span class="red">(*)</span></div>
                <div class="inp_text">
                    <input type="text" placeholder="환불 받으실 계좌번호를 입력해주세요."  name="accountNum" id="" />
                </div>
                <div class="bank">은행<span class="red">(*)</span></div>
                <div class="inp_text">
                    <input type="text" placeholder="환불 받으실 계좌번호의 은행을 입력해주세요"  name="bank" id="" />
                </div>
            </div>
            <div class="title1">
                <span>주의사항 및 약관동의</span>
            </div>
            <div class="checkboxMargin">
                <input type='checkbox' id='selectAll' value='selectall'onclick='selectAll(this)'/>
                <label class="agreeText" for="selectAll">전체 이용약관에 동의합니다.</label>
                <br>
                <input type='checkbox' id="agreeChk1" name='agreeChk' value='' onclick='checkSelectAll()'/>
                <label class="checkOuter agreeText">취소 및 환불 수수료에 동의합니다.</label>
                <pre class="content">
ㆍ 예약취소는 구매한 사이트 "MYPAGE" 혹은 "예약확인/취소"에서 가능합니다.
ㆍ 취소수수료는 예약시점과는 무관하게 '입실일로부터 남은 날짜' 기준으로 부과됩니다. 신중한 예약바랍니다.
ㆍ 예약 이용일 변경 불가합니다. (취소수수료 확인 후) 기존 예약건 취소 및 재예약하셔야 합니다.
ㆍ 중복예약 취소, 업체 요청에 의한 취소, 법령에 의한 취소 등은 반드시 CAMPERS 고객센터 또는 해당 숙소를 통하여 도움을 받으십시오.
ㆍ 미성년자는 예약이 불가하며, 보호자 동반 없이 이용 불가합니다.

※ 기상 상황 및 코로나 등 전염병 관련 예약 취소 안내
ㆍ 우천으로 인한 환불 및 날짜 변경 불가합니다.
ㆍ 천재지변 또는 기상악화 시, 현장(캠핑장/펜션)상황과 정책에 따라 당일 오전 현장 판단하에 연기 또는 취소 결정됩니다.
ㆍ 코로나 등 전염병 관련 예약 취소는 병원/행정기관 등 유관기관에서 발급한 '예약자 본인 확인 가능한 증빙 서류 제출 시' 업체와 협의 후 가능합니다.
ㆍ 사전 협의 없이 예약자가 직접 예약 취소 시 환불 규정에 따라 환불되며, 결제업체(결제수단)의 정책에 따라 취소수수료 환불이 불가할 수 있습니다.
ㆍ 취소 시 결제금액에서 취소수수료를 제외한 금액이 환불되며, 취소수수료는 총 결제금액 기준으로 책정됩니다.
ㆍ 취소 신청 후 은행/신용카드사에 따라 환불 절차에 일정 시간이 소요됩니다.</pre>
                <br>
                <input type='checkbox' id="agreeChk2" name='agreeChk' value=''  onclick='checkSelectAll()'/>
                <label class="checkOuter agreeText">이용 시 주의사항에 동의합니다.</label>
                <pre class="content">
ㆍ 예약관리는 특성상 약간의 시간차에 의하여 오차가 발생할수 있습니다.
ㆍ 오차에 의한 중복예약 발생시 먼저 예약된 예약건이 우선시 되며 이 경우, 취소수수료 없이 전액 환불처리됩니다.
ㆍ 숙소의 요청에 따라 일부 요금은 현장에서 결제가 진행될 수 있습니다.
ㆍ 각 숙박시설 정보는 예약을 위한 참고 자료입니다. 숙박시설 내 자체 변동이나 기타 사유로 인해 실제와 차이가 있을 수 있으며, 이에 대해 CAMPERS(주)는 책임을 지지 않습니다.
ㆍ 고객님의 요청사항은 숙박시설에 전달되나, 최종 반영 여부는 예약하신 숙박시설의 결정사항이므로 CAMPERS(주)에서 보장할 수 없는 사항임을 유의하여 주시기 바랍니다.            
ㆍ 예약시 신청하신 인원이외에 추가인원은 입실이 거부될 수 있습니다. 예약인원 초과로 인한 입실 거부시 환불 불가 정책이 적용되오니, 유의하시기 바랍니다.
ㆍ 예약 이후 모든 변경은 해당 예약 취소후 다시 예약하셔야 합니다. 예약변경을 위한 취소시에도 취소수수료가 부과되오니 신중하게 예약하시기 바랍니다.
ㆍ CAMPERS(주)에서는 이용수칙과 관련하여 모든 숙소에 대하여 통일된 규정을 제공하지 않습니다.</pre>
                <br>
                <input type='checkbox' id="agreeChk3" name='agreeChk' value=''  onclick='checkSelectAll()'/>
                <label class="checkOuter agreeText">개인정보 수집 및 이용에 동의합니다.</label>
                <pre class="content">
ㆍ 분류 : 필수정보
ㆍ 수집 및 이용동의목적 : 계약의 이행 및 서비스 제공, 예약, 구매, 관심상품 내역, 결제대금의 청구, 상담, 불만, 민원처리, 고지/안내사항 전달, 
    상품/서비스 이용실적 정보 통계 분석, 상품/서비스 서비스 개선 및 추천, 불법 · 부정이용방지, 개인정보 유효기간제 준수
ㆍ 항목 : 예약내역(예약일시, 결제금액, 업체명), 디바이스 ID, 휴대폰 번호, 서비스이용기록, IP 주소, 접속로그, Cookie, 광고식별자, 단말기 OS와 버전, 
    단말기 모델명, 브라우저 버전, 예약자 및 구매자의 이름, 휴대폰 번호, (필요한 서비스의 경우)생년월일, (예약자와 방문자가 다른 경우) 방문자 및 탑승자의 이름, 
    휴대폰 번호, (필요한 서비스의 경우)생년월일, (예약확인서 발급 시) 예약자의 이메일 주소, (현금 환불 요청 시) 계좌번호 및 예금주명
ㆍ 보유 및 이용기간 : 이용종료일로부터 상담 등 민원처리, 정산 및 환불 처리를 위해 30일 후 삭제 [관계법령에 따라 보존할 필요가 있는 경우 
    해당 법령에서 요구하는 기한까지 보관 (예: 구매 회원의 경우 5년간, IP 주소의 경우 3개월)] </pre>
                <br>
                <input type='checkbox' id="agreeChk4" name='agreeChk' value=''  onclick='checkSelectAll()'/>
                <label class="checkOuter agreeText">개인정보 제 3자 제공에 동의합니다.</label>
                <pre class="content">
ㆍ 제공받는 자 : 경주 텐타우스 캠핑글램핑 (상호 : 텐타우스)
ㆍ 제공 목적 : 예약 · 구매한 상품 · 서비스의 제공 및 계약의 이행(이용자 및 이용정보 확인, 정산 등), 민원처리 등 소비자 분쟁해결
ㆍ 제공 항목 : 예약번호, 예약자 정보(예약자명, 휴대폰 번호) 또는 방문자 정보(방문자명, 휴대폰 번호)
ㆍ 이용 및 보유기간 : 개인정보 이용목적 달성 시까지
단, 관계법령에 의하여 보존할 필요성이 있는 경우 그 시점까지 보존 후 지체 없이 파기
위 개인정보 제3자 제공 동의를 거부할 수 있으며, 거부할 경우 서비스 이용이 제한됩니다. </pre>
                <br>
            </div>
            <div class="title1">
                <span>결제금액 정보</span>
            </div>
            <div class="payText">
                <div class="tit">[객실요금]</div>
                <div class="addr">예약 날짜 :  2021년 12월 07일 (화)</div>
                <div class="reserRoomSu">예약 객실 수량 :   159,000원 * 2개 = 318,000원</div>		
                <div class="totalPay">총 결제 금액 :  318,000 원</div>		
            </div>
            <div class="title1">
                <span>결제방법</span>
            </div>
            <div class="marginPay">
                <input type="radio" id="card" name="payment" value="" checked>
                <label class="payBox" for="card">신용카드</label>
                <input type="radio" id="kakaoPay"name="payment" value="" >
                <label class="payBox" for="kakaoPay">카카오페이</label>       
            </div>
            <button class="goPay" id="" type="submit">결제하기</button>
            </form>
        </div>
    </div>
	
	
		<div th:include="common/footer.html"></div>
	

<!-- JS -->
 <script>
    // 체크박스 체크 여부에 따른 전체체크박스 상태 
    function checkSelectAll(checkSelectAll){

        const checkboxes = document.querySelectorAll('input[name="agreeChk"]');

        const selectAll = document.querySelector('#selectAll');
        
        const checked = document.querySelectorAll('input[name="agreeChk"]:checked');

        if(checkboxes.length == checked.length) {
            selectAll.checked = true;
        } else {
            selectAll.checked = false;
        }
    }
    
    // 전체 동의 시 나머지 체크박스도 체크
    function selectAll(selectAll){
        const checkboxes = document.querySelectorAll('input[name="agreeChk"]');

        checkboxes.forEach((checkboxes) => {
            checkboxes.checked = selectAll.checked;
        });
    }

    $('.checkOuter').click(function(){
        if($(this).next("pre").css("display") == "none") {
            $("pre.content").slideUp();
            $(this).next("pre").slideDown();
        } else {
            $(this).next("pre").slideUp(); 
        }
    });
    
    
    function qtyUp(num){
	if ($(num).parent('.inp_qty').hasClass('readOnly')) {return false;}
	var thisVal = parseInt($(num).parents('.inp_qty').find("input").val());
	intVal = thisVal+1;
	$(num).parents('.inp_qty').find("input").val(intVal);
}
    function qtyDown(num){
        if ($(num).parent('.inp_qty').hasClass('readOnly')) {return false;}
        var thisVal = parseInt($(num).parents('.inp_qty').find("input").val());
        if(thisVal > 1){
            value = thisVal-1;
            $(num).parents('.inp_qty').find("input").val(value);
        }
    }
         
 
</script> 

</body>
</html>

