<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.campers.member.model.dao.MemberMapper">
	
	<resultMap type="com.cp.campers.member.model.vo.Member" id="loginMemberResultMap">
		<id property="userNo" column="USER_NO"/>
		<result property="id" column="USER_ID"/>
		<result property="pwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="nickName" column="NICKNAME"/>
		<result property="profilePath" column="PROFILE_PATH"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="USER_PHONE"/>
		<result property="status" column="STATUS"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<collection property="memberRoleList" resultMap="memberRoleResultMap"></collection>
	</resultMap>

	<resultMap type="com.cp.campers.member.model.vo.MemberRole" id="memberRoleResultMap">
		<id property="memberNo" column="USER_NO"/>
		<id property="authorityCode" column="AUTHORITY_CODE"/>
		<association property="authority" resultMap="authorityResultMap"/>
	</resultMap>
	
   <resultMap type="com.cp.campers.member.model.vo.Authority" id="authorityResultMap">      <!-- 위의 association(1대 1)에서의 resultMap이랑 여기서 id랑 일치시키기 -->
      <id property="authorityCode" column="AUTHORITY_CODE"/>
      <result property="authorityName" column="AUTHORITY_NAME"/>
      <result property="authorityDesc" column="AUTHORITY_DESC"/>
   </resultMap>
   
   <select id="findMemberById" resultMap="loginMemberResultMap">
   	SELECT
		    A.USER_NO,
		    A.USER_ID, 
		    A.USER_PWD, 
		    A.USER_NAME, 
		    A.NICKNAME, 
		    A.PROFILE_PATH, 
		    A.EMAIL, 
		    A.USER_PHONE, 
		    A.STATUS, 
		    A.CREATE_DATE, 
		    A.MODIFY_DATE,
		    B.USER_NO REF_MEMBER_NO,
		    B.AUTHORITY_CODE REF_AUTHORITY_CODE, 
		    C.AUTHORITY_CODE REF_AUTHORITY_CODE2, 
		    C.AUTHORITY_NAME, 
		    C.AUTHORITY_DESC
	    FROM MEMBER A
	    LEFT JOIN AUTHORITY_ROLE B ON(A.USER_NO = B.USER_NO)
	    LEFT JOIN AUTHORITY C ON(B.AUTHORITY_CODE = C.AUTHORITY_CODE)
    WHERE A.USER_ID = #{ userId }
    AND STATUS = 'Y'
   </select>
   
   <insert id="insertMember" parameterType="com.cp.campers.member.model.vo.Member">
   	INSERT INTO MEMBER
		(
			USER_NO
			,USER_ID
			,USER_PWD
			,USER_NAME
			,NICKNAME
			,PROFILE_PATH
			,EMAIL
			,USER_PHONE
			,STATUS
			,CREATE_DATE
			,MODIFY_DATE
		)
		VALUES
		(
			SEQ_USER_NO.NEXTVAL
			, #{ id }
			, #{ pwd }
			, #{ userName }
			, #{ nickName }
			<if test="profilePath != 'null'">
			, #{ profilePath }
			</if>
			<if test="profilePath == 'null'">
			, null
			</if>
			, #{ email }
			<if test="phone != 'null'">
			, #{ phone }
			</if>
			<if test="phone == 'null'">
			, null
			</if>
			, DEFAULT
			, SYSDATE
			, SYSDATE
		)
   </insert>
   
   <insert id="insertMemberRole" parameterType="com.cp.campers.member.model.vo.MemberRole">
   	
	INSERT
	INTO AUTHORITY_ROLE
	(
	    USER_NO
	    ,AUTHORITY_CODE
	)
	VALUES
	(
	    SEQ_USER_NO.CURRVAL
	    , #{ authorityCode }
	)
   </insert>
   <select id="selectUserId" resultType="string">
    SELECT USER_ID
	FROM MEMBER
	WHERE USER_NAME = #{userName}
	AND USER_PHONE = #{phone}
   </select>
   
   <select id="readUser" resultMap="loginMemberResultMap" parameterType="com.cp.campers.member.model.vo.Member">
   	SELECT USER_ID,USER_PWD,EMAIL
	FROM MEMBER
	WHERE USER_ID = #{id}
	AND EMAIL = #{email}
   </select>
   
   <update id="modifyPw" parameterType="com.cp.campers.member.model.vo.Member">
   UPDATE MEMBER
   SET USER_PWD = #{pwd}
   WHERE USER_ID = #{id}
   </update>
   
   
</mapper>