<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${camp.campName}"></title>
<!-- css -->
<link href="/resources/css/camp/campDetail.css" rel="stylesheet">
<!-- icon -->
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->

<!-- 캘린더 css -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<!-- 슬라이드 -->
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
</head>
<body>
<div th:replace="common/header.html"></div>
<!-- header 밑으로 -->
 <!-- jQuery UI js -->
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js" integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA=" crossorigin="anonymous"></script>
<!-- 캘린더 라이브러리 -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/resources/js/camp/room.js"></script>

<div class="accom_wrap" id="moveTop">
    <div class="accom_content">
        <!-- 1. 숙소 헤더 -->
        <div class="accom_header">
            <div class="btnBefore">
            	<i class="fas fa-chevron-left" onclick="location.href='javascript:history.back();'"></i>
            </div>
            <div class="accom_title"><h2 th:text="${camp.campName}"></h2></div>
            <div></div>
        </div>



        <!-- 2. 숙소 이미지 -->
        <div class="slide_accomd">
            <div class="swiper_acconmd campSwiper">
                <div class="swiper-wrapper">

                    <div class="swiper-slide" th:each="imgfile : ${camp.imgFileList}">
                        <div class="div-accomdImg">
                            <img th:src="@{ ${imgfile.fileRoute} + ${imgfile.fileName} }">
                        </div>
                    </div>

                </div>
            </div>



            <!-- button prev -->
            <div class="accomd_button1">
                <!-- If we need navigation buttons -->
                <div class="campBtn1">
                    <div class="direction">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                </div>
            </div>

            <!-- button next -->
            <div class="accomd_button2">
                <div class="campBtn2">
                    <div class="direction">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>

        </div>

        <!-- swiper script -->
        <script>
            var swiper1 = new Swiper(".campSwiper", {
                slidesPerView: 1,
                spaceBetween: 30,

                loop: true,

                // Navigation arrows
                navigation: {
                    prevEl: '.campBtn1',
                    nextEl: '.campBtn2',
                },

            });
        </script>
        



        <!-- 3. 숙소 예약 및 연락정보 -->
        <div class="accom_info">


            <!-- 연락정보 -->
            <div class="accom_profile">
                <div class="accom_address">
                    <span class="accom_profile_icon"><i class="far fa-map"></i></span>
                    <span class="text_controller" id="address" style="padding: 0;">
                    	<span th:text="${ camp.campAddress }"></span>
                    	<span class="clipIcon"><i class="far fa-copy" id="copy" onclick="clip();"></i></span>
                    </span>
                </div>
                <div class="accom_phone">
                    <span class="accom_profile_icon"><i class="fas fa-phone"></i></span>
                    <span class="text_controller" th:text="${ camp.campPhone }"></span>
                </div>
                <div class="accom_type">
                    <span class="accom_profile_icon"><i class="fas fa-info-circle"></i></span>
                    <span class="text_controller" th:each="bt : ${camp.businessTypeList}" th:text="|${bt.bType}  |"></span>
                </div>
                <div>
                    <span class="accom_profile_icon"><i class="fas fa-share-alt"></i></span>
                    <span class="text_controller" id="share" onclick="share();">공유하기</span>
                </div>
            </div>


            <!-- 예약 -->
            <div class="accom_reservation">
                <form action="#" method="post">
                    <div class="rvArea">


                        <div class="rv_top">
                            <div class="check_left">
                                <div class="check_io"><h5>CHECK IN</h5></div>
                            </div>
    
                            <div class="check_right">
                                <div class="check_io"><h5>CHECK OUT</h5></div>
                            </div>
                        </div>
                        
						<div class="rv-middle">
							<input type="hidden" id="campNo" name="campNo" th:value="${camp.campNo}">
							<input type="hidden" id="dateIn" th:value="${param.dateIn}">
							<input type="hidden" id="dateOut" th:value="${param.dateOut}">
	                        <script>
	                       	$(function() {
	                       		
	                       		var dateIn = $('#dateIn').val();
	                       		var dateOut = $('#dateOut').val();
	                       		var toDay = new Date();
	                       		
	                       	    $('input[name="daterange"]').daterangepicker({
	                       	      "locale": {
	                       	                      "format": "YYYY-MM-DD",
	                       	                      "separator": " ~ ",
	                       	                      "applyLabel": "확인",
	                       	                      "cancelLabel": "취소",
	                       	                      "daysOfWeek": ["월", "화", "수", "목", "금", "토", "일"],
	                       	                      "monthNames": ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
	                       	                    },
	                       	                 "drops": "down",
	                       	                  maxDate: 0,
	                       	                  minDate: 0,
	                       	                  startDate: toDay.setDate(toDay.getDate()+1),
	                       	                  endDate: toDay
	                       	  		});
		                       	 $('input[name="daterange"]').datepicker();   
		                         $('input[name="daterange"]').daterangepicker({startDate : new Date(dateIn), endDate : new Date(dateOut), 
		                        	 locale:  {
		                        		  "format": 'YYYY-MM-DD',
		                        	      "separator": " ~ ",
                   	                      "applyLabel": "확인",
                   	                      "cancelLabel": "취소",
                   	                      "daysOfWeek": ["월", "화", "수", "목", "금", "토", "일"],
                   	                      "monthNames": ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                   	                    },
                   	                 "drops": "down",
                  	                  maxDate: 0,
                  	                  minDate: 0});
		                         
	                       	  });
	                       	</script>
							<label class="search-date search-container">
			                    <input type="text" id="main-date-check" class="area-text" name="daterange" style="cursor: default;" readonly required>
			                </label>
	                    </div>

                        <div class="rv_bottom">
                            <div class="rv_person">
                                <div class="rv_guestNum">
	                                <select id="guestNum" name="guestNum" th:onchange="changeLoad()" >
	                                    <option value="0" th:selected="${#strings.equals(param.guest, '0')}">인원</option>
	                                    <option value="1" th:selected="${#strings.equals(param.guest, '1')}">1</option>
	                                    <option value="2" th:selected="${#strings.equals(param.guest, '2')}">2</option>
	                                    <option value="3" th:selected="${#strings.equals(param.guest, '3')}">3</option>
	                                    <option value="4" th:selected="${#strings.equals(param.guest, '4')}">4</option>
	                                    <option value="5" th:selected="${#strings.equals(param.guest, '5')}">5</option>
	                                    <option value="6" th:selected="${#strings.equals(param.guest, '6')}">6</option>
	                                </select>
	                            </div>
                            </div>
                            
                            <div class="rv_select">
                                <select id="roomName" name="roomName">
                                    <option selected>객실을 선택해주세요</option>
                                    <option th:each="room : ${roomList}" th:text="${room.roomName}"
                                    th:if="${room.roomAmount} >= ${room.rCount} AND ${#numbers.formatInteger(param.guest, 1)} <= ${room.roomMember}"></option>
                                </select>
                            </div>
                        </div>


                    </div>


                    <div class="rvBtn">
                        <span><i class="far fa-calendar-alt"></i></span>
                        <button type="submit"><span>예약하기</span></button>
                    </div>


                </form>
            </div>


        </div>

		<div id="map" style="width:500px; height:400px;"></div>
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=29177cf0f41918547d34e57ce4ad216b"></script>
		<script>
		var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
		var options = { //지도를 생성할 때 필요한 기본 옵션
			center: new kakao.maps.LatLng(37.42629133933456, 126.99184858960511), //지도의 중심좌표.
			level: 3 //지도의 레벨(확대, 축소 정도)
		};
		var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
		// 지도를 클릭한 위치에 표출할 마커입니다
		var marker = new kakao.maps.Marker({ 
		    // 지도 중심좌표에 마커를 생성합니다 
		    position: map.getCenter() 
		}); 
		// 지도에 마커를 표시합니다
		marker.setMap(map);
		</script>

        <div class="introduce">
            <!-- 4. 숙소 소개 -->
            <div class="accom_intro">
                <fieldset>
                    <legend><h4 class="camp_title">숙박 소개</h4></legend>
                    <div class="text_controller"><p class="txtSet" th:utext="${#strings.replace(camp.campIntro, newReply, '<br>')}"></p></div>
                </fieldset>
            </div>

            <!-- 5. 숙소 시설 -->
            <div class="accom_facility">
                <fieldset>
                    <legend><h4 class="camp_title">시설 및 부가이용</h4></legend>
                    



                    <div class="facility">
                        <ul class="main_icon">
                            <li class="fac1">주요 시설</li>
                            <li class="fac1" th:each="facility : ${camp.facilityList}" th:if="${facility.fType} == '1'">
	                            <div th:if="${facility.fNo} == '1'">
	                            	<img class="icon_img" src="/resources/images/admin/facility/shower.png">
	                                <div class="fac_msg">샤워실</div>
	                            </div>
	                            <div th:if="${facility.fNo} == '2'">
	                                <img class="icon_img" src="/resources/images/admin/facility/toilet.png">
	                                <div class="fac_msg">화장실</div>
	                            </div>
	                            <div th:if="${facility.fNo} == '3'">
	                                <img class="icon_img" src="/resources/images/admin/facility/water.png">
	                                <div class="fac_msg">개수대</div>
	                            </div>
	                            <div th:if="${facility.fNo} == '4'">
	                                <img class="icon_img" src="/resources/images/admin/facility/supermarcket.png">
	                                <div class="fac_msg">매점</div>
	                            </div>
	                            <div th:if="${facility.fNo} == '5'">
	                                <img class="icon_img" src="/resources/images/admin/facility/wifi.png">
	                                <div class="fac_msg">와이파이</div>
	                            </div>
	                            <div th:if="${facility.fNo} == '6'">
	                                <img class="icon_img" src="/resources/images/admin/facility/plug.png">
	                                <div class="fac_msg">전기</div>
	                            </div>
                            </li>
                        </ul>
                    </div>



                    <div>
                        <ul class="sub_icon">
                            <li class="fac1">부가 이용</li>
                            <li class="fac1" th:each="facility : ${camp.facilityList}" th:if="${facility.fType} == '2'">
	                            <div th:if="${facility.fNo} == '7'">
	                                <img class="icon_img" src="/resources/images/admin/facility/pool.png">
	                                <div class="fac_msg">수영장</div>
	                            </div>
	                            <div th:if="${facility.fNo} == '8'">
	                                <img class="icon_img" src="/resources/images/admin/facility/barbecueGrill.png">
	                                <div class="fac_msg">바베큐그릴</div>
	                            </div>
	                            <div th:if="${facility.fNo} == '9'">
	                                <img class="icon_img" src="/resources/images/admin/facility/cutlery.png">
	                                <div class="fac_msg">조식제공</div>
	                            </div>
	                            <div th:if="${facility.fNo} == '10'">
	                                <img class="icon_img" src="/resources/images/admin/facility/animal.png">
	                                <div class="fac_msg">반려동물</div>
	                            </div>
                            </li>
                        </ul>
                    </div>


                </fieldset>
            </div>



            <!-- 6. 운영 정책 -->
            <div class="accomd_policy">
                <fieldset>
                    <legend><h4 class="camp_title">운영 정책</h4></legend>



                    <div class="check_time">
                        <ul class="checkTime_ul">
                            <li id="checkTime_li_icon"><i class="far fa-calendar-alt"></i></li>
                            <li class="checkTime_li"><h5>CHECK IN</h5></li>
                            <li class="checkTime_li" th:text="${camp.checkin}"></li>
                            <li class="checkTime_li_io"><h5>CHECK OUT</h5></li>
                            <li class="checkTime_li_io" th:text="${camp.checkout}"></li>
                        </ul>
                    </div>



                    <div class="policyArea">
                        <div class="policyIcon"><i class="fas fa-info-circle"></i></div>
                        <div class="text_controller" id="policyTxt">
                        	<p class="txtSet" th:utext="${#strings.replace(camp.campPolicy, newReply, '<br>')}"></p>
                        </div>
                    </div>



                </fieldset>
            </div>




            <!-- 7. 취소 환불 규정 -->
            <div class="accom_refund">
                <fieldset>
                    <legend><h4 class="camp_title">취소 환불규정</h4></legend>
                    <div class="refund_div">
                        <ul class="refund_header">
                            <li class="refund_date">취소 기준일</li>
                            <li class="refund_fees">취소 수수료</li>
                            <li class="refund_price">환불액</li>
                        </ul>
                        <ul>
                            <li class="refund_date">이용일 당일</li>
                            <li class="refund_fees">100%</li>
                            <li class="refund_price">환불 없음</li>
                        </ul>
                        <ul>
                            <li class="refund_date">이용일 10일 전</li>
                            <li class="refund_fees">50%</li>
                            <li class="refund_price">50% 환불</li>
                        </ul>
                    </div>
                </fieldset>
            </div>





            <!-- 8. 객실 목록 -->
            <div class="rooms_list" id="room-point">
                <div class="rooms_title"><h4>ROOMS</h4></div>

                <div class="rooms_area">
                
                    <div class="rooms_wrap" id="rooms_wrap" th:each="room : ${ roomList }">
                     <div th:id="'rooms_img'+${room.roomNo}" class="rooms_img" th:each="imgfile : ${room.imgFileList}"
                        th:style="'background-image: url(' + @{${imgfile.fileRoute} + ${imgfile.fileName}} + ');'" 
                        th:onclick="|showRoom('${ room.roomNo }'); show();|">
                        <input type="hidden" name="roomNo" th:value="${ room.roomNo }">   
                        </div>
                        
                        
                        <div class="rooms_info">
                        	<div class="info_roomName noReserve" th:text="${ room.roomName }"
                        	th:if="${room.roomAmount} <= ${room.rCount} OR ${#numbers.formatInteger(param.guest, 1)} > ${room.roomMember}"></div>
                            <div class="info_roomName" th:text="${ room.roomName }"
                            th:if="${room.roomAmount} > ${room.rCount} AND ${#numbers.formatInteger(param.guest, 1)} <= ${room.roomMember}"></div>
                            
                            <div class="info_person noReserve" th:text="|${ room.roomMember } 인|"
                            th:if="${room.roomAmount} <= ${room.rCount} OR ${#numbers.formatInteger(param.guest, 1)} > ${room.roomMember}"></div>
                            <div class="info_person" th:text="|${ room.roomMember } 인|"
                            th:if="${room.roomAmount} > ${room.rCount} AND ${#numbers.formatInteger(param.guest, 1)} <= ${room.roomMember}"></div>
                        </div>
                    </div>
                    
                </div>
                    <div align="center" class="noRoom" th:if="${not #strings.isEmpty(noRoom)}">
                    	<img src="/resources/images/camp/no-connection.png">
                    	<h4 th:text="${noRoom}"></h4>
                    </div>

				<script>
				 	function showRoom(roomNo){
				 		$.ajax({
			 				url : "/camp/roomDetail/" + roomNo,
			 				type : "get",
			 				dataType : "json",
			 				success : function(data) {
			 					
			 					$(".room_title h3").text(data.roomName);
			 					
			 					let str = `<div class="swiper roomSwiper">
			 		                <div class="swiper-wrapper room-sp">`;
			 		                
			                    for(let index in data.imgFileList) {
			                    	str += '<div class="swiper-slide"><div class="div-img"><img src="' 
			                    			 + data.imgFileList[index].fileRoute
			                    			 + data.imgFileList[index].fileName
			                    			 + '"></div></div>';
			                    }
			                    
			                    str += "</div></div>"
			                    
		                    	$(".imageSlideArea").html(str);
		                    	
		                    	   const swiper1 = new Swiper(".roomSwiper", {
		                               slidesPerView: 1,
		                               spaceBetween: 30,

		                               loop: true,

		                               // Navigation arrows
		                               navigation: {
		                                   prevEl: '.btn1',
		                                   nextEl: '.btn2',
		                               },

		                           });
		                    	
		                    	$(".room_exp p").text(data.roomMember + "(인)");
		                    	
		                    	let roomPrice = data.roomPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
		                    	
		                    	$(".room_price h2").html(roomPrice);
		                    	
		                    	$("#roomForm").text(data.roomForm);
		                    	
		                    	$("#size").text(data.roomSize+"㎡");
		                    	
		                    	$("#floor").text(data.roomFloor);
		                    	
		                    	$("#parking").text(data.roomParking);
		                    	
		                    	let roomInfo = data.roomInfo.replace(/(?:\r\n|\r|\n)/g, "<br>");
		                    	$(".roomInfo_txt").html(roomInfo);
			 				},
			 				error : function(e){
			 					console.log(e);
			 				}
			 			});
				 		
				 	}
				 </script>
            </div>



            <!-- 9. 리뷰 -->
            <div class="review_list">

                <div class="review_title"><h4>REVIEW</h4></div>

                <div class="review_area">
                    <div class="writer_wrap">
                        <ul>
                        
                            <li class="review_content" th:each="review : ${reviewList}" >
                                <div class="review_top">
                                    <div class="writer_profile">
                                    	<img class="icon_img" th:if="${review.profilePath != null }" th:src="${review.profilePath}">
										<img class="icon_img" th:unless="${review.profilePath != null }" src="/resources/images/board/member_profile_navy.png">
                                    </div>
                                    <div class="writer_info">
                                        <div class="writer" th:text="${review.nickName}"></div>
                                        <div class="write_date" th:text="${ #dates.format(review.createDate, 'yy.MM.dd') }"></div>
                                    </div>
                                    <th:block sec:authorize="isAuthenticated()">
                                    <div class="delete_a" th:if="${#authentication.principal.userNo} == ${ review.writer } OR ${#authorization.expression('hasRole(''ADMIN'')')}">
                                        <a th:onclick="'deleteRid('+${ review.rid }+', '+${ review.campNo }+')'">삭제하기</a>
                                    </div>
                                    </th:block>
                                </div>
                                
                                <div class="review_bottom">
                                    <div class="text_controller" th:text="${review.rcontent}"></div>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                    
                    <div align="center" th:if="${not #strings.isEmpty(noReview)}">
                    	<img class="noReview" src="/resources/images/camp/tent.png">
                    	<h4 th:text="${noReview}"></h4>
                    </div>
                </div>
            </div>
            

            <a href="#" id="moveA">TOP</a>

        </div>
    </div>
</div>

<div th:replace="camp/roomDetail.html"></div>

<script>
document.querySelector(".close_icon2").addEventListener("click", close);
    
function show(){
	$(".modal_background").fadeIn();
	$(".modal_background").fadeIn("slow");
	$(".modal_background").fadeIn(3000);
	 	    
	let offset = $("#modal-point").offset();

    $('html, body').animate({
    	scrollTop : offset.top
    }, 500);
    return false;
}
    
function close() {
	$(".modal_background").fadeOut();
    $(".modal_background").fadeOut("slow");
    $(".modal_background").fadeOut(3000);
    // $('.btn1').attr('class', 'prevBtn btn1');
	// $('.btn2').attr('class', 'nextBtn btn2');
    
	let offset = $("#room-point").offset();

    $('html, body').animate({
    	scrollTop : offset.top
    }, 500);
    return false;
}

$("#moveA").click(function() {	/* 천천히 올라가기 */
	$('html, body').animate({
	        scrollTop : 0
	    }, 600);
	    return false;
	});
                
var scrollBottom = $(document).height() - $(window).height() - $(window).scrollTop() - 130;

$(function(){	/* 스크롤 600 멀어지면 보이기 */
    $(window).scroll(function() {
        if ($(this).scrollTop() > 550) {
            $('#moveA').fadeIn();
        } else {
            $('#moveA').fadeOut();
        }
    });
});

function clip(){
    var address = '';
    var textarea = document.createElement("textarea");
    document.body.appendChild(textarea);
    address = window.document.querySelector('#address').textContent;
    // console.log(document.querySelector('#address').textContent);
    // url = window.document.location.href;
    textarea.value = address;
    textarea.select();
    document.execCommand("copy");
    document.body.removeChild(textarea);
    alert("주소가 복사되었습니다.")
}

function share(){
    var url = '';
    var textarea = document.createElement("textarea");
    document.body.appendChild(textarea);
    // console.log(document.querySelector('#share').textContent);
    url = window.document.location.href;
    textarea.value = url;
    textarea.select();
    document.execCommand("copy");
    document.body.removeChild(textarea);
    alert("URL이 복사되었습니다.")
}

function deleteRid(rid, campNo){
	
	if(confirm("정말로 삭제하시겠습니까?")){
		location.href="/camp/reviewDelete?rid=" + rid + "&campNo=" + campNo;
	}
	
}

function changeLoad() {
	let dateRange = $('input[name=daterange]').val();
	let guest = $('select[name=guestNum]').val();
	let campNo = $('input[name=campNo]').val();
	let dateIn = dateRange.substr(0, 10);
	let dateOut = dateRange.substring(13, dateRange.length);
	
	console.log("location.href=/camp/detail?campNo="+campNo+"&dateIn="+dateIn+"&dateOut="+dateOut+"&guest="+guest);
	
	location.href="/camp/detail?campNo="+campNo+"&dateIn="+dateIn+"&dateOut="+dateOut+"&guest="+guest;
}
</script>
<div th:replace="common/footer.html"></div>
</body>
</html>