<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>room detail</title>

	<!-- css -->
	<link href="/resources/css/camp/roomDetail.css" rel="stylesheet" type="text/css">
	
</head>
<body>
<div class="modal_background">
    <div class="window">
        <div class="room_modal">

            <!-- 창 닫기 -->
            <div class="close_icon"><span class="close_icon2"><i class="fas fa-times"></i></span></div>

            <!-- 1. 객실 명 -->
            <div class="room_title">
                <h3>독채형 카라반03 (오션뷰)</h3>
            </div>
            
            <!-- 2. 객실 사진 및 가격 -->
            <!-- 2. 숙소 이미지 -->
            <div class="slide1">
                <div class="swiper mySwiper1">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="div-img">
                                <img src="resources/images/camp.jpg">
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="div-img">
                                <img src="resources/images/camp.jpg">
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="div-img">
                                <img src="resources/images/room.jpg">
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="div-img">
                                <img src="resources/images/camp.jpg">
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="div-img">
                                <img src="resources/images/room.jpg">
                            </div>
                        </div>


                    </div>
                </div>

                <!-- button prev -->
                <div class="button1">
                    <!-- If we need navigation buttons -->
                    <div class="but1">
                        <div class="direction">
                            <i class="fas fa-chevron-left"></i>
                        </div>
                    </div>
                </div>

                <!-- button next -->
                <div class="button2">
                    <div class="but2">
                        <div class="direction">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </div>

            </div>

            <!-- swiper script -->
            <script>
                var swiper1 = new Swiper(".mySwiper1", {
                    slidesPerView: 1,
                    spaceBetween: 30,

                    loop: true,

                    // Navigation arrows
                    navigation: {
                        prevEl: '.but1',
                        nextEl: '.but2',
                    },

                });
            </script>

            <div class="">
                <div class="room_exp"><p>6인 가족형</p></div>
                <div class="room_price"><h2>100,000</h2>원</div>
            </div>

            <div class="room_content">  


                <!-- 3. 객실 정보 -->
                <div class="room_info">
                    <fieldset>
                        <ul class="room_header">
                            <li class="type">유형</li>
                            <li class="size">크기</li>
                            <li class="floor">바닥</li>
                            <li class="parking">주차</li>
                        </ul>
                        <ul>
                            <li class="type">카라반</li>
                            <li class="size">20㎡</li>
                            <li class="floor">기타</li>
                            <li class="parking">텐트 옆 주차</li>
                        </ul>
                    </fieldset>
                </div>





                <!-- 4. 객실 소개 -->
                <div class="room_intro">
                    <fieldset>
                        <legend><h5>객실 소개</h5></legend>
                        <pre>
    객실내 냉난방기 완비, 개별화장실, LED TV(IPTV), 냉장고, 개별싱크대, 가스버너,
    취사도구(식기,후라이팬,냄비 등), 전기포트, 밥솥, 바디워시, 샴푸, 린스, 비누, 더블침대(퀸사이즈)
                        </pre>
                    </fieldset>
                </div>





                <!-- 5. 운영 정책 -->
                <div class="accomd_policy">
                    <fieldset>
                        <legend><h5>운영 정책</h5></legend>
                        <pre>
    애완동물은 타 객실 및 손님을 위해 입실을 절대 금하오니 양해바랍니다.

    객실 내에서는 금연입니다.

    화재 및 냄새로 인한 타 손님 배려 차원에서 객실 내 돼지고기, 생선, 청국장의 조리를 금하오니 
    지정된 바비큐장을 이용하시길 부탁드립니다.

    오후 10시 이후의 바비큐장 이용 및 고성방가는 타 객실손님을 위하여 금하오니 양해 바랍니다.

    각 객실마다 정해진 최대수용인원(영유아포함) 초과를 금하며, 예약된 인원외 입실시에는 반드시 사전연락 해주십시오.
                        </pre>
                    </fieldset>
                </div>


            </div>
        </div>
    </div>
</div>
</body>
</html>