<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>room detail</title>

	<!-- css -->
	<link href="/resources/css/camp/roomDetail.css" rel="stylesheet" type="text/css">
	 
</head>
<body>
<div class="modal_background">
    <div class="room_modal" id="modal-point">

        <!-- 창 닫기 -->
        <div class="close_icon"><span class="close_icon2"><i class="fas fa-times"></i></span></div>

        <!-- 1. 객실 명 -->
        <div class="room_title">
            <h3></h3>
        </div>
        
        <!-- 2. 객실 사진 및 가격 -->
        <!-- 2. 숙소 이미지 -->
        <div class="slide1">
        <div class="imageSlideArea"></div>
<!-- <div class="swiper roomSwiper">
                <div class="swiper-wrapper room-sp">

                    <div class="swiper-slide">
                        <div class="div-img">
                            <img src="resources/images/camp.jpg">
                        </div>
                    </div>

                </div>
            </div> -->

            <!-- button prev -->
            <div class="button1">
                <!-- If we need navigation buttons -->
                <div class="prevBtn btn1">
                    <div class="direction">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                </div>
            </div>

            <!-- button next -->
            <div class="button2">
                <div class="nextBtn btn2">
                    <div class="direction">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>

        </div>

        <!-- swiper script -->
        <script>
        	// let next = $('.button1').children().attr('class');
        	// let next = $('.button2').children().attr('class');

 /*            var swiper1 = new Swiper(".roomSwiper", {
                slidesPerView: 1,
                spaceBetween: 50,

                loop: true,

                // Navigation arrows
                navigation: {
                    prevEl: '.btn1',
                    nextEl: '.btn2',
                },

            }); */
            
        </script>

        <div class="">
            <div class="room_exp"><p></p></div>
            <div class="room_price"><h2></h2>원</div>
        </div>

        <div class="room_content">  


            <!-- 3. 객실 정보 -->
            <div class="room_info">
                <fieldset>
                    <ul class="room_header">
                        <li class="type">유형</li>
                        <li class="size">크기</li>
                        <li class="floor">바닥</li>
                        <li class="parking">주차</li>
                    </ul>
                    <ul>
                        <li class="type" id="roomForm"></li>
                        <li class="size" id="size"></li>
                        <li class="floor" id="floor"></li>
                        <li class="parking" id="parking"></li>
                    </ul>
                </fieldset>
            </div>





            <!-- 4. 객실 소개 -->
            <div class="room_intro">
                <fieldset>
                    <legend><h5>객실 소개</h5></legend>
                    <p class="roomInfo_txt"></p>
                </fieldset>
            </div>





            <!-- 5. 운영 정책 -->
            <div class="accomd_policy">
                <fieldset>
                    <legend><h5>취소 환불규정</h5></legend>
                    <div class="refund_div">
                        <ul class="refund_header">
                            <li class="refund_date">취소 기준일</li>
                            <li class="refund_fees">취소 수수료</li>
                            <li class="refund_price">환불액</li>
                        </ul>
                        <ul>
                            <li class="refund_date">이용일 당일</li>
                            <li class="refund_fees">100%</li>
                            <li class="refund_price">환불 없음</li>
                        </ul>
                        <ul>
                            <li class="refund_date">이용일 10일 전</li>
                            <li class="refund_fees">50%</li>
                            <li class="refund_price">50% 환불</li>
                        </ul>
                    </div>
                </fieldset>
            </div>


        </div>
    </div>
</div>
</body>
</html>