.content{
    width: 1900px;
    margin: auto;
    /* display: flex; */
    float: left;
}

.changinfo{
    width: 900px;
    /*margin: auto;*/
}

.changinfo_header{
	margin-left: 51%;
	margin-top: -90px;
}

.changinfo_h1{
    border-bottom: 3px solid lightgray;
    margin-top: 30px;
    margin-left: 15%;
    width: 615px;
}

.changinfo_content{
	margin-left: 7%
}

.changinfo_content_div{
    width: 600px;
    height: 500px;
    margin-top: 30px;
    margin-left: 30%;
}

.changinfo_content_header{
    padding : 10px;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 3px solid lightgray;
    text-align: center;
}

.changinfo_content_star{
    color: red;
}

.changinfo_privacy{
    font-weight: bold;
    margin-left: 120px;
}

.changeinfo_changebutton{
    font-size: 15px;
    margin-left: 110px;
    background: black;
    color: white;
    font-weight: bold;
    width: 7rem;
    height: 35px;
    border-radius: 10px;
}

.changeinfo_outbutton{
    margin-left: 80px;
    background : black;
    color: white;
    font-weight: bold;
    width: 6rem;
    height: 2.3rem;
}

.changinfo_pwdbutton{
    font-size: 15px;
    margin-left: 44px;
    background: black;
    color: white;
    font-weight: bold;
    width: 7rem;
    height: 35px;
    border-radius: 10px;
}

.changinfo_check{
    font-size: 0.7rem;
    margin-left: 10px;
    background : black;
    color: white;
    font-weight: bold;
    width: 5rem;
}

.changinfo_id_form{
    margin-left : 47px;
}

.changinfo_name_form{
    margin-left: 63px;
}

.changinfo_pwd_form{
    margin-left : 31px;
}

.changinfo_email_form{
    margin-left : 47px;
}

.changinfo_phone_form{
    margin-left: 31px;
}

.changinfo_nickname_form{
    margin-left : 47px;
}

/* changinfomodify */

.changinfo_id_form2{
    margin-left : 65px;
    font-size: 15px;    
    font-weight: bold;
    height: 35px;
    
}

.changinfo_name_form2{
    margin-left: 81px;
    font-size: 15px;    
    font-weight: bold;
    height: 35px;
    
}

.changinfo_pwd_form2{
    margin-left : 31px;
    font-size: 15px;    
    font-weight: bold;
    height: 35px;
    
}

.changinfo_email_form2{
    margin-left : 47px;
    font-size: 15px;    
    border-radius: 10px;
    height: 35px;
    padding-left: 10px;
    border : 1px solid;
}

.changinfo_phone_form2{
    margin-left: 31px;
    font-size: 15px;    
    border-radius: 10px;
    height: 35px;
    padding-left: 10px;
    border : 1px solid;
}

.changinfo_nickname_form2{
    margin-left : 65px;
    font-size: 15px;    
    border-radius: 10px;
    height: 35px;
    padding-left: 10px;
    border : 1px solid;
}

.id_ok{
	color: blue;
	display: none;
}

.id_already{
	color: red;
	display: none;
}

/* 푸터 */
.footer {
  width: 100%;
  height: 130px;
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
}