.content{
    width: 1100px;
    margin: auto;
}

.chnginfo{
    width:1100px;
}

.changinfo_h1{
    border-bottom: 3px solid gray;
    margin-top: 30px;
}

.changinfo_content_div{
    width: 600px;
    height: 400px;
    margin-top: 50px;
    margin-left: 25%;
    background: lightgray;
}

.changinfo_content_header{
    padding : 10px;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 3px solid gray;
    text-align: center;
}

.changinfo_content_star{
    color: red;
}

.changinfo_privacy{
    font-weight: bold;
    margin-left: 120px;
}

.changeinfo_changebutton{
    margin-left: 50px;
    background : black;
    color: white;
    font-weight: bold;
    width: 6rem;
    height: 2.3rem;
}

.changeinfo_outbutton{
    margin-left: 80px;
    background : black;
    color: white;
    font-weight: bold;
    width: 6rem;
    height: 2.3rem;
}

.changinfo_pwdbutton{
    font-size : 0.7rem;
    margin-left: 10px;
    background : black;
    color: white;
    font-weight: bold;
    width: 7rem;
}

.changinfo_check{
    font-size: 0.7rem;
    margin-left: 10px;
    background : black;
    color: white;
    font-weight: bold;
    width: 5rem;
}

.changinfo_id_form{
    margin-left : 47px;
}

.changinfo_name_form{
    margin-left: 63px;
}

.changinfo_pwd_form{
    margin-left : 31px;
}

.changinfo_email_form{
    margin-left : 47px;
}

.changinfo_phone_form{
    margin-left: 31px;
}

.changinfo_nickname_form{
    margin-left : 47px;
}

/* changinfomodify */

.changinfo_id_form2{
    margin-left : 65px;
}

.changinfo_name_form2{
    margin-left: 81px;
}

.changinfo_pwd_form2{
    margin-left : 31px;
}

.changinfo_email_form2{
    margin-left : 47px;
}

.changinfo_phone_form2{
    margin-left: 31px;
}

.changinfo_nickname_form2{
    margin-left : 65px;
}