/* memberout */
.content{
    width: 1900px;
    margin: auto;
    /* display: flex; */
    float: left;
}

.changinfo{
    width: 900px;
    margin: auto;
    display: grid;
}

.changinfo_header{
	margin-left : 3%;
	margin-top: -80px;
}

.changinfo_h1{
    border-bottom: 3px solid lightgray;
    margin-top: 20px;
    margin-left: 15%;
    width: 610px;
}

.changinfo_content_div{
    width: 600px;
    height: 250px;
    margin-top: 30px;
    margin-left: 35%;    
}

.changinfo_content_header{
    padding : 10px;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 3px solid lightgray;
    text-align: center;
    color: red;
    margin-top: -30px;
}

.changinfo_privacy{
    font-weight: bold;
    margin-left: 120px;
}


.changinfoPwdModify_pwdbutton{
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 100px;
    background: black;
    color: white;
    font-weight: bold;
    width: 10rem;
    height: 2.5rem;
    border-radius: 10px;
}

.changinfoPwdModify_pwdbutton:hover{
	transform: scale(1.1);
}

.check_id_form{
    margin-left: 55px;
    width: 13rem;
    height: 2.5rem;
    border-radius: 10px;
    border : 1px solid;
    padding-left : 10px;
}

.check_pwd_form{
    margin-left: 13px;
    width: 13rem;
    height: 2.5rem;
    border-radius: 10px;
    border : 1px solid;
    padding-left : 10px;
}

/* 푸터 */
.footer {
  width: 100%;
  height: 130px;
  background-color: #F2F2F2;
  padding-top: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
}