@charset "UTF-8";

.reserve-content{
    width: 100%;
    min-height: 600px;
    margin: auto;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

.reserve-wrap{
    width: 1000px;
    margin: auto;
}

.guest-reserve h2{
    border-bottom: 2px solid lightgray;
    text-align: left;
	padding: 10px 30px;
}

.mypage_guest_reserve_table{
    padding : 20px;
}

.mgr-theader{
    background-color: #eeeeee;
    height : 40px;
}
.mypage_guest_reserve_table_header_status{
    width: 120px;
}

.mypage_guest_reserve_table_body{
    border-bottom: 1px solid #eeeeee;
    border-left:1px solid lightgray;
    padding-left:20px;
    padding-right:20px;
}
.mypage_guest_reserve_table_body h5{
	margin: 10px auto;
}

.mypage_guest_reserve_table_img{
    width : 100px;
    height : 100px;
}

.mgr-theader-no{
	width: 80px;
}
.camp_name{
    width: 200px;
}
.camp_address{
    width: 300px;
}
.check-in-out{
	width: 200px;
}
.reserve-status{
	width: 150px;
}
.camp_phone{
    font-size : 0.8rem;
    color : gray;
}

.camp_date{
    font-size : 1.1rem;
    color: gray;
}

.camp_room{
    font-size : 0.7rem;
    color : gray;
}

.mypage_guest_reserve_table_body2{
    border-bottom: 1px solid lightgray;
    border-left:1px solid lightgray;
    border-right:1px solid lightgray;
}

.mypage_guest_reserve_button{
	padding: 5px 10px;
    background : black;
    color : white;
    border: 1px solid black;
    border-radius: 7px;
}
.mypage_guest_reserve_button:hover{
	cursor: pointer;
}

/* noResult */
.noResult-div {
	margin: 30px auto;
}

/* 페이징 */
.guestReserve_pages {
    margin: 10px;
    margin-left: 0%;
}
.guestReserve_paging {
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    width: 480px;
    margin: auto;
    align-items: center;
}
.guestReserve_paging a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
}
.guestReserve_paging li{
    width: 45px;
}
.guestReserve_paging .current_page {
    background-color: black;
    border-radius: 100%;
    margin: auto;
    width: 28px;
    height: 28px;
    font-weight: bold;
}
.guestReserve_paging .current_page a{
    color: white;
}