<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.campers.mypage.model.dao.MypageMapper">
		
	<resultMap type="com.cp.campers.member.model.vo.Member" id="memberResultMap">
		<id property="userNo" column="USER_NO"/>
		<result property="id" column="USER_ID"/>
		<result property="pwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="nickName" column="NICKNAME"/>
		<result property="profilePath" column="PROFILE_PATH"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="USER_PHONE"/>
		<result property="status" column="STATUS"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<collection property="memberRoleList" resultMap="memberRoleResultMap"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.member.model.vo.MemberRole" id="memberRoleResultMap">
		<id property="memberNo" column="USER_NO"/>
		<id property="authorityCode" column="AUTHORITY_CODE"/>
		<association property="authority" resultMap="authorityResultMap"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.member.model.vo.Authority" id="authorityResultMap">      <!-- 위의 association(1대 1)에서의 resultMap이랑 여기서 id랑 일치시키기 -->
	    <id property="authorityCode" column="AUTHORITY_CODE"/>
	    <result property="authorityName" column="AUTHORITY_NAME"/>
	    <result property="authorityDesc" column="AUTHORITY_DESC"/>
	</resultMap>
		
	<resultMap type="com.cp.campers.mypage.model.vo.Camp" id="CampResultMap">
		<id property="campNo" column="CAMP_NO"/>
		<result property="campName" column="CAMP_NAME"/>
		<result property="userNo" column="USER_NO"/>
		<result property="campAddress" column="CAMP_ADDRESS"/>
		<result property="campPhone" column="CAMP_PHONE"/>
		<result property="campIntro" column="CAMP_INTRO"/>
		<result property="campPath" column="CAMP_PATH"/>
		<result property="campPolicy" column="CAMP_POLICY"/>
		<result property="campStatus" column="CAMP_STATUS"/>
		<result property="accountNum" column="ACCOUNT_NUM"/>
		<result property="bank" column="BANK"/>
		<result property="checkin" column="CHECKIN"/>
		<result property="checkout" column="CHECKOUT"/>
		<result property="refusal" column="REFUSAL"/>
		<collection property="CampBusinessType" resultMap="CampBusinessTypeResultMap"/>
		<collection property="BusinessType" resultMap="BusinessTypeResultMap"/>
		<collection property="CampFacility" resultMap="CampFacilityResultMap"/>
		<collection property="Facility" resultMap="FacilityResultMap"/>
		<collection property="imgFileList" resultMap="imageFileResultMap"/>
		<collection property="CampFile" resultMap="CampFileResultMap"/>
		<collection property="RoomFile" resultMap="RoomFileResultMap"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.BusinessType" id="BusinessTypeResultMap">
		<id property="businessNo" column="BUSINESS_NO"/>
		<result property="businessType" column="BUSINESS_TYPE"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.CampBusinessType" id="CampBusinessTypeResultMap">
		<id property="campNo" column="CAMP_NO"/>
		<id property="businessNo" column="BUSINESS_NO"/>
		<association property="businessType" resultMap="BusinessTypeResultMap"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.CampFacility" id="CampFacilityResultMap">
		<id property="campNo" column="CAMP_NO"/>
		<id property="facilityNo" column="FACILITY_NO"/>
		<association property="facility" resultMap="FacilityResultMap"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.Facility" id="FacilityResultMap">
		<id property="facilityNo" column="FACILITY_NO"/>
		<result property="facilityName" column="FACILITY_NAME"/>
		<result property="facilityType" column="FACILITY_TYPE"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.CampFile" id="CampFileResultMap">
		<id property="campNo" column="CAMP_NO"/>
		<result property="fileNo" column="FILE_NO"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.Room" id="RoomResultMap">
		<id property="roomNO" column="ROOM_NO"/>
		<result property="roomName" column="ROOM_NAME"/>
		<result property="roomMember" column="ROOM_MEMBER"/>
		<result property="roomPrice" column="ROOM_PRICE"/>
		<result property="roomSize" column="ROOM_SIZE"/>
		<result property="roomFloor" column="ROOM_FLOOR"/>
		<result property="roomParking" column="ROOM_PARKING"/>
		<result property="roomInfo" column="ROOM_INFO"/>
		<result property="roomAmount" column="ROOM_AMOUNT"/>
		<result property="roomForm" column="ROOM_FORM"/>
		<result property="roomCount" column="ROOM_COUNT"/>
		<result property="campNo" column="CAMP_NO "/>		
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.RoomFile" id="RoomFileResultMap">
		<id property="roomNo" column="ROOM_NO"/>
		<result property="fileNo" column="FILE_NO"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.WishCamp" id="WishCampResultMap">
		<id property="userNo" column="USER_NO"/>
		<result property="campNo" column="CAMP_NO"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.camp.model.vo.ImageFile" id="imageFileResultMap">
		<id property="fileNo" column="FILE_NO"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileRoute" column="FILE_ROUTE"/>
		<result property="fileStatus" column="FILE_STATUS"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
	</resultMap>
	     
    <resultMap type="com.cp.campers.board.model.vo.Board" id="boardResultMap">
	<id property="bid" column="BID"/>
	<result property="title" column="BTITLE"/>
	<result property="content" column="BCONTENT"/>
	<result property="createDate" column="CREATE_DATE"/>
	<result property="modifyDate" column="MODIFY_DATE"/>
	<result property="status" column="STATUS"/>
	<result property="writer" column="WRITER"/>
	<result property="bcount" column="BCOUNT"/>
	<result property="blike" column="BLIKE"/>
	<result property="nickName" column="NICKNAME"/>
	<result property="fileLevel" column="FILE_LEVEL"/>
	<result property="fileRoute" column="FILE_ROUTE"/>
	<result property="fileName" column="FILE_NAME"/>
	<result property="prevId" column="PREVID"/>
	<result property="prevTitle" column="PREVTITLE"/>
	<result property="nextId" column="NEXTID"/>
	<result property="nextTitle" column="NEXTTITLE"/>
	<collection property="boardFileNoList" resultMap="boardFileNoResultMap"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.board.model.vo.BoardFileNo" id="boardFileNoResultMap">
		<id property="bid" column="BID"/>
		<id property="fileNo" column="FILE_NO"/>
		<association property="attachment" resultMap="attachmentResultMap"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.board.model.vo.Attachment" id="attachmentResultMap">
		<id property="fileNo" column="FILE_NO"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileRoute" column="FILE_ROUTE"/>
		<result property="status" column="FILE_STATUS"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
	</resultMap> 
     
   <select id="selectMember" resultType="com.cp.campers.member.model.vo.Member">
   		SELECT *
   		FROM MEMBER
   </select>  
     
   <select id="getListCount" resultType="_int">
   		SELECT
		      COUNT(A.USER_NO)
		 FROM MEMBER A
		 LEFT JOIN AUTHORITY_ROLE B ON(A.USER_NO = B.USER_NO)
		 LEFT JOIN AUTHORITY C ON(B.AUTHORITY_CODE = C.AUTHORITY_CODE)
   </select>  
     
   <select id="findAllMember" parameterType="com.cp.campers.admin.model.vo.PageInfo" resultMap="memberResultMap">
   	  SELECT 
   	  		 USER_NO
   	  	   , USER_ID
   	  	   , USER_PWD
   	  	   , USER_NAME
   	  	   , NICKNAME
   	  	   , PROFILE_PATH
   	  	   , EMAIL
   	  	   , USER_PHONE
   	  	   , STATUS
   	  	   , CREATE_DATE
   	  	   , MODIFY_DATE
      FROM MEMBER;
     WHERE STATUS = 'Y'
   </select>
     
   <insert id="insertCamp" parameterType="com.cp.campers.mypage.model.vo.Camp">
   	INSERT 
   		INTO CAMP
		(
			CAMP_NO
			, CAMP_NAME
			, USER_NO
			, CAMP_ADDRESS
			, CAMP_PHONE
			, CAMP_INTRO
			, CAMP_PATH
			, CAMP_POLICY
			, CAMP_STATUS
			, ACCOUNT_NUM
			, BANK
			, CHECKIN
			, CHECKOUT
		)
		VALUES
		(
			SEQ_CAMP_NO.NEXTVAL
			, #{ campName }
			, #{ userNo }
			, #{ campAddress }
			, #{ campPhone }
			, #{ campIntro }
			, #{ campPath }
			, #{ campPolicy }
			, DEFAULT
			, #{ accountNum }
			, #{ bank }
			, #{ checkin }
			, #{ checkout }
		)
   </insert>
   
   <insert id="insertCampBusinessType">
   	INSERT
   	INTO CAMP_BUSINESS_TYPE
   	(
   		  CAMP_NO
   		, BUSINESS_NO
   		
   	)
   	VALUES
   	(
   		SEQ_CAMP_NO.CURRVAL
   		, #{ businessNo }
   	)
   </insert>
   
   <insert id="insertCampFacility">
   	INSERT
   	INTO CAMP_FACILITY
   	(
   		  CAMP_NO
   		, FACILITY_NO
   		
   	)
   	VALUES
   	(
   		SEQ_CAMP_NO.CURRVAL
   		, #{ facilityNo }
   	)
   </insert>
   
   <!-- 캠핑장 사진 -->
   <insert id="insertCampFile">
   INSERT
   	INTO CAMP_FILE
   	(
   		  CAMP_NO
   		, FILE_NO
   		
   	)
   	VALUES
   	(
   		SEQ_CAMP_NO.CURRVAL
   		, #{ fileNo, jdbcType=VARCHAR }
   	)
   </insert>
   
   <!-- 숙소 사진 -->
   <insert id="insertRoomFile">
   	INSERT
   	INTO ROOM_FILE
   	(
   		  CAMP_NO
   		, FILE_NO
   		
   	)
   	VALUES
   	(
   		SEQ_CAMP_NO.CURRVAL
   		, #{ fileNo, jdbcType=VARCHAR }
   	)
   </insert>
   
   <insert id="insertRoom" parameterType="com.cp.campers.mypage.model.vo.Room">
   	INSERT
   	INTO ROOM
   	(
   		  ROOM_NO
   		, ROOM_NAME
   		, ROOM_MEMBER
   		, ROOM_PRICE
   		, ROOM_SIZE
   		, ROOM_FLOOR
   		, ROOM_PARKING
   		, ROOM_INFO
   		, ROOM_AMOUNT
   		, ROOM_FORM
   		, ROOM_COUNT
   		, CAMP_NO
   	)
   	VALUES
   	(
   		  SEQ_ROOM_NO.NEXTVAL
   		, #{ roomName, jdbcType=VARCHAR }
   		, #{ roomMember, jdbcType=VARCHAR }
   		, #{ roomPrice, jdbcType=VARCHAR }
   		, #{ roomSize, jdbcType=VARCHAR }
   		, #{ roomFloor, jdbcType=VARCHAR }
   		, #{ roomParking, jdbcType=VARCHAR }
   		, #{ roomInfo, jdbcType=VARCHAR }
   		, #{ roomAmount, jdbcType=VARCHAR }
   		, #{ roomForm, jdbcType=VARCHAR }
   		, #{ roomCount, jdbcType=VARCHAR }
   		, SEQ_CAMP_NO.CURRVAL
   	)
   </insert>
   <!-- , jdbcType=VARCHAR -->
   
   <update id="changeInfoModify" parameterType="com.cp.campers.member.model.vo.Member">
		UPDATE MEMBER
		   SET EMAIL = #{ email }
		     , USER_PHONE = #{ phone }
		     , NICKNAME = #{ nickName }
		WHERE USER_NO = #{ userNo }
	</update>
	
	<update id="changeInfoPwdModify" parameterType="com.cp.campers.member.model.vo.Member">
		UPDATE MEMBER
		   SET USER_PWD = #{ pwd }
		WHERE USER_NO = #{ userNo }
	</update>
      
   <select id="nickNameCheck" parameterType="String" resultType="int">
		SELECT COUNT(NICKNAME)
		FROM MEMBER
		WHERE NICKNAME = #{ nickName }
	</select>
	
	<update id="changeInfoMemberout" parameterType="com.cp.campers.member.model.vo.Member">
		UPDATE MEMBER
		   SET STATUS = 'N'
		 WHERE USER_ID = #{ id }
		   AND USER_PWD = #{ pwd }  
	</update>
 
 	<!-- 
 	<delete id="changeInfoMemberout" parameterType="com.cp.campers.member.model.vo.Member">
   	DELETE
   		FROM MEMBER
   		WHERE USER_PWD = #{ pwd }   
   </delete>
    -->
 
 	<select id="selectBoardList" resultMap="boardResultMap">
	SELECT *
	FROM (SELECT ROWNUM RNUM, A.*
	FROM (SELECT 
	            BID, 
	            BTITLE,
	            BCONTENT,
	            B.MODIFY_DATE,
	            B.CREATE_DATE,
	            NICKNAME,
	            BCOUNT,
	            BLIKE
	      FROM BOARD B
	      JOIN MEMBER M ON (B.WRITER = M.USER_NO)
	      WHERE B.STATUS = 'N'
	ORDER BY bid DESC) A)
	WHERE RNUM BETWEEN #{startRow} AND #{endRow} 
	</select>
 
</mapper>