<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.campers.mypage.model.dao.MypageMapper">
		
	<resultMap type="com.cp.campers.member.model.vo.Member" id="memberResultMap">
		<id property="userNo" column="USER_NO"/>
		<result property="id" column="USER_ID"/>
		<result property="pwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="nickName" column="NICKNAME"/>
		<result property="profilePath" column="PROFILE_PATH"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="USER_PHONE"/>
		<result property="status" column="STATUS"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<collection property="memberRoleList" resultMap="memberRoleResultMap"></collection>
	</resultMap>
 
	<resultMap type="com.cp.campers.member.model.vo.MemberRole" id="memberRoleResultMap">
		<id property="memberNo" column="USER_NO"/>
		<id property="authorityCode" column="AUTHORITY_CODE"/>
		<association property="authority" resultMap="authorityResultMap"/>
	</resultMap>
	
   <resultMap type="com.cp.campers.member.model.vo.Authority" id="authorityResultMap">      <!-- 위의 association(1대 1)에서의 resultMap이랑 여기서 id랑 일치시키기 -->
      <id property="authorityCode" column="AUTHORITY_CODE"/>
      <result property="authorityName" column="AUTHORITY_NAME"/>
      <result property="authorityDesc" column="AUTHORITY_DESC"/>
   </resultMap>
		
	<resultMap type="com.cp.campers.mypage.model.vo.Camp" id="CampResultMap">
		<id property="campNo" column="CAMP_NO"/>
		<result property="campName" column="CAMP_NAME"/>
		<result property="userNo" column="USER_NO"/>
		<result property="campAddress" column="CAMP_ADDRESS"/>
		<result property="campPhone" column="CAMP_PHONE"/>
		<result property="campIntro" column="CAMP_INTRO"/>
		<result property="campPath" column="CAMP_PATH"/>
		<result property="campPolicy" column="CAMP_POLICY"/>
		<result property="campStatus" column="CAMP_STATUS"/>
		<result property="accountNum" column="ACCOUNT_NUM"/>
		<result property="bank" column="BANK"/>
		<result property="checkin" column="CHECKIN"/>
		<result property="checkout" column="CHECKOUT"/>
		<result property="refusal" column="REFUSAL"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
		<result property="fileRoute" column="FILE_ROUTE"/>
		<result property="fileName" column="FILE_NAME"/>
		<collection property="campBusinessTypeList" resultMap="CampBusinessTypeResultMap"/>
		<collection property="campFacilityList" resultMap="CampFacilityResultMap"/>
		<collection property="campFileNoList" resultMap="CampFileNoResultMap"/>
		<collection property="roomFileNoList" resultMap="RoomFileNoResultMap"/>
	</resultMap>
		<!-- 
		<collection property="imgFileList" resultMap="imageFileResultMap"/>
		 -->
	<resultMap type="com.cp.campers.mypage.model.vo.CampFileNo" id="CampFileNoResultMap">
		<id property="campNo" column="CAMP_No"/>
		<id property="fileNo" column="FILE_NO"/>
		<association property="attachment" resultMap="attachmentResultMap"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.RoomFileNo" id="RoomFileNoResultMap">
		<id property="roomNo" column="ROOM_No"/>
		<id property="fileNo" column="FILE_NO"/>
		<association property="attachment" resultMap="attachmentResultMap"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.BusinessType" id="BusinessTypeResultMap">
		<id property="businessNo" column="BUSINESS_NO"/>
		<result property="businessType" column="BUSINESS_TYPE"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.CampBusinessType" id="CampBusinessTypeResultMap">
		<id property="campNo" column="CAMP_NO"/>
		<id property="businessNo" column="BUSINESS_NO"/>
		<association property="businessType" resultMap="BusinessTypeResultMap"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.CampFacility" id="CampFacilityResultMap">
		<id property="campNo" column="CAMP_NO"/>
		<id property="facilityNo" column="FACILITY_NO"/>
		<association property="facility" resultMap="FacilityResultMap"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.Facility" id="FacilityResultMap">
		<id property="facilityNo" column="FACILITY_NO"/>
		<result property="facilityName" column="FACILITY_NAME"/>
		<result property="facilityType" column="FACILITY_TYPE"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.CampFile" id="CampFileResultMap">
		<id property="campNo" column="CAMP_NO"/>
		<result property="fileNo" column="FILE_NO"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.Room" id="RoomResultMap">
		<id property="roomNO" column="ROOM_NO"/>
		<result property="roomName" column="ROOM_NAME"/>
		<result property="roomMember" column="ROOM_MEMBER"/>
		<result property="roomPrice" column="ROOM_PRICE"/>
		<result property="roomSize" column="ROOM_SIZE"/>
		<result property="roomFloor" column="ROOM_FLOOR"/>
		<result property="roomParking" column="ROOM_PARKING"/>
		<result property="roomInfo" column="ROOM_INFO"/>
		<result property="roomAmount" column="ROOM_AMOUNT"/>
		<result property="roomForm" column="ROOM_FORM"/>
		<result property="roomCount" column="ROOM_COUNT"/>
		<result property="campNo" column="CAMP_NO"/>	
		<collection property="roomFileNoList" resultMap="RoomFileNoResultMap"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.RoomFile" id="RoomFileResultMap">
		<id property="roomNo" column="ROOM_NO"/>
		<result property="fileNo" column="FILE_NO"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.WishCamp" id="WishCampResultMap">
		<id property="userNo" column="USER_NO"/>
		<result property="campNo" column="CAMP_NO"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.ImageFile" id="imageFileResultMap">
		<id property="fileNo" column="FILE_NO"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileRoute" column="FILE_ROUTE"/>
		<result property="fileStatus" column="FILE_STATUS"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
	</resultMap>
	     
    <resultMap type="com.cp.campers.board.model.vo.Board" id="boardResultMap">
		<id property="bid" column="BID"/>
		<result property="title" column="BTITLE"/>
		<result property="content" column="BCONTENT"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="writer" column="WRITER"/>
		<result property="bcount" column="BCOUNT"/>
		<result property="blike" column="BLIKE"/>
		<result property="nickName" column="NICKNAME"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
		<result property="fileRoute" column="FILE_ROUTE"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="prevId" column="PREVID"/>
		<result property="prevTitle" column="PREVTITLE"/>
		<result property="nextId" column="NEXTID"/>
		<result property="nextTitle" column="NEXTTITLE"/>
		<collection property="boardFileNoList" resultMap="boardFileNoResultMap"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.board.model.vo.BoardFileNo" id="boardFileNoResultMap">
		<id property="bid" column="BID"/>
		<id property="fileNo" column="FILE_NO"/>
		<association property="attachment" resultMap="attachmentResultMap"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.board.model.vo.Attachment" id="attachmentResultMap">
		<id property="fileNo" column="FILE_NO"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileRoute" column="FILE_ROUTE"/>
		<result property="status" column="FILE_STATUS"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
		<result property="fileOriginName" column="FILE_ORIGIN_NAME"/>
	</resultMap>
	
	<resultMap id="reserPayResultMap" type="com.cp.campers.reservePayment.model.vo.ReserveInfo">
		<id property="reserNo" column="RESER_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="reserName" column="RESER_NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="reserState" column="RESER_STATE"/>
		<result property="request" column="REQUEST"/>
		<result property="checkIn" column="CHECKIN"/>
		<result property="checkOut" column="CHECKOUT"/>
		<result property="accountNum" column="ACCOUNT_NUM"/>
		<result property="accountHol" column="ACCOUNT_HOL"/>
		<result property="bank" column="BANK"/>
		<result property="roomQua" column="ROOM_QUA"/>
		<result property="roomNo" column="ROOM_NO"/>
	</resultMap>
	
	<!-- 
	내 숙소리스트를 보기위한 test로
	CampBusinessTypeList로 바꿔줘도 에러만 변경됨.
	There is no getter for property named 'CampBusinessTypeList' in 'class com.cp.campers.mypage.model.vo.Camp
	<resultMap type="com.cp.campers.mypage.model.vo.Camp" id="CampResultMap2">
		<id property="campNo" column="CAMP_NO"/>
		<result property="campName" column="CAMP_NAME"/>
		<result property="userNo" column="USER_NO"/>
		<result property="campAddress" column="CAMP_ADDRESS"/>
		<result property="campPhone" column="CAMP_PHONE"/>
		<result property="campIntro" column="CAMP_INTRO"/>
		<result property="campPath" column="CAMP_PATH"/>
		<result property="campPolicy" column="CAMP_POLICY"/>
		<result property="campStatus" column="CAMP_STATUS"/>
		<result property="accountNum" column="ACCOUNT_NUM"/>
		<result property="bank" column="BANK"/>
		<result property="checkin" column="CHECKIN"/>
		<result property="checkout" column="CHECKOUT"/>
		<result property="refusal" column="REFUSAL"/>
		<collection property="CampBusinessTypeList" resultMap="CampBusinessTypeResultMap"/>
		<collection property="BusinessType" resultMap="BusinessTypeResultMap"/>
		<collection property="CampFacility" resultMap="CampFacilityResultMap"/>
		<collection property="Facility" resultMap="FacilityResultMap"/>
		<collection property="imgFileList" resultMap="imageFileResultMap"/>
		<collection property="CampFileNoList" resultMap="CampFileNoResultMap"/>
		<collection property="RoomFileNoList" resultMap="RoomFileNoResultMap"/>    
	</resultMap>
	-->    
	    
   <select id="findMemberById" resultMap="memberResultMap">
   	SELECT
		    A.USER_NO,
		    A.USER_ID, 
		    A.USER_PWD, 
		    A.USER_NAME, 
		    A.NICKNAME, 
		    A.PROFILE_PATH, 
		    A.EMAIL, 
		    A.USER_PHONE, 
		    A.STATUS, 
		    A.CREATE_DATE, 
		    A.MODIFY_DATE,
		    B.USER_NO REF_MEMBER_NO,
		    B.AUTHORITY_CODE REF_AUTHORITY_CODE, 
		    C.AUTHORITY_CODE REF_AUTHORITY_CODE2, 
		    C.AUTHORITY_NAME, 
		    C.AUTHORITY_DESC
	    FROM MEMBER A
	    LEFT JOIN AUTHORITY_ROLE B ON(A.USER_NO = B.USER_NO)
	    LEFT JOIN AUTHORITY C ON(B.AUTHORITY_CODE = C.AUTHORITY_CODE)
    WHERE A.USER_ID = #{ userId }
    AND STATUS = 'Y'
   </select>
          
   <select id="selectMember" resultType="com.cp.campers.member.model.vo.Member">
   		SELECT *
   		FROM MEMBER
   </select>  
     
   <select id="getListCount" resultType="_int">
   		SELECT
		      COUNT(A.USER_NO)
		 FROM MEMBER A
		 LEFT JOIN AUTHORITY_ROLE B ON(A.USER_NO = B.USER_NO)
		 LEFT JOIN AUTHORITY C ON(B.AUTHORITY_CODE = C.AUTHORITY_CODE)
   </select>  
   <!-- resultType="com.cp.campers.member.model.vo.Member" -->         
   <select id="findAllMember" resultMap="memberResultMap">
   	  SELECT *
      FROM (SELECT ROWNUM RNUM, A.*
      FROM (select 
   	  		 USER_NO
   	  	   , USER_ID
   	  	   , USER_PWD
   	  	   , USER_NAME
   	  	   , NICKNAME
   	  	   , PROFILE_PATH
   	  	   , EMAIL
   	  	   , USER_PHONE
   	  	   , STATUS
   	  	   , CREATE_DATE
   	  	   , MODIFY_DATE
      FROM MEMBER
      WHERE STATUS = 'Y'
        AND USER_NO = #{ userNo }
   ORDER BY USER_NO DESC) A)
   </select>
          
   <select id="findAllBoard" resultMap="boardResultMap">
   	SELECT *
   	FROM (SELECT ROWNUM RNUM, A.*
   	FROM (SELECT
   		   B.BID
   		 , B.BTITLE
   		 , B.BCONTENT
   		 , B.MODIFY_DATE
   		 , B.CREATE_DATE
   		 , B.STATUS
   		 , B.WRITER
   		 , B.BCOUNT
   		 , B.BLIKE
   		 , NEXTID
   		 , NEXTTITLE
   		 , RREVID
   		 , PREVTITLE
   	 FROM BOARD B
   	 JOIN MEMBER M ON (B.WRITER = M.USER_NO)
   	 WHERE STATUS = 'N'
   	   AND WRITER = #{ writer }
   	 ORDER BY BID DESC) A)
   </select>
     
   <insert id="insertCamp" parameterType="com.cp.campers.mypage.model.vo.Camp">
   	INSERT 
   		INTO CAMP
		(
			CAMP_NO
			, CAMP_NAME
			, USER_NO
			, CAMP_ADDRESS
			, CAMP_PHONE
			, CAMP_INTRO
			, CAMP_PATH
			, CAMP_POLICY
			, CAMP_STATUS
			, ACCOUNT_NUM
			, BANK
			, CHECKIN
			, CHECKOUT
		)
		VALUES
		(
			SEQ_CAMP_NO.NEXTVAL
			, #{ campName }
			, #{ userNo }
			, #{ campAddress }
			, #{ campPhone }
			, #{ campIntro }
			, #{ campPath }
			, #{ campPolicy }
			, DEFAULT
			, #{ accountNum }
			, #{ bank }
			, #{ checkin }
			, #{ checkout }
		)
   </insert>
   
   <!-- 캠핑장 사진 -->
   <insert id="insertCampFile">
   INSERT
   	INTO CAMP_FILE
   	(
   		  CAMP_NO
   		, FILE_NO
   		
   	)
   	VALUES
   	(
   		SEQ_CAMP_NO.CURRVAL
   		, #{ fileNo, jdbcType=VARCHAR }
   	)
   </insert>
   
   <!-- 숙소 사진 -->
   <insert id="insertRoomFile">
   	INSERT
   	INTO ROOM_FILE
   	(
   		  CAMP_NO
   		, FILE_NO
   		
   	)
   	VALUES
   	(
   		SEQ_CAMP_NO.CURRVAL
   		, #{ fileNo, jdbcType=VARCHAR }
   	)
   </insert>
   
   <!-- 캠핑장 등록할때 숙소 등록 -->
   <insert id="insertRoom" parameterType="com.cp.campers.mypage.model.vo.Room">
   	INSERT
   	INTO ROOM
   	(
   		  ROOM_NO
   		, ROOM_NAME
   		, ROOM_MEMBER
   		, ROOM_PRICE
   		, ROOM_SIZE
   		, ROOM_FLOOR
   		, ROOM_PARKING
   		, ROOM_INFO
   		, ROOM_AMOUNT
   		, ROOM_FORM
   		, ROOM_COUNT
   		, CAMP_NO
   	)
   	VALUES
   	(
   		  SEQ_ROOM_NO.NEXTVAL
   		, #{ roomName, jdbcType=VARCHAR }
   		, #{ roomMember, jdbcType=VARCHAR }
   		, #{ roomPrice, jdbcType=VARCHAR }
   		, #{ roomSize, jdbcType=VARCHAR }
   		, #{ roomFloor, jdbcType=VARCHAR }
   		, #{ roomParking, jdbcType=VARCHAR }
   		, #{ roomInfo, jdbcType=VARCHAR }
   		, #{ roomAmount, jdbcType=VARCHAR }
   		, #{ roomForm, jdbcType=VARCHAR }
   		, #{ roomAmount, jdbcType=VARCHAR }
   		, SEQ_CAMP_NO.CURRVAL
   	)
   </insert>
   
   <!-- 캠핑장 관리에서의 숙소등록 -->
   <insert id="insertRoom2" parameterType="com.cp.campers.mypage.model.vo.Room">
   	INSERT
   	INTO ROOM
   	(
   		  ROOM_NO
   		, ROOM_NAME
   		, ROOM_MEMBER
   		, ROOM_PRICE
   		, ROOM_SIZE
   		, ROOM_FLOOR
   		, ROOM_PARKING
   		, ROOM_INFO
   		, ROOM_AMOUNT
   		, ROOM_FORM
   		, ROOM_COUNT
   		, CAMP_NO
   	)
   	VALUES
   	(
   		  SEQ_ROOM_NO.NEXTVAL
   		, #{ roomName, jdbcType=VARCHAR }
   		, #{ roomMember, jdbcType=VARCHAR }
   		, #{ roomPrice, jdbcType=VARCHAR }
   		, #{ roomSize, jdbcType=VARCHAR }
   		, #{ roomFloor, jdbcType=VARCHAR }
   		, #{ roomParking, jdbcType=VARCHAR }
   		, #{ roomInfo, jdbcType=VARCHAR }
   		, #{ roomAmount, jdbcType=VARCHAR }
   		, #{ roomForm, jdbcType=VARCHAR }
   		, #{ roomCount, jdbcType=VARCHAR }
   		, #{ campNo }
   	)
   </insert>
      
   <!-- 회원 정보 수정 -->   
   <update id="changeInfoModify" parameterType="com.cp.campers.member.model.vo.Member">
		UPDATE MEMBER
		   SET EMAIL = #{ email }
		     , USER_PHONE = #{ phone }
		     , NICKNAME = #{ nickName }
		WHERE USER_NO = #{ userNo }
	</update>
	
	<!-- 비밀번호 변경 미구현 -->
	<update id="changeInfoPwdModify" parameterType="com.cp.campers.member.model.vo.Member">
		UPDATE MEMBER
		   SET USER_PWD = #{ pwd }		     
		 WHERE USER_NO = #{ userNo }
		   AND USER_PWD = #{ pwd }
	</update>
   
	<!-- 비밀번호 체크 미구현 -->
	<select id="pwdCheck" parameterType="com.cp.campers.member.model.vo.Member" resultType="String">
		SELECT 
			   USER_PWD
		  FROM MEMBER
		 WHERE USER_ID = #{ id }
	</select>
	
	<!-- 비밀번호 업데이트 미구현 -->
	<!-- parameterType="com.cp.campers.member.model.vo.Member" -->
	<update id="pwdUpdate" parameterType="map">
		UPDATE MEMBER
		   SET USER_PWD = #{ pwd }
		 WHERE USER_ID = #{ id }
		   AND USER_PWD = #{ pwd }
	</update>	
	
   <!-- 닉네임 체크 -->   
   <select id="nickNameCheck" parameterType="String" resultType="int">
		SELECT COUNT(NICKNAME)
		FROM MEMBER
		WHERE NICKNAME = #{ nickName }
	</select>
	
	<!-- 회원탈퇴 미구현 -->
	<update id="changeInfoMemberout" parameterType="com.cp.campers.member.model.vo.Member">
		UPDATE MEMBER
		   SET STATUS = 'X'
		 WHERE USER_ID = #{ id }
		   AND USER_PWD = #{ pwd }  
	</update>
  
 	<!-- 
 	<delete id="changeInfoMemberout" parameterType="com.cp.campers.member.model.vo.Member">
   	DELETE
   		FROM MEMBER
   		WHERE USER_PWD = #{ pwd }   
   </delete>
    -->
 
 	<!-- parameterType="hashmap"   -->
 
 	<select id="selectMyBoardList" resultMap="boardResultMap">
	SELECT *
	FROM (SELECT ROWNUM RNUM, A.*
	FROM (select 
	            bid, 
	            btitle, 
	            bcontent, 
	            b.modify_date, 
	            b.create_date,
	            nickName,
	            bcount,
	            blike
	      from board b
	      join member m on (b.writer = m.user_no)
	      where b.status = 'N'
	      and writer = #{ writer }
	      ORDER BY bid DESC) A)
	where RNUM between #{pi.startRow} and #{pi.endRow}
	</select>
 
 	<insert id="insertCampImage" parameterType="com.cp.campers.mypage.model.vo.Attachment">
		INSERT
		INTO IMAGEFILE
		VALUES
		(
				SEQ_FILE_NO.NEXTVAL,
				#{fileName},
				#{fileRoute},
				DEFAULT,
				#{fileLevel},
				#{fileOriginName}
		)
	</insert>
	
 	<insert id="insertImageNo" parameterType="_int">
		INSERT
		INTO CAMP_FILE
		VALUES
		(SEQ_CAMP_NO.CURRVAL, SEQ_FILE_NO.CURRVAL)
	</insert>
	
	<insert id="insertRoomImage" parameterType="com.cp.campers.mypage.model.vo.Attachment">
		INSERT
		INTO IMAGEFILE
		VALUES
		(
				SEQ_FILE_NO.NEXTVAL,
				#{fileName},
				#{fileRoute},
				DEFAULT,
				#{fileLevel},
				#{fileOriginName}
		)
	</insert>
	
	<insert id="insertImageNo2" parameterType="_int">
		INSERT
		INTO ROOM_FILE
		VALUES
		(SEQ_ROOM_NO.CURRVAL, SEQ_FILE_NO.CURRVAL)
	</insert>
 	
 	<select id="selectCampNo" resultType="int">
 		SELECT SEQ_CAMP_NO.CURRVAL, FROM DUAL
 	</select>
 	
 	<select id="getListCountMyMember" resultType="int">
 		select count(*)
 		from member
 		where user_no = #{userNo}
 		  and status = 'Y'
 	</select>
 	 
 	 <select id="getListCountMyHostReserveList" resultType="int">
 	 	SELECT COUNT(*)
 	 	FROM CAMP
 	 	WHERE USER_NO = #{userNo}
 	 	AND CAMP_STATUS = 'Y'
 	 </select>
 	 
 	 <select id="getListCountMyBoard" resultType="int">
		select count(*)
		from board
		where writer = #{writer}
		and status ='N'
	</select>
 	
 	<select id="selectThumbnailList" resultMap="boardResultMap">
		select
	        bid,
	        file_level,
	        file_route,
	        file_name
	    from board
	    join board_file using(bid)
	    join imagefile using(file_no)
	  where file_level = 0
	  and file_status = 'N'
	  order by bid desc
	</select> 
 	 	
	<select id="selectCampImageList" resultMap="CampResultMap">
		select
		        camp_no,
		        file_level,
		        file_route,
		        file_name
		    from camp
		    join camp_file using(camp_no)
		    join imagefile using(file_no)
		  where file_level = 0
		  and file_status = 'Y' <!-- N으로 하면 오류  -->
		  order by camp_no desc
	</select>
	
	
	 <select id="selectThumbnailList2" resultMap="CampResultMap">
	select
		        camp_no,
		        file_level,
		        file_route,
		        file_name
		    from camp
		    join camp_file using(camp_no)
		    join imagefile using(file_no)
		  where file_level = 0
		  and file_status = 'Y' <!-- N으로 하면 오류 -->
		  order by camp_no desc
	</select>
	
	<select id="selectMyCampList" resultMap="CampResultMap">
 	 	SELECT *
 	 	FROM (SELECT ROWNUM RNUM, A.*
 	 	FROM (SELECT
 	 			    C.CAMP_NO
 	 			  , C.CAMP_NAME
 	 			  , C.USER_NO
 	 			  , C.CAMP_ADDRESS
 	 			  , C.CAMP_PHONE
 	 			  , C.CAMP_INTRO
 	 			  , C.CAMP_PATH
 	 			  , C.CAMP_POLICY
 	 			  , C.CAMP_STATUS
 	 			  , C.ACCOUNT_NUM
 	 			  , C.BANK
 	 			  , C.CHECKIN
 	 			  , C.CHECKOUT
 	 			  , C.REFUSAL
 	 	       FROM CAMP C
 	 	       JOIN MEMBER M ON (C.USER_NO = M.USER_NO)
 	 	      WHERE C.CAMP_STATUS = 'Y'
 	 	        AND C.USER_NO = #{ userNo }
 	 	      ORDER BY USER_NO DESC) A) 	 
 	 </select>
	
 	<select id="selectMyHostReserveList" resultMap="CampResultMap">
 	 	SELECT *
 	 	FROM (SELECT ROWNUM RNUM, A.*
 	 	FROM (SELECT
 	 			    C.CAMP_NO
 	 			  , C.CAMP_NAME
 	 			  , C.USER_NO
 	 			  , C.CAMP_ADDRESS
 	 			  , C.CAMP_PHONE
 	 			  , C.CAMP_INTRO
 	 			  , C.CAMP_PATH
 	 			  , C.CAMP_POLICY
 	 			  , C.CAMP_STATUS
 	 			  , C.ACCOUNT_NUM
 	 			  , C.BANK
 	 			  , C.CHECKIN
 	 			  , C.CHECKOUT
 	 			  , C.REFUSAL
 	 	       FROM CAMP C
 	 	       JOIN MEMBER M ON (C.USER_NO = M.USER_NO)
 	 	      WHERE C.CAMP_STATUS = 'Y'
 	 	        AND C.USER_NO = #{ userNo }
 	 	      ORDER BY USER_NO DESC) A) 	 
 	 </select>
 	 
 	 <select id="selectMyGuestReserveList" resultMap="CampResultMap">
 	 	SELECT *
 	 	FROM (SELECT ROWNUM RNUM, A.*
 	 	FROM (SELECT
 	 			    C.CAMP_NO
 	 			  , C.CAMP_NAME
 	 			  , C.USER_NO
 	 			  , C.CAMP_ADDRESS
 	 			  , C.CAMP_PHONE
 	 			  , C.CAMP_INTRO
 	 			  , C.CAMP_PATH
 	 			  , C.CAMP_POLICY
 	 			  , C.CAMP_STATUS
 	 			  , C.ACCOUNT_NUM
 	 			  , C.BANK
 	 			  , C.CHECKIN
 	 			  , C.CHECKOUT
 	 			  , C.REFUSAL
 	 	       FROM CAMP C
 	 	       JOIN MEMBER M ON (C.USER_NO = M.USER_NO)
 	 	      WHERE C.CAMP_STATUS = 'Y'
 	 	        AND C.USER_NO = #{ userNo }
 	 	      ORDER BY USER_NO DESC) A) 	 
 	 </select>
 	 
 	 <!-- <select id="selectReserveList" resultMap="reserPayResultMap">
 	 	SELECT *
	 	 	FROM (SELECT ROWNUM RNUM, A.*
	 	 	FROM (SELECT
	 	 			    R.RESER_NO
	 	 			  , R.USER_NO
	 	 			  , R.RESER_NAME
	 	 			  , R.PHONE
	 	 			  , R.RESER_STATE
	 	 			  , R.REQUEST
	 	 			  , R.CHECKIN
	 	 			  , R.CHECKOUT
	 	 			  , R.ACCOUNT_NUM
	 	 			  , R.ACCOUNT_HOL
	 	 			  , R.BANK
	 	 			  , R.ROOM_QUA
	 	 			  , R.ROOM_NO
	 	 	       FROM RESERVE R
	 	 	       JOIN MEMBER M ON (R.USER_NO = M.USER_NO)
	 	 	      WHERE R.RESER_STATE = 'Y'
	 	 	        AND R.USER_NO = #{ userNo }
	 	 	      ORDER BY USER_NO DESC) A)
 	 </select> -->
 	 
 	  	 
 	<select id="selectMyMemberList" parameterType="hashmap" resultMap="memberResultMap">
 		SELECT *
	FROM (SELECT ROWNUM RNUM, A.*
	FROM (select 
	            user_no
	          , user_id
	          , user_pwd
	          , user_name
	          , nickName
	          , profile_path
	          , email
	          , user_phone
	          , status
	          , create_Date
	          , modify_date
	      from member
	      where status = 'Y'
	       and user_no = #{ userNo }
	ORDER BY user_no DESC) A)
	where RNUM between #{pi.startRow} and #{pi.endRow}
 	</select>
 	
 	<insert id="insertCampBusinessType" parameterType="string">
		INSERT INTO CAMP_BUSINESS_TYPE 
		VALUES (
				SEQ_CAMP_NO.CURRVAL
   			  , #{ btype }
			    )
	</insert>
	
	<insert id="insertCampFacility" parameterType="string">
		INSERT INTO CAMP_FACILITY 
		VALUES (
				SEQ_CAMP_NO.CURRVAL
   				, #{ ftype }
   				)
	</insert>
 	
 	<update id="updateProfilePath" parameterType="com.cp.campers.member.model.vo.Member">
 		UPDATE MEMBER
 		   SET PROFILE_PATH = #{ profilePath }
 		 WHERE USER_NO = #{ userNo } 	
 	</update>
 	
 	
</mapper>