@charset "UTF-8";

body {
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

input:focus {
    outline:none;
}

img{
max-width: 100%;
height: auto !important;
}

li{
    list-style: none;
}


/* 검색 페이지 */
.search-wrapper{
    max-width: 1900px;
    padding-bottom: 10%;
    margin: auto;
    display: grid;
}

.search-camping{
    width: 1300px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 20%;
    align-items: center;
    
}

.search-check{
    width: 30%;
    height: 1280px;
    order : 1;
    background-color: #EEEEEE;
    padding: 2% 2% 1% 3%;
    border-radius: 25px;
}

.search-list{
    width: 60%;
    order: 2;

}

.area-text{
    cursor: pointer;
}

input[type=text]{
    width: 90%;
    border: 1px solid #D6D6D6;
    border-radius: 20px;
    font-size: 15px;
    height: 50px;
    color: black;
    padding-left: 5%;
}


.search-number-input [type=search]{
    border: none;
    background-color: white;
    font-size: 15px;
    height: 50px;
}

.search-number-wrap{
    width: 95%;
    border: 1px solid #D6D6D6;
    border-radius: 20px;
    color: black;
    padding-left: 5%;
    background-color: white;
}

/* input number 스타일 초기화 */
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .search-number-wrap {
    display: inline-flex;
  }
  
  .search-number-wrap,
  .search-number-wrap * {
    box-sizing: border-box;
  }
  
  .search-number-wrap button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 50px;
    cursor: pointer;
    margin: 0;
    position: relative;
  }
  
  .search-number-wrap button:before,
  .search-number-wrap button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
  }
  .search-number-wrap button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .search-number-wrap input[type=number] {
    font-family: 'Noto Sans KR';
    max-width: 5rem;
    padding: .5rem;
    border: none;
    border-width: 0 2px;
    font-size: 18px;
    height: 3rem;
    font-weight: bold;
    text-align: center;
  }




.search-date input[type=text]{
    background-image : url("/resources/images/search/calendar.png"); 
    background-position: right; 
    background-position-x: 90%;
    background-repeat:no-repeat;
    background-size: 30px;
}

.search-camping-form p{
    font-size: 20px;
    font-weight: 600;
    margin-left: 5%;
    margin-top: 5%;
}

.search-type input[type="checkbox"]{
    display:none;
  }

.search-type input[type="checkbox"] + span{
    background:white;
    border:1px solid #dfdfdf;  
    border-radius: 25px;
    font-weight:500;
    cursor:pointer;
    padding: 2% 5% 2% 5%;
    margin-right: 3%;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    margin-top: 3%;
}

.search-type input[type="checkbox"]:checked + span{
    border:1px solid  rgb(0, 0, 0);
    background:rgb(0, 0, 0);
    color:#fff;
  }
  
.search-camp-type, .search-convenient-type, .search-bottom-type{
    margin-top: 10%;
}
.camp-type-btn{
    margin-left: 3%;
}

.search-style{
    width: 65px;
}

.search-submit input[type="submit"]{
    border: none;
}
.search-submit input[type="submit"] {
    width: 350px;
    margin-left: 3%;
    margin-top: 20%;
    font-size: 25px;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;
    border-radius: 2rem;
    border: 2.3px solid black;
    background-image: url("/resources/images/search/search2.png");
    background-position:  90% 7px;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
}

.search-submit input[type="submit"]:hover {
    background-color: black;
    color: white;
    background-image: url("/resources/images/search/search.png");
}

.search-submit-img{
    width: 20px;
}



/* 조회 리스트 */
.search-contents{
    width: 90%;
}

.search-list-col{
    width: 250px;
    display: inline;
}

.list-col-wrapper{
    margin-left: 5%;
    border-bottom: 1px solid #dfdfdf;
}

.search-list-top{
    border-left: 1px solid #dfdfdf;
    margin-left: 5%;
    height: 1280px;
}

.list-top-text{
    margin-left: 5%;
    border-bottom: 1px solid #dfdfdf;
    
}

.list-col-img{
    height: 180px;
    margin : 5% 2% 2% 2%;
    display: flex;
    padding-bottom: 5%;
}

.list-col-img img{
    border: 1px solid #dfdfdf;
    border-radius: 15px;
    height: 180px;
}

.list-col-text li{
    width: 300px;
}

.list-col-text{
    line-height: 30px;
}

.list-col-address {
    font-size: 14px;
    color: rgb(129, 129, 129);
}

.list-col-name{
    font-size: 20px;
    font-weight: 600;
}

.list-col-count{
    font-size: 14px;
    color: rgb(129, 129, 129);
    margin-top: 5%;
}

.list-col-price{
    font-size: 18px;
    margin-top: 1%;
    color: #A86565;
    font-weight: 600;
}

.list-col-wrapper a{
	text-decoration:none;
	color: black;
}

/* .list-col-state{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.list-bookable{
    width: 65px;
    background-color: tomato;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
    margin-right: 5%;
    margin-top: -3%;
    padding-left: 2%;
    padding-right: 2%;
}

.list-booked{
    width: 65px;
    background-color: #CACACA;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
    margin-right: 5%;
    margin-top: -3%;
    padding-left: 2%;
    padding-right: 2%;
} */


/* 페이징 */
.member_pages {
    margin: 10px;
}
.member_paging {
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    width: 480px;
    margin: auto;
    align-items: center;
}
.member_paging a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
}
.member_paging li{
    width: 45px;
}
.member_paging .current_page {
    background-color: black;
    border-radius: 100%;
    margin: 17px auto;
    width: 25px;
    height: 25px;
    color: white;
}
.member_paging .current_page a{
    color: white;
}