<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.campers.camp.model.dao.CampMapper">
	
	<!-- 회원 -->
	<resultMap type="com.cp.campers.member.model.vo.Member" id="memberResultMap">
		<id property="userNo" column="USER_NO"/>
		<result property="id" column="USER_ID"/>
		<result property="pwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="nickName" column="NICKNAME"/>
		<result property="profilePath" column="PROFILE_PATH"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="USER_PHONE"/>
		<result property="status" column="STATUS"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<collection property="memberRoleList" resultMap="memberRoleResultMap"/>
	</resultMap>

	<resultMap type="com.cp.campers.member.model.vo.MemberRole" id="memberRoleResultMap">
		<id property="memberNo" column="USER_NO"/>
		<id property="authorityCode" column="AUTHORITY_CODE"/>
		<association property="authority" resultMap="authorityResultMap"/>
	</resultMap>
	
   <resultMap type="com.cp.campers.member.model.vo.Authority" id="authorityResultMap">      <!-- 위의 association(1대 1)에서의 resultMap이랑 여기서 id랑 일치시키기 -->
      <id property="authorityCode" column="AUTHORITY_CODE"/>
      <result property="authorityName" column="AUTHORITY_NAME"/>
      <result property="authorityDesc" column="AUTHORITY_DESC"/>
   </resultMap>
   
   <!-- 회원 --> 
   <resultMap type="com.cp.campers.camp.model.vo.Camp" id="campResultMap">
		<id property="campNo" column="CAMP_NO"/>
		<result property="campName" column="CAMP_NAME"/>
		<result property="userNo" column="USER_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="userName" column="USER_NAME"/>
		<result property="campAddress" column="CAMP_ADDRESS"/>
		<result property="campPhone" column="CAMP_PHONE"/>
		<result property="campIntro" column="CAMP_INTRO"/>
		<result property="campPath" column="CAMP_PATH"/>
		<result property="campPolicy" column="CAMP_POLICY"/>
		<result property="campStatus" column="CAMP_STATUS"/>
		<result property="accountNum" column="ACCOUNT_NUM"/>
		<result property="bank" column="BANK"/>
		<result property="checkin" column="CHECKIN"/>
		<result property="checkout" column="CHECKOUT"/>
		<result property="refusal" column="REFUSAL"/>
		<collection property="campRecordList" resultMap="campRecordResultMap"/>
		<collection property="imgFileList" resultMap="imageFileResultMap"/>
		<collection property="businessTypeList" resultMap="businessTypeResultMap"/>
		<collection property="facilityList" resultMap="facilityResultMap"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.admin.model.vo.CampRecord" id="campRecordResultMap">
		<id property="crNo" column="CR_NO"/>
		<result property="recordDate" column="RECORD_DATE"/>
		<result property="campNo" column="CAMP_NO"/>
		<result property="recordNo" column="RECORD_NO"/>
		<association property="record" resultMap="recordResultMap"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.admin.model.vo.Record" id="recordResultMap">
		<id property="recordNo" column="RECORD_NO"/>
		<result property="recordName" column="RECORD_NAME"/>
	</resultMap>
	
	<!-- 객실 -->	
	<resultMap type="com.cp.campers.camp.model.vo.Room" id="roomResultMap">
		<id property="roomNo" column="ROOM_NO"/>
		<result property="roomName" column="ROOM_NAME"/>
		<result property="roomMember" column="ROOM_MEMBER"/>
		<result property="roomPrice" column="ROOM_PRICE"/>
		<result property="roomSize" column="ROOM_SIZE"/>
		<result property="roomFloor" column="ROOM_FLOOR"/>
		<result property="roomParking" column="ROOM_PARKING"/>
		<result property="roomInfo" column="ROOM_INFO"/>
		<result property="roomAmount" column="ROOM_AMOUNT"/>
		<result property="roomForm" column="ROOM_FORM"/>
		<result property="roomCount" column="ROOM_COUNT"/>
		<result property="campNo" column="CAMP_NO "/>
		<collection property="imgFileList" resultMap="imageFileResultMap"/>		
	</resultMap>
	
	
	<resultMap type="com.cp.campers.camp.model.vo.ImageFile" id="imageFileResultMap">
		<id property="fileNo" column="FILE_NO"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileRoute" column="FILE_ROUTE"/>
		<result property="fileStatus" column="FILE_STATUS"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.camp.model.vo.BusinessType" id="businessTypeResultMap">
		<id property="bNo" column="BUSINESS_NO"/>
		<result property="bType" column="BUSINESS_TYPE"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.camp.model.vo.Facility" id="facilityResultMap">
		<id property="fNo" column="FACILITY_NO"/>
		<result property="fName" column="FACILITY_NAME"/>
		<result property="fType" column="FACILITY_TYPE"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.mypage.model.vo.CampFile" id="campFileResultMap">
		<id property="campNo" column="CAMP_NO"/>
		<result property="fileNo" column="FILE_NO"/>
	</resultMap>
	
	<resultMap type="com.cp.campers.camp.model.vo.Review" id="reviewResultMap">
		<id property="rid" column="REVIEW_NO"/>
		<result property="writer" column="USER_NO"/>
		<result property="nickName" column="NICKNAME"/>
		<result property="rcontent" column="RCONTENT"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="reserNo" column="RESER_NO"/>
		<result property="campNo" column="CAMP_NO"/>
		<result property="profilePath" column="PROFILE_PATH"/>
	</resultMap>
	

	<select id="campDetail" parameterType="_int" resultMap="campResultMap">
		SELECT
		      C.CAMP_NO
		    , C.CAMP_NAME
		    , C.USER_NO
		    , M.USER_NO
		    , M.USER_NAME
		    , C.CAMP_ADDRESS
		    , C.CAMP_PHONE
		    , C.CAMP_INTRO
		    , C.CAMP_PATH
		    , I.FILE_NO
            , I.FILE_NAME
            , I.FILE_ROUTE
		    , C.CAMP_POLICY
		    , C.CAMP_STATUS
		    , C.ACCOUNT_NUM
		    , C.BANK
		    , C.CHECKIN
		    , C.CHECKOUT
            , CBT.BUSINESS_NO
            , BT.BUSINESS_TYPE
            , CFT.FACILITY_NO
            , F.FACILITY_NAME
            , F.FACILITY_TYPE
		    FROM CAMP C
		    LEFT JOIN MEMBER M ON(C.USER_NO = M.USER_NO)
            LEFT JOIN CAMP_FILE CF ON(C.CAMP_NO = CF.CAMP_NO)
            LEFT JOIN IMAGEFILE I ON(I.FILE_NO = CF.FILE_NO)
            LEFT JOIN CAMP_BUSINESS_TYPE CBT ON(C.CAMP_NO = CBT.CAMP_NO)
            LEFT JOIN BUSINESS_TYPE BT ON(BT.BUSINESS_NO = CBT.BUSINESS_NO)
            LEFT JOIN CAMP_FACILITY CFT ON(C.CAMP_NO = CFT.CAMP_NO)
            LEFT JOIN FACILITY F ON(CFT.FACILITY_NO = F.FACILITY_NO)
		   WHERE C.CAMP_NO = #{campNo}
		     AND I.FILE_STATUS = 'N'
	</select>
	
	<select id="roomList" parameterType="_int" resultMap="roomResultMap">
		SELECT
			  R.ROOM_NO
			, R.ROOM_NAME
            , R.ROOM_MEMBER
            , R.ROOM_PRICE
            , R.ROOM_SIZE
            , R.ROOM_FLOOR
            , R.ROOM_PARKING
            , R.ROOM_INFO
            , R.ROOM_AMOUNT
            , R.ROOM_FORM
            , I.FILE_NAME
            , I.FILE_ROUTE
		 FROM ROOM R
		 JOIN ROOM_FILE RF ON(R.ROOM_NO = RF.ROOM_NO)
		 JOIN IMAGEFILE I ON(I.FILE_NO = RF.FILE_NO)
		WHERE R.CAMP_NO = #{ campNo }
		  AND I.FILE_STATUS = 'N'
		  AND I.FILE_LEVEL = '1'
	</select>
	
	<select id="roomDetail" parameterType="_int" resultMap="roomResultMap">
		SELECT
			  R.ROOM_NO
			, R.ROOM_NAME
            , R.ROOM_MEMBER
            , R.ROOM_PRICE
            , R.ROOM_SIZE
            , R.ROOM_FLOOR
            , R.ROOM_PARKING
            , R.ROOM_INFO
            , R.ROOM_AMOUNT
            , R.ROOM_FORM
            , I.FILE_NAME
            , I.FILE_ROUTE
		 FROM ROOM R
		 JOIN ROOM_FILE RF ON(R.ROOM_NO = RF.ROOM_NO)
		 JOIN IMAGEFILE I ON(I.FILE_NO = RF.FILE_NO)
		WHERE R.ROOM_NO = #{ roomNo }
		  AND I.FILE_STATUS = 'N'
	</select>
	
	<select id="reviewList" parameterType="_int" resultMap="reviewResultMap">
		SELECT
			  REVIEW_NO
            , USER_NO
            , NICKNAME
            , RCONTENT
            , R.CREATE_DATE
            , R.STATUS
            , RESER_NO
            , CAMP_NO
            , PROFILE_PATH
         FROM REVIEW R
         JOIN MEMBER M USING(USER_NO)
        WHERE CAMP_NO = #{ campNo }
          AND R.STATUS = 'N'
	</select>
	
	<insert id="insertReview" parameterType="com.cp.campers.camp.model.vo.Review">
		INSERT INTO REVIEW (REVIEW_NO, USER_NO, RCONTENT, CREATE_DATE, STATUS, RESER_NO, CAMP_NO)
		VALUES (SEQ_REVIEW_NO.NEXTVAL
              , #{ userNo }
              , #{ rcontent }
              , DEFAULT
              , DEFAULT
              , #{ reserNo }
              , #{ campNo })
	</insert>
	
	<update id="reviewDelete" parameterType="_int">
		 UPDATE REVIEW
		    SET STATUS = 'Y'
		  WHERE REVIEW_NO = #{ rid }
	</update>
	
</mapper>