@charset "UTF-8";

body {
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

input:focus {outline:none;}

img{
max-width: 100%;
height: auto !important;
}

/* main 컨텐츠 */
.main-wrapper{
    max-width: 1900px;
    margin : 0 auto;
}
.mainPage{
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.main-page-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: auto;
}

/* 검색 */
.main-search{
    width: 600px;
    height: 230px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 1% 1% 1% 1%;
}

.main-search-check{
    width: 500px;
    display: flex;
    justify-content:center;
    flex-direction: column;
}

.main-search-top{
    display: flex;
    justify-content:center;
}

.container {
 margin-right: 3%;   
}
.container label{
    width: 100%;
    font-weight: 600;
    font-size: 12px;
    align-items: center;
}

.main-checkDate label{
    width: 200px;
}


.main-checkDate label input[type=text]{
    width: 150px;
    display: flex;
    justify-content: center;
    margin-bottom: -5%;
    font-size: 12px;
    cursor: pointer;
}

.main-area:hover, .main-checkDate:hover{
    font-weight: 600;
    font-size: 12px;
    color: rgb(231, 111, 82);
    transition: 0.3s;
}

.area-text{
    font-size: 12px;
    border: none;
    color: rgb(121, 121, 121);
    display: block;
    margin-top: 10%;
    background-color: white;
}

.container img{
    width: 30px;
    height: 20px;
    margin-right: 7%;
}

.number-btn{
    border: 0.3px solid rgb(161, 161, 161);
    margin-left: 3%;
    padding: 4% 3% 0% 3%;
    border-radius: 100%;
    display: inline;
}

.number-btn:hover{
    transition: 0.1s;
    border: 0.3px solid rgb(161, 161, 161);
    background-color: rgba(160, 160, 160, 0.486);
}

#btn-minus{
    background: url('../image/minus.svg');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    border: none;
     
}
#btn-plus{
    border-radius: 80%;
    background: url('../image/plus.svg');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    border: none;
}

.main-guest{
    width: 150px;
}


#guest-number{
    border: none;
    width: 10px;
    margin-left: 3px;
    margin-right: -2%;
    position: relative;
    top: -3px;
    cursor:default;
}

/* 체크박스 버튼으로 변경 */
.checkbox-mainType input[type="checkbox"]{
    display:none;
  }
  
.checkbox-mainType input[type="checkbox"] + span{
    display:inline;
    background:none;
    border:1px solid #dfdfdf;  
    border-radius: 0px;
    padding: 40px 15px 10px 10px;
    text-align:center;
    height:60px;
    line-height:33px;
    font-weight:600;
    cursor:pointer;
    position: relative;
    top: 40px;
    margin-right: 2%;
  }

  .main-type-icon{
    width: 50px;
    padding-right: 2%;
  }
  
  
  .checkbox-mainType input[type="checkbox"]:checked + span{
    border:1px solid  rgb(231, 111, 82);
    background:rgb(231, 111, 82);
    color:#fff;
  }
   
.main-search-bottom{
    width: 550px;
    height: 120px;

}
.main-typeBtn{
  height: 80%;
  width: 90%;
  position: relative;
  left: 5%;

}

.main-search-sub{
    position: relative;
    top: 50%;
    width: 35px;
    height: 40px;
    background: url('../image/search2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border: none;
    cursor: pointer;
}

.main-search-sub:hover{
    background: url('../image/search.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

/* 슬라이드 갤러리 형식 추천 리스트 */
.mian-gallery-title{
    font-size: 20px;
    font-weight: 700;
    color: rgb(75, 75, 75);
    margin-left:8%;
    margin-top: 2%;
    margin-bottom: 2%;
}


.bestCamping{
    width: 100%;
    height: 200px;
    margin-top: 5%;  
    display: flex;
    justify-content:center; 
    flex-direction: column;
}

.slide-container{
    position: relative;

}

.main-slider{
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 28px;
}

.slide-text{
    text-align: center;
	position: absolute;
    top: 84%;
    font-size: 16px;
    color: black;
    background-color: rgba(255, 255, 255, 0.801);
    width: 220px;
    display: none;
}

.main-slide img{
    width: 220px;
}

.main-slide-wrapper{
    width: 90%;
    margin-left: 1%;
   display: inline;
}

#main-arrow{
    width: 25px;
    cursor: pointer;
    display: inline;
}
#main-arrow img{
    width: 25px;
    cursor: pointer;
    display: inline;
    opacity: 0.4;
}

/* TOP3 추천 리스트 */

.main-list{
    height: 100%;
}
.main-best-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-best-content{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    margin-bottom: 10%;

}

.main-best-img{
    height: 150px;
    display: inline;
    align-items: center;
}

.main-best-img img{
   width: 180px;
   margin-left: 10px;
   margin-top: 10px;
   align-items: center;
}

.main-img-wrap{
    background-color: white;
    width: 200px;
    height: 105%;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}

.text{
    text-align: center;
    font-size: 12px;
}

.main-best-title{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: -3%;
}

.mian-new-title{
    font-size: 20px;
    font-weight: 700;
    color: rgb(75, 75, 75);
    margin-left:8%;
    margin-bottom: 2%;
    margin-top: -9%;
}


/* 고객센터로 이동하는 이미지 버튼 */
.main-qna-img{
    margin-top: 5%;
    width: 700px;
}
.main-qna-img img{
    width: 700px;
    border-radius: 40px;
    overflow: hidden;
}

.main-qna-txt{
    position: relative;
    top: 100px;
    font-size: 25px;
    color: white;
    font-weight: 700;
}